@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type='text/javascript'>
    var gcm = window.GuestCheckinManager;

    function prepareProperty() {
        var property = {};
        property.State = {};
        property.Country = {};
        property.City = {};        
        property.IsActive = true;
        property.CloseOfDayTime = $('#closeofdaytime').val();
        property.CheckinTime = $('#checkintime').val();
        property.CheckoutTime = $('#checkouttime').val();
        property.PropertyDetails = $('#owner').val();
        property.PropertyName = $('#propertyName').val();
        property.PropertyCode = $('#propertyCode').val();
        property.FullAddress = $('#fulladdress').val();
        property.WebSiteAddress = $('#website').val();
        property.SecondaryName = $('#secondaryName').val();
        property.Phone = $('#phone').val();
        property.Fax = $('#fax').val();
        property.TimeZone = $('#timezone').val();
        property.CurrencyID = $('#ddlCurrency').val();
        property.State.ID = $('#ddlState').val();
        property.Country.Id = $('#ddlCountryProp').val();
        property.City.Id = $('#ddlCity').val();
        property.ZipCode = $('#zipCode').val();
        //property.LogoPath = $('#dateTo').val();
        return property;
    }

    function validatePropertyInputs() {
        var propertyName = $('#propertyName').val();
        var closeOfDayTime = $('#closeofdaytime').val();
        var checkinTime = $('#checkintime').val();
        var checkoutTime = $('#checkouttime').val();
        var propertyDetails = $('#owner').val();
        var propertyCode = $('#propertyCode').val();
        var fullAddress = $('#fulladdress').val();
        var webSiteAddress = $('#website').val();
        var phone = $('#phone').val();
        var fax = $('#fax').val();        
        var timeZone = $('#timezone').val();
        var currencyId = $('#ddlCurrency').val();
        var state = $('#ddlState').val();
        var country = $('#ddlCountryProp').val();
        var city = $('#ddlCity').val();
        var zipCode = $('#zipCode').val();
        var secondaryName = $('#secondaryName').val();
        //var logoPath = $('#dateTo').val();

        if (!propertyName || propertyName.length <= 0) {
            alert("Property Name is required");
            $('#propertyName').focus();
            return false;
        }
       
        if (!propertyCode || propertyCode.length <= 0) {
            alert("Property Code is required");
            $('#propertyCode').focus();
            return false;
        }        
       
        if (!webSiteAddress || webSiteAddress.length <= 0) {
            alert("WebSite Address is required");
            $('#website').focus();
            return false;
        }

        if (!timeZone || timeZone.length <= 0) {
            alert("Time zone is required");
            $('#timezone').focus();
            return false;
        }

        if (!currencyId || currencyId === '-1') {
            alert("Please select currency.");
            return false;
        }

        if (!phone || phone.length <= 0) {
            alert("Phone is required");
            $('#phone').focus();
            return false;
        }
        
        if (!propertyDetails || propertyDetails.length <= 0) {
            alert("Owner is required");
            $('#owner').focus();
            return false;
        }

        if (!country || country === '-1') {
            alert("Please select country.");
            return false;
        }

        if (!state || state === '-1') {
            alert("Please select state.");
            return false;
        }
        if (!city || city === '-1') {
            alert("Please select city.");
            return false;
        }

        if (!zipCode || zipCode.length <= 0) {
            alert("ZipCode is required");
            $('#zipCode').focus();
            return false;
        }

        if (!fax || fax.length <= 0) {
            alert("Fax is required");
            $('#fax').focus();
            return false;
        }

        if (!checkinTime || checkinTime.length <= 0) {
            alert("Checkintime is required");
            $('#checkintime').focus();
            return false;
        }        

        if (!checkoutTime || checkoutTime.length <= 0) {
            alert("CheckoutTime is required");
            $('#checkouttime').focus();
            return false;
        }        

        if (!closeOfDayTime || closeOfDayTime.length <= 0) {
            alert("Close of daytime is required");
            $('#closeOfDayTime').focus();
            return false;
        }

        if (!fullAddress || fullAddress.length <= 0) {
            alert("FullAddress is required");
            $('#fulladdress').focus();
            return false;
        }

        if (checkinTime.indexOf(':') <= 0) {
            alert("Checkintime should be in time format eg: hh:mm:ss");
            $('#checkintime').focus();
            return false;
        }

        if (checkinTime.indexOf(':') > 0 && checkinTime.split(":").length > 3) {
            alert("Checkintime should be in time format eg: hh:mm:ss");
            $('#checkintime').focus();
            return false;
        }

        if (checkoutTime.indexOf(':') <= 0) {
            alert("CheckoutTime should be in time format eg: hh:mm:ss");
            $('#checkouttime').focus();
            return false;
        }

        if (checkoutTime.indexOf(':') > 0 && checkoutTime.split(":").length > 3) {
            alert("CheckoutTime should be in time format eg: hh:mm:ss");
            $('#checkouttime').focus();
            return false;
        }

        if (closeOfDayTime.indexOf(':') <= 0) {
            alert("CloseOfDayTime should be in time format eg: hh:mm:ss");
            $('#closeOfDayTime').focus();
            return false;
        }

        if (closeOfDayTime.indexOf(':') > 0 && closeOfDayTime.split(":").length > 3) {
            alert("CloseOfDayTime should be in time format eg: hh:mm:ss");
            $('#closeOfDayTime').focus();
            return false;
        }
        return true;
    }
    function makeFieldsReadonly(rowObject){
        rowObject.attr('contenteditable', 'false');
        rowObject.css('background-color', 'transparent');
    }
    function OnCountryChange(ddlCountry, ddlState, ddlCity) {
        gcm.OnCountryChange(ddlCountry, ddlState, ddlCity);
    }

    function OnStateChange(ddlState, ddlCity) {
        gcm.OnStateChange(ddlState, ddlCity);
    }

    function toggleButton(shouldDisable) {
        $('#update').attr("disabled", !shouldDisable);
        $('#create').attr("disabled", shouldDisable);
    }

    function openModal(){
        $('.modal-wrapper').toggleClass('open');
        $('.page-wrapper').toggleClass('blur');
        return false;
    }

    function populatePropertyDetails(property) {
        $('#closeofdaytime').val(property.CloseOfDayTime);
        $('#checkintime').val(property.CheckinTime);
        $('#checkouttime').val(property.CheckoutTime);
        $('#owner').val(property.PropertyDetails);
        $('#propertyName').val(property.PropertyName);
        $('#propertyCode').val(property.PropertyCode);
        $('#fulladdress').val(property.FullAddress);
        $('#website').val(property.WebSiteAddress);
        $('#secondaryName').val(property.SecondaryName);
        $('#phone').val(property.Phone);
        $('#fax').val(property.Fax);
        $('#timezone').val(property.TimeZone);
        $('#ddlCurrency').val(property.CurrencyID);        
        $('#zipCode').val(property.Zipcode);
        $('#ddlCountryProp').val(property.Country.Id);
        gcm.OnCountryChange($('#ddlCountryProp')[0], $('#ddlState'), $('#ddlCity'));
        $('#ddlState').val(property.State.Id);
        gcm.OnStateChange($('#ddlState')[0], $('#ddlCity'));
        $('#ddlCity').val(property.City.Id);
    }

    $(document).ready(function () {

        gcm.GetAllProperty();
        
        $('#checkintime').keydown(function (e) {
            gcm.IsTime(e);
        });

        $('#checkouttime').keydown(function (e) {
            gcm.IsTime(e);
        });

        $('#closeofdaytime').keydown(function (e) {
            gcm.IsTime(e);
        });

        $('#phone').keydown(function (e) {
            gcm.IsNumeric(e);
        });

        $('#fax').keydown(function (e) {
            gcm.IsNumeric(e);
        });

        $('#zipCode').keydown(function (e) {
            gcm.IsNumeric(e);
        });

        $("#createRow").click(function () {
            gcm.GetCountry($('#ddlCountryProp'));
            gcm.ClearPropertyFields();
        });

        $("#cancel").click(function () {
            $('#propmodal').removeClass('open');
        });

        $("#create").click(function () {
            if (!validatePropertyInputs()) return;
            var property = prepareProperty();
            gcm.AddProperty(property);
        });

        $("#update").click(function () {            
            if (!validatePropertyInputs()) return;
            var propertyId = $('#hdnPropertyId').val();
            var property = prepareProperty();
            property.CreatedOn = $('#hdnCreatedOn').val();
            property.CreatedBy = $('#hdnCreatedBy').val();
            property.Id = propertyId;
            gcm.UpdateProperty(property);
        });

        $("#divProperty").on("click", ".fa-minus-circle", function () {
            if (confirm("Are you sure you want to delete ?")) {                
                var propertyId = $(this).closest('tr')[0].id;
                $(this).closest('tr').remove();
                if (propertyId <= 0) return;
                gcm.DeleteProperty(propertyId);
            }           
        });

        $("#divProperty").on("click", ".fa-pencil-square-o, .fa-floppy-o", function () {
            $('#hdnPropertyId').val('');
            $('#hdnCreatedOn').val('');
            $('#hdnCreatedBy').val('');
            var thisRow = $(this).parent().siblings();
            var editOn = $(this).hasClass("editMode");
            var propertyId = $(thisRow)[0].innerText;
            var existingProperty = gcm.FindSetting(propertyId, window.GuestCheckinManager.PropertySettingResponseDto.PropertySetting);
            if (!existingProperty) {
                alert('Selected property is not valid');
                return;
            }
            if (propertyId > 0) {
                toggleButton(true);
            }
            $('#hdnPropertyId').val(propertyId);
            $('#hdnCreatedOn').val(existingProperty.CreatedOn);
            $('#hdnCreatedBy').val(existingProperty.CreatedBy);
            gcm.GetCountry($('#ddlCountryProp'));
            gcm.GetStateByCountry(-1);
            gcm.GetCityByState(-1);
            openModal();
            populatePropertyDetails(existingProperty);
        });

        $('#createRow, .trigger').click(function () {
            toggleButton(false);
            openModal();
        });
    });

</script>

<div class="content-wrap">
    <div class="main controls">
        <div class="container-fluid">
            <div class="col-lg-12 p-r-0 p-l-0">
                <div class="card alert">
                    <div class="card-header">
                        <h4>Create Property</h4>
                    </div>
                    <div class="card-body room-details">
                        <div class="row" style="">
                            <div class="form-group col-lg-5 m-t-10">
                                <input type="text" class="search form-control" placeholder="Search by Property Name, Owner Name, Country ...">
                            </div>

                            <div class="col-lg-7 p-l-0 p-r-15">
                                <div class="form-group">
                                    <button id="createRow" class="btn btn-primary m-l-5 m-t-10 btn-side" type="button">Create Property</button>
                                </div>
                            </div>

                            <div id="divProperty" class="table-data">
                                <span class="counter"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div id="propmodal" class="modal-wrapper">
    <div class="modal">
        <div class="head">
            <span class="label-head">Create Property</span><a class="btn-close trigger" href="javascript:;"></a>
        </div>
        <div class="content">
            <div class="contact-information">

                <div class="state-content">
                    <div class="col-lg-3 p-l-0">
                        <div class="form-group">
                            <input id="propertyName" type="text" placeholder="Property Name" class="form-control" name="example-input-normal">
                        </div>
                    </div>
                    <div class="col-lg-3 p-l-0">
                        <div class="form-group">
                            <input id="propertyCode" type="text" placeholder="Property Code" class="form-control" name="example-input-normal">
                        </div>
                    </div>
                    <div class="col-lg-3 p-l-0">
                        <div class="form-group">
                            <input id="secondaryName" type="text" placeholder="Secondary Name" class="form-control" name="example-input-normal">
                        </div>
                    </div>
                    <div class="col-lg-3 p-r-0 p-l-0">
                        <div class="form-group">
                            <input id="website" type="text" placeholder="Website Address" class="form-control" name="example-input-normal">
                        </div>
                    </div>
                    <div class="col-lg-3 p-l-0">
                        <div class="form-group">
                            <input id="timezone" type="text" maxlength="10" placeholder="Time Zone" class="form-control" name="example-input-normal">
                        </div>
                    </div>

                    <div class="col-lg-3 p-l-0">
                        <div class="form-group">
                            <select id="ddlCurrency" class="form-control">
                                <option value="-1">Select Currency</option>
                                <option value="1">USD</option>
                            </select>
                        </div>
                    </div>
                    
                    <div class="col-lg-3 p-l-0">
                        <div class="form-group">
                            <input id="phone" type="text" maxlength="10" placeholder="Phone" class="form-control" name="example-input-normal">
                        </div>
                    </div>
                    <div class="email-content">
                        <div class="col-lg-3 p-r-0 p-l-0">
                            <div class="form-group">
                                <input id="owner" type="text" placeholder="Owner" class="form-control" name="example-input-normal">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 p-l-0">
                        <div class="form-group">
                            <select id="ddlCountryProp" onchange="OnCountryChange(this, $('#ddlState'), $('#ddlCity'));" class="form-control">
                                <option value="-1">Select Country</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3 p-l-0">
                        <div class="form-group">
                            <select id="ddlState" onchange="OnStateChange(this, $('#ddlCity'));" class="form-control">
                                <option value="-1">Select State</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="zipcode-content">
                    <div class="col-lg-3 p-l-0">
                        <div class="form-group">
                            <select id="ddlCity" class="form-control">
                                <option value="-1">Select City</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3 p-r-0 p-l-0">
                        <div class="form-group">
                            <input type="text" id="zipCode" maxlength="6" placeholder="ZipCode" class="form-control" name="example-input-normal">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 p-l-0">
                    <div class="form-group">
                        <input id="fax" type="text" maxlength="10" placeholder="Fax" class="form-control" name="example-input-normal">
                    </div>
                </div>
                <div class="col-lg-3 p-l-0">
                    <div class="form-group">
                        <input id="checkintime" type="text" placeholder="Check-In Time" class="form-control" name="example-input-normal">
                    </div>
                </div>
                <div class="col-lg-3 p-l-0">
                    <div class="form-group">
                        <input id="checkouttime" type="text" placeholder="Checkout Time" class="form-control" name="example-input-normal">
                    </div>
                </div>
                <div class="col-lg-3 p-r-0 p-l-0">
                    <div class="form-group">
                        <input id="closeofdaytime" type="text" maxlength="10" placeholder="Close of Day Time" class="form-control" name="example-input-normal">
                    </div>
                </div>
                <div class="col-lg-6 p-l-0">
                    <div class="form-group">
                        <textarea id="fulladdress" class="form-control" rows="3" placeholder="Full Address"></textarea>
                    </div>
                </div>
            </div>
            <div class="button-section">
                <button id="cancel" type="button" class="btn btn-primary m-l-5 m-t-15">Cancel</button>
                <button id="create" type="button" class="btn btn-primary m-l-5 m-t-15">Create</button>
                <button id="update" disabled="disabled" type="button" class="btn btn-primary m-l-5 m-t-15">Update</button>
            </div>
            <input type="hidden" value="" id='hdnPropertyId'>
            <input type="hidden" value="" id='hdnCreatedOn'>
            <input type="hidden" value="" id='hdnCreatedBy'>
        </div>
    </div>
</div>
<div id="divLoader">
    <div class="loader" style="display:none;">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
    </div>
</div>
<script type="text/html" id="propertyTemplate">
    <table class="table table-hover table-bordered results tableContents">
        <thead>
            <tr>
                <th id="IDCol">ID #</th>
                <th id="propertyNameCol" contenteditable="false">Property Name</th>
                <th id="ownerCol" contenteditable="false">Owner</th>
                <th id="countryCol" contenteditable="false">Country</th>
                <th id="stateCol" contenteditable="false">State</th>
                <th id="cityCol" contenteditable="false">City</th>
                <th id="createdDateCol" contenteditable="false">Created Date</th>
                <th id="updatedDateCol" contenteditable="false">Updated Date</th>
            </tr>
        </thead>
        <tbody>
            {{each Properties}}
            <tr id="${$value.Id}">
                <td class="idRow" contenteditable="false">${$value.Id}</td>
                <td contenteditable="false">${$value.PropertyName}</td>
                <td contenteditable="false">${$value.PropertyDetails}</td>
                <td contenteditable="false">${$value.Country.Name}</td> 
                <td contenteditable="false">${$value.State.Name}</td>
                <td contenteditable="false">${$value.City.Name}</td>
                <td contenteditable="false">${$value.CreatedOn}</td>
                <td contenteditable="false">${$value.LastUpdatedOn}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</script>