@{
    ViewBag.Title = "Index";
//    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type='text/javascript'>
    var gcm = window.GuestCheckinManager;
    $(document).ready(function () {

        window.GuestCheckinManager.GetAllProperty();

        $("table").on("click", ".fa-plus-circle", function () {
            $(this).closest('tr').after('<tr><td class="idRow" contenteditable="false">-</td><td contenteditable="false">-</td><td contenteditable="false">-</td><td contenteditable="false">-</td><td contenteditable="false">-</td><td contenteditable="false">-</td><td contenteditable="false">-</td><td class="finalActionsCol"><i class="fa fa-plus-circle" aria-hidden="true"></i> <i class="fa fa-minus-circle" aria-hidden="true"></i> <i class="fa fa-pencil-square-o" aria-hidden="true"></i> </td></tr>');
        });

        $("table").on("click", ".fa-minus-circle", function () {
            //if (prompt("Are You Sure You Want to Delete this Row? Type 'yes' to Confirm this") == "yes") {
            $(this).closest('tr').remove();
            //} else { }
        });

        $("table").on("click", ".fa-pencil-square-o, .fa-floppy-o", function () {
            var thisRow = $(this).parent().siblings();
            var editOn = $(this).hasClass("editMode");

            $('td:last-child').attr('contenteditable', 'false');
            $('td:last-child').css('background-color', 'transparent');

            if (editOn == false) {
                $(thisRow).attr('contenteditable', 'true');
                $(thisRow).css('background-color', '#ffc9c9');
                $(this).removeClass("fa-pencil-square-o");
                $(this).addClass("fa-floppy-o editMode");
            } else if (editOn == true) {
                $(thisRow).attr('contenteditable', 'false');
                $(thisRow).css('background-color', 'transparent');
                $(this).removeClass("fa-floppy-o editMode");
                $(this).addClass("fa-pencil-square-o");
            }
        });

        $('#createRow, .trigger').click(function () {
            $('.modal-wrapper').toggleClass('open');
            $('.page-wrapper').toggleClass('blur');
            return false;
        });
    });

</script>

<div class="content-wrap">
    <div class="main controls">
        <div class="container-fluid">
            <div class="main-content">
                <div class="form-group m-t-10">
                    <input type="text" class="search form-control" placeholder="Search by Property Name, Owner Name, Country ...">
                </div>
                <span class="counter"></span>
                <div id="divProperty">

                </div>
                <br>
                <button id="createRow" class="btn btn-primary m-l-5 m-t-15" type="button">Create</button>
            </div>
        </div>
    </div>
</div>
<div class="modal-wrapper">
    <div class="modal">
        <div class="head">
            <span class="label-head">Create Property</span><a class="btn-close trigger" href="javascript:;"></a>
        </div>
        <div class="content">
            <div class="contact-information">

                <div class="state-content">
                    <div class="col-lg-3 p-l-0">
                        <div class="form-group">
                            <input id="property-name" type="text" maxlength="10" placeholder="Property Name" class="form-control" name="example-input-normal">
                        </div>
                    </div>
                    <div class="col-lg-3 p-l-0">
                        <div class="form-group">
                            <input id="property-code" type="text" maxlength="10" placeholder="Property Code" class="form-control" name="example-input-normal">
                        </div>
                    </div>
                    <div class="col-lg-3 p-l-0">
                        <div class="form-group">
                            <input id="secondry-name" type="text" maxlength="10" placeholder="Secondry Name" class="form-control" name="example-input-normal">
                        </div>
                    </div>
                    <div class="col-lg-3 p-r-0 p-l-0">
                        <div class="form-group">
                            <input id="website" type="text" maxlength="10" placeholder="Website Address" class="form-control" name="example-input-normal">
                        </div>
                    </div>
                    <div class="col-lg-3 p-l-0">
                        <div class="form-group">
                            <input id="timezone" type="text" maxlength="10" placeholder="Time Zone" class="form-control" name="example-input-normal">
                        </div>
                    </div>
                    <div class="col-lg-3 p-l-0">
                        <div class="form-group">
                            <input id="currency" type="text" maxlength="10" placeholder="Currency" class="form-control" name="example-input-normal">
                        </div>
                    </div>
                    <div class="col-lg-3 p-l-0">
                        <div class="form-group">
                            <input id="phone" type="text" maxlength="10" placeholder="Phone" class="form-control" name="example-input-normal">
                        </div>
                    </div>
                    <div class="email-content">
                        <div class="col-lg-3 p-r-0 p-l-0">
                            <div class="form-group">
                                <input type="text" placeholder="Email" class="form-control" name="example-input-normal" id="email">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 p-l-0">
                        <div class="form-group">
                            <select id="ddlCountry" onchange="OnCountryChange(true);" class="form-control">
                                <option value="-1">Select Country</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3 p-l-0">
                        <div class="form-group">
                            <select id="ddlState" onchange="OnStateChange();" class="form-control">
                                <option value="-1">Select State</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="zipcode-content">
                    <div class="col-lg-3 p-l-0">
                        <div class="form-group">
                            <select id="ddlCity" class="form-control">
                                <option value="-1">Select City</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3 p-r-0 p-l-0">
                        <div class="form-group">
                            <input type="text" id="zipCode" maxlength="6" placeholder="ZipCode" class="form-control" name="example-input-normal">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 p-l-0">
                    <div class="form-group">
                        <input id="fax" type="text" maxlength="10" placeholder="Fax" class="form-control" name="example-input-normal">
                    </div>
                </div>
                <div class="col-lg-3 p-l-0">
                    <div class="form-group">
                        <input id="checkin-time" type="text" maxlength="10" placeholder="Check-In Time" class="form-control" name="example-input-normal">
                    </div>
                </div>
                <div class="col-lg-3 p-l-0">
                    <div class="form-group">
                        <input id="checkout-time" type="text" maxlength="10" placeholder="Checkout Time" class="form-control" name="example-input-normal">
                    </div>
                </div>
                <div class="col-lg-3 p-r-0 p-l-0">
                    <div class="form-group">
                        <input id="close-of-day-time" type="text" maxlength="10" placeholder="Close of Day Time" class="form-control" name="example-input-normal">
                    </div>
                </div>
                <div class="col-lg-6 p-r-0 p-l-0">
                    <div class="form-group">
                        <textarea id="full-address" class="form-control" rows="3" placeholder="Full Address"></textarea>
                    </div>
                </div>
            </div>
            <div class="button-section">
                <button type="button" class="btn btn-primary m-l-5 m-t-15">Cancel</button>
                <button type="button" class="btn btn-primary m-l-5 m-t-15">Create</button>
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="propertyTemplate">
    <table class="table table-hover table-bordered results tableContents">
        <thead>
            <tr>
                <th id="IDCol">ID #</th>
                <th id="propertyNameCol" contenteditable="false">Property Name</th>
                <th id="ownerCol" contenteditable="false">Owner</th>
                <th id="countryCol" contenteditable="false">Country</th>
                <th id="stateCol" contenteditable="false">State</th>
                <th id="cityCol" contenteditable="false">City</th>
                <th id="createdDateCol" contenteditable="false">Created Date</th>
                <th id="updatedDateCol" contenteditable="false">Updated Date</th>
            </tr>
        </thead>
        <tbody>
            {{each Properties}}
            <tr>
                <td class="idRow" contenteditable="false">1</td>
                <td contenteditable="false">${$value.PropertyName}</td>
                <td contenteditable="false">${$value.PropertyName}</td>
                <td contenteditable="false">A3</td>
                <td contenteditable="false">A4</td>
                <td contenteditable="false">A5</td>
                <td contenteditable="false">${$value.CreatedOn}</td>
                <td contenteditable="false">-</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</script> 
