@{
    ViewBag.Title = "Index";
}
<script type='text/javascript'>
    var gcm = window.GuestCheckinManager;
    function makeFieldsReadonly(rowObject){
        rowObject.attr('contenteditable', 'false');
        rowObject.css('background-color', 'transparent');
    }
    function OnCountryChange(ddlCountry, ddlState, ddlCity) {
        gcm.OnCountryChange(ddlCountry, ddlState, ddlCity);
    }

    function OnStateChange(ddlState, ddlCity) {
        gcm.OnStateChange(ddlState, ddlCity);
    }

    $(document).ready(function () {

        gcm.GetAllProperty();
        
        $('#phone').keydown(function (e) {
            gcm.IsNumeric(e);
        });

        $('#fax').keydown(function (e) {
            gcm.IsNumeric(e);
        });

        $('#zipCode').keydown(function (e) {
            gcm.IsNumeric(e);
        });

        $("#createRow").click(function () {
            gcm.GetCountry($('#ddlCountryProp'));
            gcm.ClearPropertyFields();
        });

        $("#cancel").click(function () {
            $('#propmodal').removeClass('open');
        });

        $("#create").click(function () {
            gcm.AddProperty();
        });

        //$("#divProperty").on("click", ".fa-plus-circle", function () {
        //    $(this).closest('tr').after('<tr><td class="idRow" contenteditable="false">-</td><td contenteditable="false">-</td><td contenteditable="false">-</td><td contenteditable="false">-</td><td contenteditable="false">-</td><td contenteditable="false">-</td><td contenteditable="false">-</td><td class="finalActionsCol"><i class="fa fa-plus-circle" aria-hidden="true"></i> <i class="fa fa-minus-circle" aria-hidden="true"></i> <i class="fa fa-pencil-square-o" aria-hidden="true"></i> </td></tr>');
        //});

        $("#divProperty").on("click", ".fa-minus-circle", function () {
            if (confirm("Are you sure you want to delete this row ?")) {                
                var propertyId = $(this).closest('tr')[0].id;
                if (propertyId <= 0) return;
                gcm.DeleteProperty(propertyId);
                $(this).closest('tr').remove();
            }           
        });

        $("#divProperty").on("click", ".fa-pencil-square-o, .fa-floppy-o", function () {            
            var thisRow = $(this).parent().siblings();
            var editOn = $(this).hasClass("editMode");
            var propertyId = $(thisRow)[0].innerText;
        
            if (editOn == false) {
                gcm.OnGridEdit(editOn, $(thisRow), $(this));

                var cloneCountry = $('#ddlCountryClone').clone(true);                
                cloneCountry[0].style = 'display:block';
                cloneCountry[0].id = 'ddlCountryClone' + propertyId;
                var countrySelector = '#' + cloneCountry[0].id;
                gcm.GetCountry($(cloneCountry));
                $(thisRow)[3].innerText = "";
                $(thisRow[3]).append(cloneCountry);                
                
                var cloneState = $('#ddlStateClone').clone(true);                
                cloneState[0].style = 'display:block';
                cloneState[0].id = 'ddlStateClone' + propertyId;
                var stateSelector = '#' + cloneState[0].id;
                $(thisRow)[4].innerText = "";
                $(thisRow[4]).append(cloneState);                

                var cloneCity = $('#ddlCityClone').clone(true);                
                cloneCity[0].style = 'display:block';
                cloneCity[0].id = 'ddlCityClone' + propertyId;
                $(thisRow)[5].innerText = "";
                $(thisRow[5]).append(cloneCity);

                $(document).on('change', countrySelector, function () {
                    gcm.OnCountryChange($(cloneCountry)[0], $(cloneState), $(cloneCity));
                });

                $(document).on('change', stateSelector, function () {
                    gcm.OnStateChange($(cloneState)[0], $(cloneCity));
                });

                makeFieldsReadonly($(thisRow[0]));
                makeFieldsReadonly($(thisRow[6]));
                makeFieldsReadonly($(thisRow[7]));
                if ($(thisRow[3].children[0])) {
                    $(thisRow[3].children[0]).removeAttr('disabled');
                }
                if ($(thisRow[4].children[0])) {
                    $(thisRow[4].children[0]).removeAttr('disabled');
                }
                if ($(thisRow[5].children[0])) {
                    $(thisRow[5].children[0]).removeAttr('disabled');
                }    
            } else if (editOn == true) {                
                var countryId = $(thisRow)[3].children[0].value;
                var stateId = $(thisRow)[4].children[0].value;
                var cityId = $(thisRow)[5].children[0].value;
                
                if (propertyId <= 0) return;
                if (countryId <= 0) {
                    alert("Select proper country");
                    return;
                }
                if (stateId <= 0) {
                    alert("Select proper state");
                    return;
                }
                if (cityId <= 0) {
                    alert("Select proper city");
                    return;
                }
                
                var existingProperty = gcm.FindExistingProperty(propertyId);
                if (!existingProperty) return;
                existingProperty.PropertyName = $(thisRow)[1].innerText;
                existingProperty.PropertyDetails = $(thisRow)[2].innerText;
                existingProperty.Country.Id = countryId;
                existingProperty.City.Id = cityId;
                existingProperty.State.ID = stateId;
                //call updateproperty api
                gcm.UpdateProperty(existingProperty);

                gcm.OnGridEdit(editOn, $(thisRow), $(this));

                $(thisRow[3].children[0]).attr('disabled', 'disabled');
                $(thisRow[4].children[0]).attr('disabled', 'disabled');
                $(thisRow[5].children[0]).attr('disabled', 'disabled');
            }
        });

        $('#createRow, .trigger').click(function () {
            $('.modal-wrapper').toggleClass('open');
            $('.page-wrapper').toggleClass('blur');
            return false;
        });
    });

</script>

<div class="content-wrap">
    <div class="main controls">
        <div class="container-fluid">
            <div class="main-content">
                <div class="form-group m-t-10">
                    <input type="text" class="search form-control" placeholder="Search by Property Name, Owner Name, Country ...">
                </div>
                <span class="counter"></span>
                <div id="divProperty">

                </div>
                <br>
                <button id="createRow" class="btn btn-primary m-l-5 m-t-15" type="button">Create</button>
            </div>
        </div>
    </div>
</div>
<div id="propmodal" class="modal-wrapper">
    <div class="modal">
        <div class="head">
            <span class="label-head">Create Property</span><a class="btn-close trigger" href="javascript:;"></a>
        </div>
        <div class="content">
            <div class="contact-information">

                <div class="state-content">
                    <div class="col-lg-3 p-l-0">
                        <div class="form-group">
                            <input id="propertyName" type="text" placeholder="Property Name" class="form-control" name="example-input-normal">
                        </div>
                    </div>
                    <div class="col-lg-3 p-l-0">
                        <div class="form-group">
                            <input id="propertyCode" type="text" placeholder="Property Code" class="form-control" name="example-input-normal">
                        </div>
                    </div>
                    <div class="col-lg-3 p-l-0">
                        <div class="form-group">
                            <input id="secondaryName" type="text" placeholder="Secondry Name" class="form-control" name="example-input-normal">
                        </div>
                    </div>
                    <div class="col-lg-3 p-r-0 p-l-0">
                        <div class="form-group">
                            <input id="website" type="text" placeholder="Website Address" class="form-control" name="example-input-normal">
                        </div>
                    </div>
                    <div class="col-lg-3 p-l-0">
                        <div class="form-group">
                            <input id="timezone" type="text" maxlength="10" placeholder="Time Zone" class="form-control" name="example-input-normal">
                        </div>
                    </div>
                    <div class="col-lg-3 p-l-0">
                        <div class="form-group">
                            <input id="currency" type="text" maxlength="10" placeholder="Currency" class="form-control" name="example-input-normal">
                        </div>
                    </div>
                    <div class="col-lg-3 p-l-0">
                        <div class="form-group">
                            <input id="phone" type="text" maxlength="10" placeholder="Phone" class="form-control" name="example-input-normal">
                        </div>
                    </div>
                    <div class="email-content">
                        <div class="col-lg-3 p-r-0 p-l-0">
                            <div class="form-group">
                                <input id="owner" type="text" placeholder="Owner" class="form-control" name="example-input-normal">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 p-l-0">
                        <div class="form-group">
                            <select id="ddlCountryProp" onchange="OnCountryChange(this, $('#ddlState'), $('#ddlCity'));" class="form-control">
                                <option value="-1">Select Country</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3 p-l-0">
                        <div class="form-group">
                            <select id="ddlState" onchange="OnStateChange(this, $('#ddlCity'));" class="form-control">
                                <option value="-1">Select State</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="zipcode-content">
                    <div class="col-lg-3 p-l-0">
                        <div class="form-group">
                            <select id="ddlCity" class="form-control">
                                <option value="-1">Select City</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3 p-r-0 p-l-0">
                        <div class="form-group">
                            <input type="text" id="zipCode" maxlength="6" placeholder="ZipCode" class="form-control" name="example-input-normal">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 p-l-0">
                    <div class="form-group">
                        <input id="fax" type="text" maxlength="10" placeholder="Fax" class="form-control" name="example-input-normal">
                    </div>
                </div>
                <div class="col-lg-3 p-l-0">
                    <div class="form-group">
                        <input id="checkintime" type="text" placeholder="Check-In Time" class="form-control" name="example-input-normal">
                    </div>
                </div>
                <div class="col-lg-3 p-l-0">
                    <div class="form-group">
                        <input id="checkouttime" type="text" placeholder="Checkout Time" class="form-control" name="example-input-normal">
                    </div>
                </div>
                <div class="col-lg-3 p-r-0 p-l-0">
                    <div class="form-group">
                        <input id="closeofdaytime" type="text" maxlength="10" placeholder="Close of Day Time" class="form-control" name="example-input-normal">
                    </div>
                </div>
                <div class="col-lg-6 p-l-0">
                    <div class="form-group">
                        <textarea id="fulladdress" class="form-control" rows="3" placeholder="Full Address"></textarea>
                    </div>
                </div>
            </div>
            <div class="button-section">
                <button id="cancel" type="button" class="btn btn-primary m-l-5 m-t-15">Cancel</button>
                <button id="create" type="button" class="btn btn-primary m-l-5 m-t-15">Create</button>
            </div>
        </div>
    </div>
</div>
<div id="divLoader">
    <div class="loader" style="display:none;">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
    </div>
</div>
<select style="display:none" id="ddlCountryClone" class="form-control">
    <option value="-1">Select Country</option>
</select>
<select style="display:none" id="ddlStateClone" class="form-control">
    <option value="-1">Select State</option>
</select>
<select style="display:none" id="ddlCityClone" class="form-control">
    <option value="-1">Select City</option>
</select>
<script type="text/html" id="propertyTemplate">
    <table class="table table-hover table-bordered results tableContents">
        <thead>
            <tr>
                <th id="IDCol">ID #</th>
                <th id="propertyNameCol" contenteditable="false">Property Name</th>
                <th id="ownerCol" contenteditable="false">Owner</th>
                <th id="countryCol" contenteditable="false">Country</th>
                <th id="stateCol" contenteditable="false">State</th>
                <th id="cityCol" contenteditable="false">City</th>
                <th id="createdDateCol" contenteditable="false">Created Date</th>
                <th id="updatedDateCol" contenteditable="false">Updated Date</th>
            </tr>
        </thead>
        <tbody>
            {{each Properties}}
            <tr id="${$value.Id}">
                <td class="idRow" contenteditable="false">${$value.Id}</td>
                <td contenteditable="false">${$value.PropertyName}</td>
                <td contenteditable="false">${$value.PropertyDetails}</td>
                <td contenteditable="false">${$value.Country.Name}</td> 
                <td contenteditable="false">${$value.State.Name}</td>
                <td contenteditable="false">${$value.City.Name}</td>
                <td contenteditable="false">${$value.CreatedOn}</td>
                <td contenteditable="false">${$value.LastUpdatedOn}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</script>
