
@{
    ViewBag.Title = "DashBoard";
}

<h2>It is Room DashBoard</h2>

<div><ng-view></ng-view></div>
    <script type="text/ng-template" id="Calendar.html">
        <div style="float:left; width:160px">
            <daypilot-navigator id="navigator" daypilot-config="navigatorConfig"></daypilot-navigator>
        </div>
      
        <div style="float:right; width:960px">
            @*<daypilot-scheduler id="dp" daypilot-config="config" daypilot-events="events"></daypilot-scheduler>*@
            <daypilot-scheduler id="scheduler" daypilot-config="schedulerConfig" daypilot-events="events"></daypilot-scheduler>
            <div>
                New event:
                <button ng-click="add()">Add</button>
            </div>
            <div>
                First event:
                <button ng-click="move()">Move</button>
                <button ng-click="rename()">Rename</button>
            </div>
            <div>
                Object:
                <button ng-click="message()">Show Message</button>
            </div>
            <div>
                Events array (debug):
                <div ng-repeat="item in events">
                    {{item}}
                </div>
            </div>
        </div>

                <div>
                    <script type="text/ng-template" id="messageModalContent.html">
                        <div class="modal-header">
                            <h3 class="modal-title">{{modalMessage}}</h3>
                        </div>
                        <div class="modal-body">
                            <div class="text-center">
                                <img src="Images/loader.gif" alt="Loading icon" />
                            </div>
                        </div>
                    </script>
                 </div>
     </script> 
