
@{
    ViewBag.Title = "DashBoard";
}



<div class="content-wrap"><ng-view></ng-view></div>
    <script type="text/ng-template" id="Calendar.html">
        <div class="room-filter">
            Room Filter:
            <select ng-model="roomType" ng-change="changeRoomType()">
                <option value="0">All</option>
                <option value="1">Single</option>
                <option value="2">Double</option>
                <option value="4">Family</option>
            </select>
        </div>
        <div class="cal-left">
            <daypilot-navigator id="navigator" daypilot-config="navigatorConfig"></daypilot-navigator>
        </div>
      
        <div class="cal-right">
            @*<daypilot-scheduler id="dp" daypilot-config="config" daypilot-events="events"></daypilot-scheduler>*@
            <daypilot-scheduler id="scheduler"  daypilot-config="schedulerConfig" daypilot-events="events"></daypilot-scheduler>
            @*<div>
                New event:
                <button ng-click="add()">Add</button>
            </div>
            <div>
                First event:
                <button ng-click="move()">Move</button>
                <button ng-click="rename()">Rename</button>
            </div>
            <div>
                Object:
                <button ng-click="message()">Show Message</button>
            </div>
            <div>
                Events array (debug):
                <div ng-repeat="item in events">
                    {{item}}
                </div>
            </div>*@
        </div>

                <div>
                    <script type="text/ng-template" id="messageModalContent.html">
                        <div class="modal-header">
                            <h3 class="modal-title">{{modalMessage}}</h3>
                        </div>
                        <div class="modal-body">
                            <div class="text-center">
                                <span class="loader-img"></span>
                            </div>
                        </div>
                    </script>
                 </div>
     </script> 
