@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type='text/javascript'>
    var gcm = window.GuestCheckinManager;

    function makeFieldsReadonly(rowObject) {
        rowObject.attr('contenteditable', 'false');
        rowObject.css('background-color', 'transparent');
    }

    function getCreatedBy() {
        return window.PmsSession.GetItem("username");
    }

    function getCurrentDate() {
        // date format yyyy/mm/dd
        var dt = new Date();
        var month = dt.getMonth() + 1;
        var day = dt.getDate();
        var dateOutput = dt.getFullYear() + '/' +
            (month < 10 ? '0' : '') + month + '/' +
            (day < 10 ? '0' : '') + day;

        var time = dt.getHours() + ":" + dt.getMinutes() + ":" + dt.getSeconds();
        return dateOutput + ' ' + time;
    }

    function OnPropertyChange() {
        if ($('#ddlProperty').val() <= 0) {
            alert('Select valid property');
            return;
        }
        gcm.GetRoomByProperty($('#ddlProperty').val());
        gcm.FillRoomTypeData($('#ddlRoomType'), $('#ddlProperty').val());
        gcm.FillFloorData($('#ddlFloor'), $('#ddlProperty').val());
    }

    $(document).ready(function () {

        gcm.GetAllProperty();

        $('#noofrow').keydown(function (e) {
            gcm.IsNumeric(e);
        });
        
        $("#btnsave").click(function () {
            var propertyId = $('#ddlProperty').val();
            var divRoom = $("#divRoom table tbody tr");
            var divRoomCount = divRoom ? divRoom.length : 0;
            if (divRoomCount <= 0 || propertyId <= 0) return;
            
            var createdBy = getCreatedBy();
            var createdOn = getCurrentDate();
            var roomRequestDto = {};
            roomRequestDto.Rooms = [];           

            for (var i = 0; i < divRoomCount; i++){
                var room = {};
                var roomTypeSelector = '#ddlRoomType' + (i+1);
                var floorSelector = '#ddlFloor' + (i+1);
                room.RoomTypeId = $(roomTypeSelector) && $(roomTypeSelector).length > 0 ? $(roomTypeSelector).val() : divRoom[i].cells[1].id;
                room.FloorId = $(floorSelector) && $(floorSelector).length > 0 ? $(floorSelector).val() : divRoom[i].cells[2].id;
                room.Number = divRoom[i].cells[3].innerText;
                room.PropertyId = propertyId;
                room.IsActive = true;
                //default roomid incase of add request
                room.Id = divRoom[i].cells[0].innerText > 0 ? divRoom[i].cells[0].innerText : -1;
                room.CreatedBy = createdBy;
                room.CreatedOn = createdOn;

                roomRequestDto.Rooms.push(room);
            }
            
            Notifications.SubscribeActive("on-room-add-success", function (sender, args) {
                window.GuestCheckinManager.GetRoomByProperty($('#ddlProperty').val());
            });

            //call AddRoom api
            gcm.AddRoom(roomRequestDto);
        });

        $("#btncreate").click(function () {
            var rowCount = $('#noofrow').val();
            var roomTypeId = $('#ddlRoomType').val();
            var floorId = $('#ddlFloor').val();
            if ($('#ddlProperty').val() <= 0) {
                alert('Select valid property');
                return;
            }            
            if (roomTypeId <= 0) {
                alert('Select valid roomtype');
                return;
            }
            if (floorId <= 0) {
                alert('Select valid floor');
                return;
            }
            if (rowCount <= 0) {
                alert('No of rows should be greater than 0');
                $('#noofrow').focus();
                return;
            }
            var totalTr = $("tr").length - 1;
            for (var i = 1; i <= rowCount; i++) {
                $("tr:last").after('<tr><td class="idRow" contenteditable="false"></td><td contenteditable="false" style="background-color: rgba(255,255,255,0.7);"></td><td contenteditable="false" style="background-color: rgba(255,255,255,0.7);"></td><td contenteditable="true" style="background-color: rgba(255,255,255,0.7);"></td><td class="finalActionsCol"><i class="fa  fa-plus-circle" aria-hidden="true"></i> <i class="fa fa-minus-circle" aria-hidden="true"></i> <i class="fa fa-floppy-o editMode" aria-hidden="true"></i> </td></tr>');
                var lastRow = $("tr:last");
                var cloneRoomType = $('#ddlRoomType').clone(true);
                cloneRoomType[0].style = 'display:block';
                cloneRoomType[0].id = 'ddlRoomType' + (totalTr + parseInt(i));
                var roomTypeSelector = '#' + cloneRoomType[0].id;
                
                $(lastRow[0].cells[1]).innerText = "";
                $(lastRow[0].cells[1]).attr('contenteditable', 'false');
                $(lastRow[0].cells[1]).append(cloneRoomType);

                var cloneFloor = $('#ddlFloor').clone(true);
                cloneFloor[0].style = 'display:block';
                cloneFloor[0].id = 'ddlFloor' + (totalTr + parseInt(i));
                var floorSelector = '#' + cloneFloor[0].id;

                $(lastRow[0].cells[2]).innerText = "";
                $(lastRow[0].cells[2]).attr('contenteditable', 'false');
                $(lastRow[0].cells[2]).append(cloneFloor);

                gcm.FillRoomTypeData($(roomTypeSelector), $('#ddlProperty').val());
                gcm.FillFloorData($(floorSelector), $('#ddlProperty').val());
                $(roomTypeSelector).val(roomTypeId);
                $(floorSelector).val(floorId);
            }
        });

        $("#divRoom").on("click", ".fa-plus-circle", function () {
            $(this).closest('tr').after('<tr><td class="idRow" contenteditable="false"></td><td contenteditable="false" style="background-color: rgba(255,255,255,0.7);"><select style="display:block" id="ddlRoomTypeAdd" class="form-control"><option value="-1">Select RoomType</option></select></td><td contenteditable="false" style="background-color: rgba(255,255,255,0.7);"><select style="display:block" id="ddlFloorAdd" class="form-control"><option value="-1">Select Floor</option></select></td><td contenteditable="true" style="background-color: rgba(255,255,255,0.7);"></td><td class="finalActionsCol"><i class="fa  fa-plus-circle" aria-hidden="true"></i> <i class="fa fa-minus-circle" aria-hidden="true"></i> <i class="fa fa-floppy-o editMode" aria-hidden="true"></i> </td></tr>');
            gcm.FillRoomTypeData($('#ddlRoomTypeAdd'), $('#ddlProperty').val());
            gcm.FillFloorData($('#ddlFloorAdd'), $('#ddlProperty').val());
        });

        $("#divRoom").on("click", ".fa-minus-circle", function () {
            if (confirm("Are you sure you want to delete ?")) {
                var roomId = $(this).closest('tr')[0].id;
                $(this).closest('tr').remove();
                if (roomId <= 0) return;
                gcm.DeleteRoom(roomId);
                if ($('#divRoom tbody tr').length <= 0) {
                    $('#ddlProperty').val('-1');
                }
            }
        });

        $("#divRoom").on("click", ".fa-pencil-square-o, .fa-floppy-o", function () {
            var thisRow = $(this).parent().siblings();
            var editOn = $(this).hasClass("editMode");
            var roomId = $(thisRow)[0].innerText;
            var propertyId = $('#ddlProperty').val();            
            var roomNumber = $(thisRow)[3].innerText;
            var roomRequestDto = {};
            roomRequestDto.Rooms = [];

            if (editOn == false) {
                gcm.OnGridEdit(editOn, $(thisRow), $(this));

                var cloneRoomType = $('#ddlRoomType').clone(true);
                cloneRoomType[0].style = 'display:block';
                cloneRoomType[0].id = 'ddlRoomType' + roomId;
                var roomTypeSelector = '#' + cloneRoomType[0].id;
                $(thisRow)[1].innerText = "";
                $(thisRow[1]).attr('contenteditable', 'false');
                $(thisRow[1]).append(cloneRoomType);

                var cloneFloor = $('#ddlFloor').clone(true);
                cloneFloor[0].style = 'display:block';
                cloneFloor[0].id = 'ddlFloor' + roomId;
                var floorSelector = '#' + cloneFloor[0].id;
                $(thisRow)[2].innerText = "";
                $(thisRow[2]).attr('contenteditable', 'false');
                $(thisRow[2]).append(cloneFloor);

                makeFieldsReadonly($(thisRow[0]));
                
            } else if (editOn == true) {
                var roomTypeId = $(thisRow)[1].children[0].value;
                var floorId = $(thisRow)[2].children[0].value;

                if (roomTypeId <= 0) {
                    alert("Select valid room type");
                    return;
                }
                if (floorId <= 0) {
                    alert("Select valid floor");
                    return;
                }
                if (!roomNumber || roomNumber.length <= 0) {
                    alert("Room Number is required");
                    $(thisRow)[3].focus();
                    return;
                }
                
                if (roomId > 0) {
                    var existingRoom = gcm.FindSetting(roomId, window.GuestCheckinManager.PropertySettingResponseDto.RoomSettings);
                    if (!existingRoom) return;
                    existingRoom.RoomTypeId = roomTypeId;
                    existingRoom.FloorId = floorId;
                    existingRoom.Number = roomNumber;
                    existingRoom.IsActive = true;
                    existingRoom.LastUpdatedBy = getCreatedBy();
                    existingRoom.LastUpdatedOn = getCurrentDate();

                    roomRequestDto.Rooms.push(existingRoom);

                    Notifications.SubscribeActive("on-room-update-success", function (sender, args) {
                        window.GuestCheckinManager.GetRoomByProperty($('#ddlProperty').val());
                    });
                    //call UpdateRoom api
                    gcm.UpdateRoom(roomRequestDto);
                } else {
                    if (propertyId <= 0) {
                        alert("Select valid property");
                        return;
                    }
                    var room = {};
                    room.RoomTypeId = roomTypeId;
                    room.FloorId = floorId;
                    room.Number = roomNumber;
                    room.PropertyId = propertyId;
                    room.IsActive = true;
                    //default roomid incase of add request
                    room.Id = "-1";
                    room.CreatedBy = getCreatedBy();
                    room.CreatedOn = getCurrentDate();

                    roomRequestDto.Rooms.push(room);
                    Notifications.SubscribeActive("on-room-add-success", function (sender, args) {
                        window.GuestCheckinManager.GetRoomByProperty($('#ddlProperty').val());
                    });
                    //call AddRoom api
                    gcm.AddRoom(roomRequestDto);
                }
                gcm.OnGridEdit(editOn, $(thisRow), $(this));
            }
        });

    });
</script>
<div class="content-wrap">
    <div class="main controls">
        <div class="container-fluid">
            <div class="col-lg-12 p-r-0 p-l-0">
                <div class="card alert">
                    <div class="card-header">
                        <h4>Create Room</h4>
                    </div>
                    <div class="card-body room-details">
                        <div class="row" style="">
                            <div class="form-group col-lg-8 m-t-10">
                                <input type="text" class="search form-control" placeholder="Search by Room Number, Room Type, Floor...">
                            </div>
                        </div>
                            <div class="row" style="">
                                <div class="col-lg-2 p-l-11 p-r-5 m-t-10">
                                    <div class="form-group">
                                        <label>Select Property</label>
                                        <select id="ddlProperty" onchange="OnPropertyChange();">
                                            <option value="-1">Select Property</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-2 p-l-11 p-r-5 m-t-10">
                                    <div class="form-group">
                                        <label>Select RoomType</label>
                                        <select id="ddlRoomType">
                                            <option value="-1">Select RoomType</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-2 p-l-11 p-r-5 m-t-10">
                                    <div class="form-group">
                                        <label>Select Floor</label>
                                        <select id="ddlFloor">
                                            <option value="-1">Select Floor</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-2 p-l-11 p-r-5 m-t-25">
                                    <div class="form-group">
                                        <input id="noofrow" type="text" placeholder="No of Rows" class="form-control" name="example-input-normal">
                                    </div>
                                </div>
                                <div class="col-lg-2 p-l-11 p-r-5 m-t-10">
                                    <div class="form-group">
                                        <button id="btncreate" type="button" class="btn btn-primary m-l-5 m-t-15">Create Rows</button>
                                    </div>
                                </div>
                                <div class="col-lg-2 p-l-11 p-r-5 m-t-10">
                                    <div class="form-group">
                                        <button id="btnsave" type="button" class="btn btn-primary m-l-5 m-t-15">Save Rooms</button>
                                    </div>
                                </div>

                                <div id="divRoom" class="table-data">
                                    <span class="counter"></span>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="divLoader">
    <div class="loader" style="display:none;">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
    </div>
</div>
<script type="text/html" id="roomTemplate">
    <table class="table table-hover table-bordered results tableContents">
        <thead>
            <tr>
                <th id="IDCol">ID #</th>
                <th id="RoomTypeCol" contenteditable="false">Room Type</th>
                <th id="FloorCol" contenteditable="false">Floor</th>
                <th id="RoomNumberCol" contenteditable="false">Room Number</th>    
            </tr>
        </thead>
        <tbody>
            {{if typeof Rooms != "undefined" && Rooms != "null" && Rooms.length > 0 }}
            {{each Rooms}}
            <tr id="${$value.Id}">
                <td class="idRow" contenteditable="false">${$value.Id}</td>
                <td id=${$value.RoomType.Id} contenteditable ="false">${$value.RoomType.Name}</td>
                <td id=${$value.Floor.Id} contenteditable="false">${$value.Floor.FloorNumber}</td>
                <td contenteditable="false">${$value.Number}</td>
            </tr>
            {{/each}}
            {{else}}
            <tr>
                <td class="idRow" contenteditable="false"></td>
                <td contenteditable="false" style="background-color: rgba(255,255,255,0.7);">
                    <select style="display:block" id="ddlRoomTypeAdd" class="form-control">
                        <option value="-1">Select RoomType</option>
                    </select> 
                </td>
                <td contenteditable="false" style="background-color: rgba(255,255,255,0.7);">
                    <select style="display:block" id="ddlFloorAdd" class="form-control">
                        <option value="-1">Select Floor</option>
                    </select> 
                </td>
                <td contenteditable="true" style="background-color: rgba(255,255,255,0.7);"></td>
            </tr>
            {{/if}}
        </tbody>
    </table>
</script>


