@{
    ViewBag.Title = "Index";
    //    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content-wrap">
    <div class="main controls">
        <div class="container-fluid">
            <div class="main-content" style="width:80%; margin: 0 auto;">
                <h1 class="table-head"><span>Create Room Types</span></h1>
                <div class="form-group m-t-10">
                    <input type="text" class="search form-control" placeholder="Search by Room Type, Short Code...">
                </div>
                <span class="counter"></span>
                <div id="createRoomType">
                    <table class="table table-hover table-bordered results tableContents">
                        <thead>
                            <tr>
                                <th id="IDCol">ID #</th>
                                <th id="roomTypeCol" contenteditable="false">Room Type</th>
                                <th id="shortCodeCol" contenteditable="false">Short Code</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="idRow" contenteditable="false">1</td>
                                <td contenteditable="false">King Somking</td>
                                <td contenteditable="false">KS</td>
                            </tr>
                            <tr>
                                <td class="idRow" contenteditable="false">2</td>
                                <td contenteditable="false">King Non Smoking</td>
                                <td contenteditable="false">KNS</td>
                            </tr>
                            <tr id="bottomRow Row4">
                                <td class="idRow" contenteditable="false">3</td>
                                <td contenteditable="false">Queeen Double Bed Smoking</td>
                                <td contenteditable="false">QDBS</td>
                            </tr>
                        </tbody>
                    </table>
                    <br>
                    <button id="addRow" class="btn btn-primary m-l-5 m-t-15" type="button">Add Row</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content-wrap">
    <div class="main controls">
        <div class="container-fluid">
            <div class="main-content" style="width:80%; margin: 0 auto;">
                <h1 class="table-head"><span>Create Floor</span></h1>
                <div class="form-group m-t-10">
                    <input type="text" class="search form-control" placeholder="Search by floor...">
                </div>
                <span class="counter"></span>
                <div id="createFloor">
                    <table class="table table-hover table-bordered results tableContents">
                        <thead>
                            <tr>
                                <th id="IDCol">ID #</th>
                                <th id="floorCol" contenteditable="false">Floor</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="idRow" contenteditable="false">1</td>
                                <td contenteditable="false">1</td>
                            </tr>
                            <tr>
                                <td class="idRow" contenteditable="false">2</td>
                                <td contenteditable="false">2</td>
                            </tr>
                            <tr id="bottomRow Row3">
                                <td class="idRow" contenteditable="false">3</td>
                                <td contenteditable="false">3</td>
                            </tr>
                        </tbody>
                    </table>
                    <br>
                    <button id="addRow" class="btn btn-primary m-l-5 m-t-15" type="button">Add Row</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content-wrap">
    <div class="main controls">
        <div class="container-fluid">
            <div class="main-content" style="width:80%; margin: 0 auto;">
                <h1 class="table-head"><span>Create Rooms</span></h1>
                <div class="form-group m-t-10">
                    <input type="text" class="search form-control" placeholder="Search by Rooms...">
                </div>
                <span class="counter"></span>
                <div id="createRooms">
                    <table class="table table-hover table-bordered results tableContents">
                        <thead>
                            <tr>
                                <th id="IDCol">ID #</th>
                                <th id="floorCol" contenteditable="false">Floors</th>
                                <th id="floorCol" contenteditable="false">Room Type</th>
                                <th id="floorCol" contenteditable="false">Rooms</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="idRow" contenteditable="false">1</td>
                                <td contenteditable="false">1</td>
                                <td contenteditable="false">KS</td>
                                <td contenteditable="false">101</td>
                            </tr>
                            <tr>
                                <td class="idRow" contenteditable="false">2</td>
                                <td contenteditable="false">1</td>
                                <td contenteditable="false">KNS</td>
                                <td contenteditable="false">102</td>
                            </tr>
                            <tr>
                                <td class="idRow" contenteditable="false">3</td>
                                <td contenteditable="false">1</td>
                                <td contenteditable="false">QS</td>
                                <td contenteditable="false">103</td>
                            </tr>
                            <tr>
                                <td class="idRow" contenteditable="false">3</td>
                                <td contenteditable="false">2</td>
                                <td contenteditable="false">QS</td>
                                <td contenteditable="false">201</td>
                            </tr>
                            <tr>
                                <td class="idRow" contenteditable="false">3</td>
                                <td contenteditable="false">2</td>
                                <td contenteditable="false">QS</td>
                                <td contenteditable="false">202</td>
                            </tr>
                            <tr>
                                <td class="idRow" contenteditable="false">3</td>
                                <td contenteditable="false">2</td>
                                <td contenteditable="false">QS</td>
                                <td contenteditable="false">203</td>
                            </tr>
                            <tr id="bottomRow Row3">
                                <td class="idRow" contenteditable="false">3</td>
                                <td contenteditable="false">3</td>
                                <td contenteditable="false">QS</td>
                                <td contenteditable="false">301</td>
                            </tr>
                        </tbody>
                    </table>
                    <br>
                    <button id="addRow" class="btn btn-primary m-l-5 m-t-15" type="button">Add Row</button>
                </div>
            </div>
        </div>
    </div>
</div>