
@{
    ViewBag.Title = "Manage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type='text/javascript'>
    var gcm = window.GuestCheckinManager;

    function OnRateTabClick(tabObj) {
        var rateTypeId = tabObj ? tabObj.id : -1;
        var existingRateType = gcm.FindPropertySetting(rateTypeId);
        gcm.PopulateRoomRateInGrid(existingRateType);
    }
    
    function OnFloorChange(ddlFloor, ddlRoom) {
        alert('onfloor');
    }

    function OnRoomTypeChange(ddlRoomType, ddlRoom) {
        alert('onroom');
    }

    function makeFieldsReadonly(rowObject) {
        rowObject.attr('contenteditable', 'false');
        rowObject.css('background-color', 'transparent');
    }

    function OnPropertyChange() {
        if ($('#ddlProperty').val() <= 0) {
            alert('Select valid property');
            return;
        }
        gcm.GetRoomRateByProperty($('#ddlProperty').val());
    }

    $(document).ready(function () {

        gcm.GetAllProperty();

        $("#divManageRate").on("click", ".fa-plus-circle", function () {
            $(this).closest('tr').after('<tr><td class="idRow" contenteditable="false"></td><td contenteditable="true" style="background-color: #ffc9c9;"></td><td contenteditable="true" style="background-color: #ffc9c9;"><select style="display:block" id="ddlUnitAdd" onchange="OnUnitChange(this,null);" class="form-control"><option value="Hourly">Hourly</option><option value="Daily">Daily</option></select></td><td contenteditable="true" style="background-color: #ffc9c9;"><select style="display:block" id="ddlHourAdd" class="form-control"><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option></select></td><td class="finalActionsCol"><i class="fa  fa-plus-circle" aria-hidden="true"></i><i class="fa fa-minus-circle" aria-hidden="true"></i><i class="fa fa-floppy-o editMode" aria-hidden="true"></i></td></tr>');
        });

        $("#divManageRate").on("click", ".fa-minus-circle", function () {
            if (confirm("Are you sure you want to delete ?")) {
                var rateId = $(this).closest('tr')[0].id;
                $(this).closest('tr').remove();
                if (rateId <= 0) return;
                gcm.DeleteRate(rateId);
                if ($('#divManageRate tbody tr').length <= 0) {
                    $('#ddlProperty').val('-1');
                }
            }
        });

        $("#divManageRate").on("click", ".fa-pencil-square-o, .fa-floppy-o", function () {
            var thisRow = $(this).parent().siblings();
            var editOn = $(this).hasClass("editMode");
            var rateId = $(thisRow)[0].innerText;
            var propertyId = $('#ddlProperty').val();
            if (editOn == false) {
                gcm.OnGridEdit(editOn, $(thisRow), $(this));

                var cloneFloor = $('#ddlFloorClone').clone(true);
                cloneFloor[0].style = 'display:block';
                cloneFloor[0].id = 'ddlFloorClone' + rateId;
                var floorSelector = '#' + cloneFloor[0].id;
                $(thisRow)[1].innerText = "";
                $(thisRow[1]).append(cloneFloor);

                var cloneRoomType = $('#ddlRoomTypeClone').clone(true);
                cloneRoomType[0].style = 'display:block';
                cloneRoomType[0].id = 'ddlRoomTypeClone' + rateId;
                cloneRoomType.removeAttr("disabled");
                var roomTypeSelector = '#' + cloneRoomType[0].id;
                $(thisRow)[2].innerText = "";
                $(thisRow[2]).append(cloneRoomType);

                var cloneRoom = $('#ddlRoomClone').clone(true);
                cloneRoom[0].style = 'display:block';
                cloneRoom[0].id = 'ddlRoomClone' + rateId;
                cloneRoom.removeAttr("disabled");
                $(thisRow)[3].innerText = "";
                $(thisRow[3]).append(cloneRoom);

                $(document).on('change', floorSelector, function () {
                    OnFloorChange($(cloneFloor)[0], $(cloneRoom));
                });

                $(document).on('change', roomTypeSelector, function () {
                    OnRoomTypeChange($(cloneRoomType)[0], $(cloneRoom));
                });
                makeFieldsReadonly($(thisRow[0]));               
                var floors = window.GuestCheckinManager.PropertySettingResponseDto.FloorSettings;
                if (!floors || floors.length <= 0) {
                    Notifications.SubscribeActive("on-floor-get-success", function (sender, args) {
                        window.GuestCheckinManager.BindFloorDdl($(floorSelector));
                    });
                    gcm.GetFloorsByProperty($('#ddlProperty').val());
                } else {
                    window.GuestCheckinManager.BindFloorDdl($(floorSelector));
                }
                var roomtypes = window.GuestCheckinManager.PropertySettingResponseDto.RoomTypeSettings;
                if (!roomtypes || roomtypes.length <= 0) {
                    Notifications.SubscribeActive("on-roomtype-get-success", function (sender, args) {
                        window.GuestCheckinManager.BindRoomTypeDdl($(roomTypeSelector));
                    });
                    gcm.GetRoomTypes($('#ddlProperty').val());
                } else {
                    window.GuestCheckinManager.BindRoomTypeDdl($(roomTypeSelector));
                }

            } else if (editOn == true) {
                var floorId = $(thisRow)[1].children[0].value;
                var roomTypeId = $(thisRow)[2].children[0].value;
                var roomId = $(thisRow)[3].children[0].value;
                var rateValue = $(thisRow)[4].innerText;

                if (floorId <= 0) {
                    alert("Select proper floor");
                    return;
                }
                if (roomTypeId <= 0) {
                    alert("Select proper room type");
                    return;
                }
                if (roomId <= 0) {
                    alert("Select proper room number");
                    return;
                }
                if (isNaN(rateValue)) {
                    alert("Rate value should be numeric");
                    return;
                }

                if (rateId > 0) {
                    var existingRate = gcm.FindPropertySetting(rateId);
                    if (!existingRate) return;
                    existingRate.FloorId = floorId;
                    existingRate.RoomTypeId = roomTypeId;
                    existingRate.RoomId = roomId;
                    existingRate.Value = rateValue;
                    //call UpdateRate api
                    gcm.UpdateRate(existingRate);
                } else {
                    if (propertyId <= 0) {
                        alert("Select valid property");
                        return;
                    }
                    var rate = {};
                    rate.FloorId = floorId;
                    rate.RoomTypeId = roomTypeId;
                    rate.RoomId = roomId;
                    rate.Value = rateValue;
                    rate.PropertyId = propertyId;
                    // todo to get InputKeyHours 
                    rate.InputKeyHours = 1;
                    //call AddRate api
                    gcm.AddRate(rate);
                }
                gcm.OnGridEdit(editOn, $(thisRow), $(this));
            }
        });

    });
</script>
<div class="content-wrap">
    <div class="col-lg-2 p-l-0 p-r-0 m-t-10">
        <div class="form-group">
            <label>Select Property</label>
            <select id="ddlProperty" onchange="OnPropertyChange();">
                <option value="-1">Select Property</option>
            </select>
        </div>
    </div>
    <main class="tab-main">
            <div id="divRoomRate" class="table-data">
            </div>
    </main>
    <section id="content1">
        <div class="form-group m-t-10">
            <input type="text" class="search form-control" placeholder="Search by Roomtype, room#, rate, floor# ...">
        </div>
        <span class="counter">
        </span>
        <div id="divManageRate">
        </div>
        <br>
        <button id="save" class="btn btn-primary m-l-5 m-t-15" type="button">Save</button>
    </section>
</div>
<select style="display:none" id="ddlFloorClone" class="form-control">
    <option value="-1">Select Floor</option>
</select>
<select style="display:none" id="ddlRoomTypeClone" class="form-control">
    <option value="-1">Select Roomtype</option>
</select>
<select style="display:none" id="ddlRoomClone" class="form-control">
    <option value="-1">Select Room</option>
</select>
<div id="divLoader">
    <div class="loader" style="display:none;">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
    </div>
</div>
<script type="text/html" id="roomRateTemplate">
        {{if typeof RoomRate != "undefined" && RoomRate != "null" && RoomRate.length > 0 }}
        {{each(i,rate) RoomRate}}
            {{if i===0}}
                <input onclick="OnRateTabClick(this);" id="${rate.Id}" type="radio" name="tabs" checked>
                <label for="${rate.Id}">${rate.Name}</label>
                {{else}}
                   <input onclick="OnRateTabClick(this);" id="${rate.Id}" type="radio" name="tabs">
                   <label for="${rate.Id}">${rate.Name}</label>
            {{/if}}
    
        {{/each}}
        {{/if}}    
</script>
<script type="text/html" id="manageRateTemplate">
    <table class="table table-hover table-bordered results tableContents">
        <thead>
            <tr>
                <th id="IDCol">ID #</th>
                <th id="floorCol" contenteditable="false">Floor</th>
                <th id="roomTypeCol" contenteditable="false">Room Type</th>
                <th id="roomnumberCol" contenteditable="false">Room #</th>
                <th id="rateCol" contenteditable="false">Rate</th>
            </tr>
        </thead>
        <tbody>
            {{if typeof Rates != "undefined" && Rates != "null" && Rates.length > 0 }}
            {{each Rates}}
            <tr id="${$value.Id}">
                <td class="idRow" contenteditable="false">${$value.Id}</td>
                <td contenteditable="false">${$value.Room.Floor.FloorNumber}</td>
                <td contenteditable="false">${$value.Room.RoomType.Name}</td>
                <td contenteditable="false">${$value.Room.Number}</td>
                <td contenteditable="false">${$value.Value}</td>
            </tr>
            {{/each}}
            {{else}}
            <tr>
                <td class="idRow" contenteditable="false"></td>
                <td contenteditable="true" style="background-color: #ffc9c9;"></td>
                <td contenteditable="true" style="background-color: #ffc9c9;"></td>
                <td contenteditable="true" style="background-color: #ffc9c9;"></td>
                <td contenteditable="true" style="background-color: #ffc9c9;"></td>
            </tr>
            {{/if}}
        </tbody>
    </table>
</script>

