<div class="col-lg-12">
    <div class="card alert m-b-10">
        <div class="card-header">
            <h4>Guest History </h4>
            <div class="card-header-right-icon">
                <ul>
                    <ul class="card-option-dropdown dropdown-menu">
                        <li><a href="#"><i class="ti-loop"></i> Property Name</a></li>
                        <li><a href="#"><i class="ti-menu-alt"></i> Date</a></li>
                        <li><a href="#"><i class="ti-pulse"></i> Room Type</a></li>
                        <li><a href="#"><i class="ti-pulse"></i> Room Rates</a></li>
                        <li><a href="#"><i class="ti-power-off"></i> Amount Paid</a></li>
                    </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-responsive table-hover ">
                <thead>
                    <tr>
                        <th>Property Name</th>
                        <th>Date</th>
                        <th>Room Type</th>
                        <th>Room Rates</th>
                        <th>Amout Paid</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Crystal Inn 1</td>
                        <td>01/01/2017</td>
                        <td class="color-success">King Suite</td>
                        <td>$1200.00</td>
                        <td>$1400.00</td>
                    </tr>
                    <tr>
                        <td>Crystal Inn 2</td>
                        <td>12/01/2016</td>
                        <td class="color-warning">Royal Suite</td>
                        <td>$1000.00</td>
                        <td>$1200.00</td>
                    </tr>
                    <tr>
                        <td>Crystal Inn 3</td>
                        <td>08/05/2016</td>
                        <td class="color-danger">Delux</td>
                        <td>$1000.00</td>
                        <td>$1200.00</td>
                    </tr>
                    <tr>
                        <td>Crystal Inn 4</td>
                        <td>02/01/2016</td>
                        <td class="color-warning">Royal Suite</td>
                        <td>$1000.00</td>
                        <td>$1200.00</td>
                    </tr>
                    <tr>
                        <td>Crystal Inn 3</td>
                        <td>08/05/2016</td>
                        <td class="color-danger">Delux</td>
                        <td>$1000.00</td>
                        <td>$1200.00</td>
                    </tr>
                    <tr>
                        <td>Crystal Inn 4</td>
                        <td>02/01/2016</td>
                        <td class="color-warning">Royal Suite</td>
                        <td>$1000.00</td>
                        <td>$1200.00</td>
                    </tr>
                    <tr>
                        <td>Crystal Inn 3</td>
                        <td>08/05/2016</td>
                        <td class="color-danger">Delux</td>
                        <td>$1000.00</td>
                        <td>$1200.00</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
