<div class="panel-group col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title"><a id="history" onclick="OnHistoryClick();" data-toggle="collapse" href="#collapse1" class="collapsed" aria-expanded="false">Guest History</a></h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
            <div class="card-header-right-icon">
                <ul class="card-option-dropdown dropdown-menu">
                    <li><a href="#"><i class="ti-loop"></i> Property Name</a></li>
                    <li><a href="#"><i class="ti-menu-alt"></i>Checkin Date</a></li>
                    <li><a href="#"><i class="ti-menu-alt"></i>Duration (in hrs)</a></li>
                    <li><a href="#"><i class="ti-pulse"></i> Room Type</a></li>
                    <li><a href="#"><i class="ti-pulse"></i> Room Rates</a></li>
                    <li><a href="#"><i class="ti-power-off"></i> Amount Paid</a></li>
                </ul>
            </div>
            <div id="divHistory">

            </div>
        </div>
    </div>
</div>
<script type="text/html" id="historyTemplate">
    <div class="panel-body">
        <table class="table table-responsive table-hover ">
            <thead>
                <tr>
                    <th>Property Name</th>
                    <th>Checkin Date</th>
                    <th>Duration (in hrs)</th>
                    <th>Room Type</th>
                    <th>Room Rates</th>
                    <th>Amount Paid</th>
                </tr>
            </thead>
            <tbody>
                {{each GuestHistory}}
                <tr>
                    <td>${$value.RoomBookings[0].Room.Property.PropertyName}</td>
                    <td>${$value.CheckinTime}</td>
                    <td>${$value.DurationOfStay}</td>
                    <td class="color-success">${$value.RoomBookings[0].Room.RoomType.Name}</td>
                    <td>$1200.00</td>
                    <td>$1400.00</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</script> 
