<div class="row1">
    <div class="col-lg-6 p-r-0">
        <div class="card alert card-section">
            <div class="card-body">
                <div class="user-profile">
                    <div class="row">
                        <div class="col-lg-8">
                            <!-- <ul class="nav nav-tabs" role="tablist">
                              <li role="presentation" class="active"><a href="#1" aria-controls="1" role="tab" data-toggle="tab">BASIC DETAILS</a></li>
                              <li role="presentation" class=""><a href="#2" aria-controls="2" role="tab" data-toggle="tab">ID PROOF</a></li>
                            </ul> -->
                            <div class="card-header">
                                <h4>Guest Details</h4>
                            </div>

                            <div class="col-lg-3">
                                <div class="form-group">
                                    <select class="form-control">
                                        <option>Mr</option>
                                        <option>Ms</option>
                                        <option>Mrs</option>
                                        <option>Master</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <input type="text" placeholder="First Name" class="form-control" name="example-input-normal" id="fName">
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="form-group">
                                    <input type="text" placeholder="Last Name" class="form-control" name="example-input-normal" id="example-input-normal">
                                </div>
                            </div>
                            <div class="contact-information">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <input type="text" placeholder="Phone" class="form-control" name="example-input-normal" id="example-input-normal">
                                    </div>
                                </div>
                                <div class="address-content">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <textarea class="form-control" rows="3" placeholder="Address"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="state-content">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <select class="form-control">
                                                <option selected="">City</option>
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <select class="form-control">
                                                <option selected="">State</option>
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="zipcode-content">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <select class="form-control">
                                                <option selected="">Country</option>
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <input type="text" placeholder="ZipCode" class="form-control" name="example-input-normal" id="example-input-normal">
                                        </div>
                                    </div>
                                </div>
                                <div class="email-content">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <input type="text" placeholder="Email" class="form-control" name="example-input-normal" id="example-input-normal">
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-4">
                            <div class="card-header">
                                <h4>ID Details</h4>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <select class="form-control">
                                        <option selected="">Type of ID</option>
                                        <option>Passport</option>
                                        <option>PAN</option>
                                        <option>Govt Approved ID</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <input type="text" placeholder="Id Number" class="form-control" name="example-input-normal" id="example-input-normal">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <select class="form-control">
                                        <option selected="">State</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <select class="form-control">
                                        <option selected="">Country</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="ID Expiry Date" id="id-expiry">
                                    <span class="ti-calendar form-control-feedback booking-system-feedback cal-pos"></span>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="DOB" id="dob">
                                    <span class="ti-calendar form-control-feedback booking-system-feedback cal-pos"></span>
                                </div>
                            </div>
                            <div class="col-lg-2 add-btn">
                                <button type="button" class="btn btn-link btn-flat btn-addon"><i class="ti-plus"></i>Additional Guest Details</button>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="col-lg-6">
                                <div class="user-photo m-b-30 photo_submit-container">
                                    <label class="photo_submit js-photo_submit1">
                                        <input class="photo_submit-input js-photo_submit-input" type="file" accept="image/*">
                                        <span class="photo_submit-plus"></span>
                                        <span class="photo_submit-uploadLabel">Upload photo</span>
                                        <span class="photo_submit-delete"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <textarea class="form-control" rows="6" placeholder="Guest Comments"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /# column -->
</div>