    <div class="col-lg-4">
        <div class="card alert card-section">
            <div class="card-header">
                <h4>Payment Summary</h4>
            </div>
            <div id="invoice-bot">
                <div id="invoice-table">
                    <div id="divInvoice">

                    </div>
                </div>
                <!--End Table-->
                <button type="button" class="btn btn-primary m-l-5 m-t-15">Print Receipt</button>
                <button type="button" class="btn btn-primary m-l-5 m-t-15">Print Folio</button>
            </div>
        </div>
    </div>
    <script type="text/html" id="invoiceTemplate">
        <table class="table table-responsive">
            <tbody>
                <tr class="tabletitle">
                    <td class="table-item">
                        <b>Item Description</b>
                    </td>
                    <td class="subtotal">
                        <b>Sub-total</b>
                    </td>
                </tr>
    {{each Tax}}
    {{if $value.TaxName !== 'TotalRoomCharge' }}
                <tr class="service">
                    <td class="tableitem">${$value.Description}</td>
                    <td class="tableitem">
                        <input id="taxVal" name="${$value.TaxName}" onkeyup="OnTaxValChange(event, this)" value="${$value.Value}" />
                    </td>
                </tr>
    
    {{else}}
                <tr class="service">
                    <td class="tableitem">
                        ${$value.Description}
                    </td>
                    <td id="totalRoomCharge" class="tableitem">
                        ${$value.Value}
                    </td>
                </tr>
    {{/if}}
    {{/each}}
        <tr class="service">
            <td class="tableitem">
                <span class="color-danger">Discount</span>
            </td>
            <td class="tableitem">
                <input id="discount" class="color-danger" value="$200.00" />
            </td>
        </tr>
        <tr class="tabletitle">

            <td class="Rate">
                <b>Total</b>
            </td>
            <td class="payment">
                <b class="">$2,675.00</b>
            </td>
        </tr>
    </tbody>
</table>
</script>

