<div class="col-lg-12 p-r-0 p-l-0">
    <div class="card alert card-section-payment">
        <div class="card-header">
            <h4>Invoice Summary</h4>
        </div>
        <div id="invoice-bot">
            <div class="img-no-available">
                <span>Click load to get invoice summary</span>
            </div>
            <div id="invoice-table">
                <div id="divInvoice">
                    
                </div>
            </div>
            <div style="display:none" id='divToPrint'>
                
            </div>
            <!--End Table-->
            <div class="button-section">
                <button id="btnPrintReceipt" type="button" class="btn btn-primary m-l-5 m-t-15">Print Receipt</button>
                <button id="btnPrintFolio" type="button" class="btn btn-primary m-l-5 m-t-15">Print Folio</button>
                <button id="saveInvoice" disabled="disabled" type="button" class="btn btn-primary m-l-5 m-t-15">Save</button>
                <button id="loadInvoice" type="button" class="btn btn-primary m-l-5 m-t-15">Load Invoice</button>
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="invoiceTemplate">
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Item Description</th>
                <th>Sub-total</th>
                <th></th>
                <th><span class="table-add glyphicon glyphicon-plus"></span></th>
            </tr>
        </thead>
        <tbody id="sortableTable">
            <tr id="trOthertax" style="display:none;" class="sortActive remove">
                <td><span class="glyphicon glyphicon-th-list"></span></td>
                <td id="otherTaxText" contenteditable="true">
                    @*<select id="ddlExtraChargesClone" class="form-control">
                        <option selected="selected" value="-1">Select Extracharge</option>
                   </select>*@
                </td>
                <td><input id="otherTaxVal" value="0.0" onkeyup="OnTaxValChange(event, this)" /></td>
                <td></td>
                <td><span class="tableRow-remove glyphicon glyphicon-trash"></span></td>
            </tr>
            {{each Tax}}
            {{if $value.IsDefaultCharges }}
            <tr id="trDefaultCharges" class="sortActive">
                <td> <span class="glyphicon glyphicon-th-list"></span></td>
                {{if $value.TaxName !== 'Total Room Charge' && $value.TaxName !== 'ROOM CHARGES' }}
                <td>${$value.TaxName} (%)</td>
                {{else}}
                <td>${$value.TaxName}</td>
                {{/if}}
                <td>
                    @*'ROOM CHARGES' is coming from SP and is always be fixed*@
                    {{if $value.TaxName === 'ROOM CHARGES' }}
                    <input id="baseRoomCharge" name="${$value.TaxName}" onkeyup="OnTaxValChange(event, this)" value="${$value.Value}" />
                    {{/if}}
                    {{if $value.TaxName === 'Total Room Charge' }}
                    <input id="totalRoomCharge" disabled="disabled" name="${$value.TaxName}" value="${$value.Value}" />
                    {{/if}}
                    {{if $value.TaxName !== 'Total Room Charge' && $value.TaxName !== 'ROOM CHARGES' }}
                    <input id="taxVal" name="${$value.TaxName}" onkeyup="OnTaxValChange(event, this)" value="${$value.Value}" />
                    {{/if}}
                </td>
                <td></td>
            </tr>
            {{else}}
            <tr id="trOthertax" style="display:block;" class="sortActive">
                <td><span class="glyphicon glyphicon-th-list"></span></td>
                <td id="otherTaxText" contenteditable="true">${$value.TaxName}</td>
                <td><input id="otherTaxVal" name="${$value.TaxName}" onkeyup="OnTaxValChange(event, this)" value="${$value.Value}" /></td>
                <td></td>
                <td><span class="tableRow-remove glyphicon glyphicon-trash"></span></td>
            </tr>
            {{/if}}
            {{/each}}
            <tr id="trDiscount" class="sortActive">
                <td><span class="glyphicon glyphicon-th-list"></span></td>
                <td>Discount (%)</td>
                <td><input id="discount" onkeyup="OnTaxValChange(event, this)" class="color-danger" value="${typeof Discount != 'undefined' && Discount > 0 ? Discount : 0 }" /></td>
                <td></td>
            </tr>
            @*{{if typeof Id != "undefined" && Id > 0 }}
                <tr id="trDiscount" class="sortActive">
                    <td><span class="glyphicon glyphicon-th-list"></span></td>
                    <td>Discount</td>
                    <td>$<input id="discount" onkeyup="OnTaxValChange(event, this)" class="color-danger" value="${Discount}" /></td>
                    <td></td>
                    <td></td>
                </tr>
                {{else}}
                <tr id="trDiscount" class="sortActive">
                    <td><span class="glyphicon glyphicon-th-list"></span></td>
                    <td>Discount</td>
                    <td>$<input id="discount" onkeyup="OnTaxValChange(event, this)" class="color-danger" value="0.0" /></td>
                    <td></td>
                    <td></td>
                </tr>
                {{/if}}*@
            <tr class="sortActive tabletitle">
                <td><span class="glyphicon glyphicon-th-list"></span> </td>
                <td class="Rate">
                    <b>Total Charges</b>
                </td>
                <td id="total" class="payment">
                    <b class=""></b>
                </td>
                <td></td>
            </tr>
            <tr class="sortActive tabletitle">
                <td>
                    <div class="card-header table-payment-header">
                        <h4>
                            Payment Summary
                        </h4>
                    </div>
               </td>
            </tr>
            {{if typeof InvoicePaymentDetails != "undefined" && InvoicePaymentDetails.length > 0 }}
            {{each(i,paymentDetail) InvoicePaymentDetails}}
            {{if i===0}}
            <tr id="trPaymentType" class="sortActive remove" style="display: block;">
                <td id="paymentTypeAdd"><span id="addPaymentType" class="glyphicon glyphicon-plus"></span></td>
                <td id="tdPaymentMode">
                    ${paymentDetail.PaymentMode}
                    @*<select id="paymentTypeDdl" class="form-control">
                        <option {{if paymentDetail.PaymentMode !== 'Credit Card' && paymentDetail.PaymentMode !== 'Cash' && paymentDetail.PaymentMode !== 'Coupons'}} selected {{/if}} value="-1">Payment Type</option>
                        <option {{if paymentDetail.PaymentMode === 'Credit Card'}} selected {{/if}} value="1">Credit Card</option>
                        <option {{if paymentDetail.PaymentMode === 'Cash'}} selected {{/if}} value="2">Cash</option>
                        <option {{if paymentDetail.PaymentMode === 'Coupons'}} selected {{/if}} value="3">Coupons</option>
                    </select>*@
                </td>
                <td id ="tdPaymentValue">
                    ${paymentDetail.PaymentValue}
                    @*<input id="paymentVal" value="${paymentDetail.PaymentValue}" onkeyup="OnTaxValChange(event, this)" />*@
                </td>
                <td></td>
            </tr>
            {{else}}
            <tr id="trPaymentType" class="sortActive remove" style="display: block;">
                <td id="paymentTypeTrash"><span class="tableRow-remove glyphicon glyphicon-trash"></span></td>
                <td id="tdPaymentMode">
                    ${paymentDetail.PaymentMode}
                    @*<select id="paymentTypeDdl" class="form-control">
                <option {{if paymentDetail.PaymentMode !== 'Credit Card' && paymentDetail.PaymentMode !== 'Cash' && paymentDetail.PaymentMode !== 'Coupons'}} selected {{/if}} value="-1">Payment Type</option>
                <option {{if paymentDetail.PaymentMode === 'Credit Card'}} selected {{/if}} value="1">Credit Card</option>
                <option {{if paymentDetail.PaymentMode === 'Cash'}} selected {{/if}} value="2">Cash</option>
                <option {{if paymentDetail.PaymentMode === 'Coupons'}} selected {{/if}} value="3">Coupons</option>
            </select>*@
                </td>
                <td id="tdPaymentValue">
                    ${paymentDetail.PaymentValue}
                    @*<input id="paymentVal" value="${paymentDetail.PaymentValue}" onkeyup="OnTaxValChange(event, this)" />*@
                </td>
                <td></td>
            </tr>
            {{/if}}

            {{/each}}
            {{else}}
            <tr id="trPaymentType" class="sortActive remove" style="display: block;">
                @*<td id="paymentTypeAdd"><span class="table-addpaymenttype glyphicon glyphicon-plus"></span></td>*@
                <td id="paymentTypeAdd"><span id="addPaymentType" class="glyphicon glyphicon-plus"></span></td>
                <td id="tdPaymentMode" contenteditable="true">
                    <select id="paymentTypeDdl" class="form-control">
                        <option selected="selected" value="-1">Select PaymentType</option>
                    </select>
                </td>
                <td id="tdPaymentValue"><input id="paymentVal" value="0.0" onkeyup="OnTaxValChange(event, this)" /></td>
                <td></td>
            </tr>
            {{/if}}

            <tr id="trPayment" class="sortActive">
                <td><span class="glyphicon glyphicon-th-list"></span></td>
                <td>Total Payment</td>
                <td><input id="payment" disabled="disabled" value="0.0" /></td>
                <td></td>
            </tr>
            <tr id="trBalance" class="sortActive">
                <td><span class="glyphicon glyphicon-th-list"></span></td>
                <td>Balance Summary</td>
                <td><input id="balance" disabled="disabled" value="0.0" /></td>
                <td></td>
            </tr>
            <tr id="trCredit" class="sortActive">
                <td><span class="glyphicon glyphicon-th-list"></span></td>
                <td>Credit Remaining</td>
                <td><input id="credit" disabled="disabled" value="0.0" /></td>
                <td></td>
            </tr>
            <tr class="sortActive tabletitle">
                <td>
                    <div class="card-header table-payment-header">
                        <h4>
                            Credit Card Details
                        </h4>
                    </div>
                </td>
            </tr>
            {{if typeof CreditCardDetail != "undefined" && CreditCardDetail != null && CreditCardDetail != "" && CreditCardDetail.split('|').length > 1 }}
            <tr id="trCreditNumber" class="sortActive remove">
                <td><span class="glyphicon glyphicon-th-list"></span></td>
                <td>Credit Card Number</td>
                <td><input id="creditNumber" onkeydown="validateNumeric(event)" value=" ${CreditCardDetail.split('|')[0]}" /></td>
                <td></td>
            </tr>
            <tr id="trCreditName" class="sortActive remove">
                <td><span class="glyphicon glyphicon-th-list"></span></td>
                <td>Name On Card</td>
                <td><input id="creditName" value=" ${CreditCardDetail.split('|')[1]}" /></td>
                <td></td>
            </tr>
            <tr id="trCreditExpiry" class="sortActive remove">
                <td><span class="glyphicon glyphicon-th-list"></span></td>
                <td>Valid Till</td>
                <td><input id="creditExpiry" value=" ${CreditCardDetail.split('|')[2]}" /></td>
                <td></td>
            </tr>
            {{else}}
            <tr id="trCreditNumber" class="sortActive remove">
                <td><span class="glyphicon glyphicon-th-list"></span></td>
                <td>Credit Card Number</td>
                <td><input id="creditNumber" onkeydown="validateNumeric(event)"  value="" /></td>
                <td></td>
            </tr>
            <tr id="trCreditName" class="sortActive remove">
                <td><span class="glyphicon glyphicon-th-list"></span></td>
                <td>Name On Card</td>
                <td><input id="creditName" value="" /></td>
                <td></td>
            </tr>
            <tr id="trCreditExpiry" class="sortActive remove">
                <td><span class="glyphicon glyphicon-th-list"></span></td>
                <td>Valid Till</td>
                <td><input id="creditExpiry" value="" /></td>
                <td></td>
            </tr>
            {{/if}}
            <tr id="trPaymentTypeOther" class="sortActive remove" style="display: none;">
                <td><span class="glyphicon glyphicon-th-list"></span></td>
                <td id="tdPaymentMode" contenteditable="true">
                    <select id="paymentTypeDdl" class="form-control">
                        <option selected="selected" value="-1">Select PaymentType</option>
                    </select>
                </td>
                <td id="tdPaymentValue"><input id="paymentVal" value="0" onkeyup="OnTaxValChange(event, this)" /></td>
                <td id="paymentTypeTrash"><span class="tableRow-remove glyphicon glyphicon-trash"></span></td>
            </tr>
        </tbody>
    </table>
</script>

<script type="text/html" id="printTemplate">
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Item Description</th>
                <th>Sub-total</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="sortableTable">
            <tr class="sortActive">
                <td>Item1</td>
                <td></td>
            </tr>           
            <tr class="sortActive">
                <td>Item2</td>
                <td>${GuestName}</td>
            </tr>   
        </tbody>
    </table>
</script>

@*<script type="text/html" id="printTemplate">
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Item Description</th>
                <th>Sub-total</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="sortableTable">
            {{each Tax}}
            {{if $value.IsDefaultCharges }}
            <tr class="sortActive">
                {{if $value.TaxName !== 'Total Room Charge' && $value.TaxName !== 'ROOM CHARGES' }}
                <td>${$value.TaxName} (%)</td>
                {{else}}
                <td>${$value.TaxName}</td>
                {{/if}}
                <td>
                    {{if $value.TaxName === 'ROOM CHARGES' }}
                    ${$value.Value}
                    {{/if}}
                    {{if $value.TaxName === 'Total Room Charge' }}
                    ${$value.Value}
                    {{/if}}
                    {{if $value.TaxName !== 'Total Room Charge' && $value.TaxName !== 'ROOM CHARGES' }}
                    ${$value.Value}
                    {{/if}}
                </td>
                <td></td>
            </tr>
            {{else}}
            <tr class="sortActive">
                <td>${$value.TaxName}</td>
                <td>${$value.Value}</td>
            </tr>
            {{/if}}
            {{/each}}
            <tr class="sortActive">
                <td>Discount (%)</td>
                <td>${typeof Discount != 'undefined' && Discount > 0 ? Discount : 0 }</td>
            </tr>
            <tr class="sortActive tabletitle">
                <td class="Rate">
                    <b>Total Charges</b>
                </td>
                <td id="total" class="payment">
                    <b class=""></b>
                </td>
                <td></td>
            </tr>
            <tr class="sortActive tabletitle">
                <td>
                    <div class="card-header table-payment-header">
                        <h4>
                            Payment Summary
                        </h4>
                    </div>
                </td>
            </tr>
            {{if typeof InvoicePaymentDetails != "undefined" && InvoicePaymentDetails.length > 0 }}
            {{each(i,paymentDetail) InvoicePaymentDetails}}
            <tr class="sortActive remove">
                <td>
                    ${paymentDetail.PaymentMode}
                </td>
                <td>
                    ${paymentDetail.PaymentValue}
                </td>s
                <td></td>
            </tr>
            {{/each}}
            {{/if}}
            <tr id="trPayment" class="sortActive">
                <td><span class="glyphicon glyphicon-th-list"></span></td>
                <td>Total Payment</td>
                <td><input id="payment" disabled="disabled" value="0.0" /></td>
                <td></td>
            </tr>
            <tr id="trBalance" class="sortActive">
                <td><span class="glyphicon glyphicon-th-list"></span></td>
                <td>Balance Summary</td>
                <td><input id="balance" disabled="disabled" value="0.0" /></td>
                <td></td>
            </tr>
            <tr id="trCredit" class="sortActive">
                <td><span class="glyphicon glyphicon-th-list"></span></td>
                <td>Credit Remaining</td>
                <td><input id="credit" disabled="disabled" value="0.0" /></td>
                <td></td>
            </tr>
            <tr class="sortActive tabletitle">
                <td>
                    <div class="card-header table-payment-header">
                        <h4>
                            Credit Card Details
                        </h4>
                    </div>
                </td>
            </tr>
            {{if typeof InvoicePaymentDetails != "undefined" && InvoicePaymentDetails.length > 0 }}
            {{each(i,paymentDetail) InvoicePaymentDetails}}
            {{if paymentDetail.PaymentDetails != "undefined" && paymentDetail.PaymentDetails != "" && paymentDetail.PaymentDetails.split('|').length > 1 }}
            <tr class="sortActive remove">
                <td>Credit Card Number</td>
                <td>${paymentDetail.PaymentDetails.split('|')[0]}</td>
                <td></td>
            </tr>
            <tr class="sortActive remove">
                <td>Name On Card</td>
                <td>${paymentDetail.PaymentDetails.split('|')[1]}</td>
            </tr>
            <tr id="trCreditExpiry" class="sortActive remove">
                <td>Valid Till</td>
                <td>${paymentDetail.PaymentDetails.split('|')[2]}</td>
            </tr>
            {{/if}}
            {{/each}}
            {{/if}}
        </tbody>
    </table>
</script>*@ 

