<div class="col-lg-12 p-r-0 p-l-0">
    <div class="card alert card-section-payment">
        <div class="card-header">
            <h4>Invoice Summary</h4>
        </div>
        <span id="invoiceWarning" style="display:none;">Please refresh invoice data</span>
        <div id="invoice-bot">
            <div class="img-no-available">
                <span>Click load to get invoice summary</span>
            </div>
            <div id="invoice-table">
                <div id="divInvoice">
                    
                </div>
            </div>
            <div style="display:none" id='divToPrint'>
                
            </div>
            <!--End Table-->
            <div class="button-section">
                <button id="btnPrintReceipt" type="button" class="btn btn-primary m-l-5 m-t-15">Print Receipt</button>
                <button id="btnPrintFolio" type="button" class="btn btn-primary m-l-5 m-t-15">Print Folio</button>
                <button id="saveInvoice" disabled="disabled" type="button" class="btn btn-primary m-l-5 m-t-15">Save</button>
                <button id="loadInvoice" type="button" class="btn btn-primary m-l-5 m-t-15">Load Invoice</button>
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="invoiceTemplate">
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Item Description</th>
                <th>Sub-total</th>
                <th></th>
                <th><span class="table-add glyphicon glyphicon-plus"></span></th>
            </tr>
        </thead>
        <tbody id="sortableTable">
            <tr id="trOthertax" style="display:none;" class="sortActive remove">
                <td><span class="glyphicon glyphicon-th-list"></span></td>
                <td id="otherTaxText" contenteditable="true">
                    @*<select id="ddlExtraChargesClone" class="form-control">
                        <option selected="selected" value="-1">Select Extracharge</option>
                   </select>*@
                </td>
                <td><input id="otherTaxVal" value="0.0" onkeyup="OnTaxValChange(event, this)" /></td>
                <td><span class="tableRow-remove glyphicon glyphicon-trash"></span></td>
            </tr>
            {{each Tax}}
            {{if $value.IsDefaultCharges }}
            <tr id="trDefaultCharges" class="sortActive">
                {{if $value.TaxName !== 'Total Room Charge' && $value.TaxName !== 'ROOM CHARGES' }}
                <td><input {{if $value.IsTaxIncluded}} checked="checked" {{/if}} type="checkbox" id="${$value.TaxName}" onclick="OnChkTaxIncludeChange(this);" class="form-control hour-input" /></td>
                <td>${$value.TaxName}</td>
                {{else}}
                <td> <span class="glyphicon glyphicon-th-list"></span></td>
                <td>${$value.TaxName}</td>
                {{/if}}
                <td>
                    @*'ROOM CHARGES' is coming from SP and is always be fixed*@
                    {{if $value.TaxName === 'ROOM CHARGES' }}
                    <input id="baseRoomCharge" name="${$value.TaxName}" onkeyup="OnTaxValChange(event, this)" value="${$value.Value}" />
                    {{/if}}
                    {{if $value.TaxName === 'Total Room Charge' }}
                    <input id="totalRoomCharge" disabled="disabled" name="${$value.TaxName}" value="${$value.Value}" />
                    {{/if}}
                    {{if $value.TaxName !== 'Total Room Charge' && $value.TaxName !== 'ROOM CHARGES' }}
                    <input id="taxVal" disabled="disabled" class="part-input" name="${$value.TaxName}" onkeyup="OnTaxValChange(event, this)" value="${$value.Value}%" />
                    <input id="taxCalulatedVal${$value.TaxName}" class="part-input" name="${$value.TaxName}" disabled="disabled" value="" />
                    {{/if}}
                </td>
                <td></td>
            </tr>
            {{else}}
            <tr id="trOthertax" style="display:block;" class="sortActive">
                <td><span class="glyphicon glyphicon-th-list"></span></td>
                <td id="otherTaxText" contenteditable="true">${$value.TaxName}</td>
                <td><input id="otherTaxVal" name="${$value.TaxName}" onkeyup="OnTaxValChange(event, this)" value="${$value.Value}" /></td>
                <td><span class="tableRow-remove glyphicon glyphicon-trash"></span></td>
            </tr>
            {{/if}}
            {{/each}}
            <tr id="trDiscount" class="sortActive">
                <td><span class="glyphicon glyphicon-th-list"></span></td>
                <td>Discount</td>
                <td>
                    <input id="discountPercent" placeholder="0%" onkeyup="OnTaxValChange(event, this)" class="part-input color-danger" value="${typeof DiscountPercent != 'undefined' && DiscountPercent > 0 ? DiscountPercent : 0 }%" />
                    <input id="discountAmt" placeholder="0.0" onkeyup="OnTaxValChange(event, this, true)" class="part-input color-danger" value="${typeof DiscountAmount != 'undefined' && DiscountAmount > 0 ? DiscountAmount : 0 }" />
                </td>
                <td></td>
            </tr>
            @*{{if typeof Id != "undefined" && Id > 0 }}
                <tr id="trDiscount" class="sortActive">
                    <td><span class="glyphicon glyphicon-th-list"></span></td>
                    <td>Discount</td>
                    <td>$<input id="discount" onkeyup="OnTaxValChange(event, this)" class="color-danger" value="${Discount}" /></td>
                    <td></td>
                    <td></td>
                </tr>
                {{else}}
                <tr id="trDiscount" class="sortActive">
                    <td><span class="glyphicon glyphicon-th-list"></span></td>
                    <td>Discount</td>
                    <td>$<input id="discount" onkeyup="OnTaxValChange(event, this)" class="color-danger" value="0.0" /></td>
                    <td></td>
                    <td></td>
                </tr>
                {{/if}}*@
            <tr class="sortActive">
                <td><span class="glyphicon glyphicon-th-list"></span> </td>
                <td class="Rate">
                    <b>Total Charges</b>
                </td>
                <td id="total" class="payment">
                    <b class=""></b>
                </td>
                <td></td>
            </tr>
            <tr class="sortActive tabletitle">
                <td>
                    <div class="card-header table-payment-header">
                        <h4>
                            Payment Summary
                        </h4>
                    </div>
               </td>
            </tr>
            {{if typeof InvoicePaymentDetails != "undefined" && InvoicePaymentDetails.length > 0 }}
            {{each(i,paymentDetail) InvoicePaymentDetails}}
            {{if i===0}}
            <tr id="trPaymentType" class="sortActive remove" style="display: block;">
                <td id="paymentTypeAdd"><span id="addPaymentType" class="glyphicon glyphicon-plus"></span></td>
                <td id="tdPaymentMode">
                    ${paymentDetail.PaymentMode}
                    @*<select id="paymentTypeDdl" class="form-control">
                        <option {{if paymentDetail.PaymentMode !== 'Credit Card' && paymentDetail.PaymentMode !== 'Cash' && paymentDetail.PaymentMode !== 'Coupons'}} selected {{/if}} value="-1">Payment Type</option>
                        <option {{if paymentDetail.PaymentMode === 'Credit Card'}} selected {{/if}} value="1">Credit Card</option>
                        <option {{if paymentDetail.PaymentMode === 'Cash'}} selected {{/if}} value="2">Cash</option>
                        <option {{if paymentDetail.PaymentMode === 'Coupons'}} selected {{/if}} value="3">Coupons</option>
                    </select>*@
                </td>
                <td id ="tdPaymentValue">
                    ${paymentDetail.PaymentValue}
                    @*<input id="paymentVal" value="${paymentDetail.PaymentValue}" onkeyup="OnTaxValChange(event, this)" />*@
                </td>
                <td></td>
            </tr>
            {{else}}
            <tr id="trPaymentType" class="sortActive remove" style="display: block;">
                <td id="paymentTypeTrash"><span class="tableRow-remove glyphicon glyphicon-trash"></span></td>
                <td id="tdPaymentMode">
                    ${paymentDetail.PaymentMode}
                    @*<select id="paymentTypeDdl" class="form-control">
                <option {{if paymentDetail.PaymentMode !== 'Credit Card' && paymentDetail.PaymentMode !== 'Cash' && paymentDetail.PaymentMode !== 'Coupons'}} selected {{/if}} value="-1">Payment Type</option>
                <option {{if paymentDetail.PaymentMode === 'Credit Card'}} selected {{/if}} value="1">Credit Card</option>
                <option {{if paymentDetail.PaymentMode === 'Cash'}} selected {{/if}} value="2">Cash</option>
                <option {{if paymentDetail.PaymentMode === 'Coupons'}} selected {{/if}} value="3">Coupons</option>
            </select>*@
                </td>
                <td id="tdPaymentValue">
                    ${paymentDetail.PaymentValue}
                    @*<input id="paymentVal" value="${paymentDetail.PaymentValue}" onkeyup="OnTaxValChange(event, this)" />*@
                </td>
                <td></td>
            </tr>
            {{/if}}

            {{/each}}
            {{else}}
            <tr id="trPaymentType" class="sortActive remove" style="display: block;">
                @*<td id="paymentTypeAdd"><span class="table-addpaymenttype glyphicon glyphicon-plus"></span></td>*@
                <td id="paymentTypeAdd"><span id="addPaymentType" class="glyphicon glyphicon-plus"></span></td>
                <td id="tdPaymentMode" contenteditable="true">
                    <select id="paymentTypeDdl" class="form-control">
                        <option selected="selected" value="-1">Select PaymentType</option>
                    </select>
                </td>
                <td id="tdPaymentValue"><input id="paymentVal" value="0.0" onkeyup="OnTaxValChange(event, this)" /></td>
                <td></td>
            </tr>
            {{/if}}

            <tr id="trPayment" class="sortActive">
                <td><span class="glyphicon glyphicon-th-list"></span></td>
                <td>Total Payment</td>
                <td><input id="payment" disabled="disabled" value="0.0" /></td>
                <td></td>
            </tr>
            <tr id="trBalance" class="sortActive">
                <td><span class="glyphicon glyphicon-th-list"></span></td>
                <td>Balance Summary</td>
                <td><input id="balance" disabled="disabled" value="0.0" /></td>
                <td></td>
            </tr>
            <tr id="trCredit" class="sortActive">
                <td><span class="glyphicon glyphicon-th-list"></span></td>
                <td>Credit Remaining</td>
                <td><input id="credit" disabled="disabled" value="0.0" /></td>
                <td></td>
            </tr>
            <tr class="sortActive tabletitle">
                <td>
                    <div class="card-header table-payment-header">
                        <h4>
                            Credit Card Details
                        </h4>
                    </div>
                </td>
            </tr>
            {{if typeof CreditCardDetail != "undefined" && CreditCardDetail != null && CreditCardDetail != "" && CreditCardDetail.split('|').length > 1 }}
            <tr id="trCreditNumber" class="sortActive remove">
                <td><span class="glyphicon glyphicon-th-list"></span></td>
                <td>Credit Card Number</td>
                <td><input id="creditNumber" value=" ${CreditCardDetail.split('|')[0]}" /></td>
                <td></td>
            </tr>
            <tr id="trCreditName" class="sortActive remove">
                <td><span class="glyphicon glyphicon-th-list"></span></td>
                <td>Name On Card</td>
                <td><input id="creditName" value=" ${CreditCardDetail.split('|')[1]}" /></td>
                <td></td>
            </tr>
            <tr id="trCreditExpiry" class="sortActive remove">
                <td><span class="glyphicon glyphicon-th-list"></span></td>
                <td>Valid Till</td>
                <td><input id="creditExpiry" value=" ${CreditCardDetail.split('|')[2]}" /></td>
                <td></td>
            </tr>
            <tr id="trCardType" class="sortActive remove">
                <td><span class="glyphicon glyphicon-th-list"></span></td>
                <td>Type of Credit Card</td>
                <td><input id="cardType" value=" ${CreditCardDetail.split('|')[3]}" /></td>
                <td></td>
            </tr>
            {{else}}
            <tr id="trCreditNumber" class="sortActive remove">
                <td><span class="glyphicon glyphicon-th-list"></span></td>
                <td>Credit Card Number</td>
                <td><input id="creditNumber"  value="" /></td>
                <td></td>
            </tr>
            <tr id="trCreditName" class="sortActive remove">
                <td><span class="glyphicon glyphicon-th-list"></span></td>
                <td>Name On Card</td>
                <td><input id="creditName" value="" /></td>
                <td></td>
            </tr>
            <tr id="trCreditExpiry" class="sortActive remove">
                <td><span class="glyphicon glyphicon-th-list"></span></td>
                <td>Valid Till</td>
                <td><input id="creditExpiry" value="" /></td>
                <td></td>
            </tr>
            <tr id="trCardType" class="sortActive remove">
                <td><span class="glyphicon glyphicon-th-list"></span></td>
                <td>Type of Credit Card</td>
                <td><input id="cardType" value="" /></td>
                <td></td>
            </tr>
            {{/if}}
            <tr id="trPaymentTypeOther" class="sortActive remove" style="display: none;">
                <td><span class="glyphicon glyphicon-th-list"></span></td>
                <td id="tdPaymentMode" contenteditable="true">
                    <select id="paymentTypeDdlOther" class="form-control">
                        <option selected="selected" value="-1">Select PaymentType</option>
                    </select>
                </td>
                <td id="tdPaymentValue"><input id="paymentVal" value="0" onkeyup="OnTaxValChange(event, this)" /></td>
                <td id="paymentTypeTrash"><span class="tableRow-remove glyphicon glyphicon-trash"></span></td>
            </tr>
        </tbody>
    </table>
</script>

<script type="text/html" id="receiptTemplate">
<style type="text/css">
    #printarea {
        font-size: 12px;
    }

    #printarea .row .col-sm-6 {
        text-align: left;
        width: 40%;
        float: left;
        margin-bottom: 20px;
    }

    #printarea p {
        font-size: 12px;
        text-align: left;
        margin: 0;
        line-height: 18px;
    }

    #printarea th {
        font-weight: bold;
    }

    #printarea table {
        font-size: 11px;
        border-spacing: 0;
        border-collapse: collapse;
        background-color: transparent;
        width: 100%;
        max-width: 100%;
    }

    #printarea table, #printarea th, #printarea td {
        padding: 4px;
        line-height: 1.42857143;
        vertical-align: top;
        border: 1px solid #ddd;
        margin: 20px 0;
        text-align: left;
        font-size: 11px;
    }

    #printarea .row .col-sm-6 b {
        display: inline-block;
        width: 90px;
    }

    #printarea table tr td.partial {
        padding: 0;
    }

    #printarea table tr td.partial span {
        display: inline-block;
        text-align: right !important;
        width: 35%;
        padding: 4px;
    }

    #printarea table tr td.partial span:nth-child(1) {
        border-right: 1px solid #ddd;
    }

    #printarea p.msg {
        font-size: 12px;
        text-align: left;
        margin-bottom: 40px;
    }

    #printarea table tr th:nth-child(3), #printarea table tr th:nth-child(4), #printarea table tr th:nth-child(5),
    #printarea table tr td:nth-child(3), #printarea table tr td:nth-child(4), #printarea tbody tr td:nth-child(5) {
        text-align: right;
    }

    #printarea .row .col-sm-3 {
        width: 20%;
        float: left;
    }

    #printarea .row .col-sm-9 {
        width: 80%;
        float: left;
    }

    html, body { height: auto; }

</style>
    <div id="print">
        <div id="printarea" class="ql-align-right">
            <div class="row">
                <div class="col-sm-6">
                    <p>${PropertyName}</p>
                    <p>${GuestName}</p>
                    <p>${FullAddress}</p>
                    <p>Tel.: +${Phone}</p>
                    <p><span>${City}</span> <span>${State}</span> <span>${Zip}</span></p>
                    <p>${AdditionalGuest}</p>
                </div>
                <div class="col-sm-6">
                    <p><b>Folio #:</b>${Folio}</p>
                    <p><b>Room :</b> <span>${Room}</span> <span>${RoomType}</span></p>
                    <p><b>Rate :</b> <span>${Rate}</span></p>
                    <p><b>Arrival :</b> <span>${Arrival}</span></p>
                    <p><b>Departure :</b> <span>${Departure}</span></p>
                    <p><b>Total Nights :</b> <span>${StayDays}</span></p>
                </div>
            </div>
            <div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Charges Description</th>
                            <th>Charges</th>
                            <th>Credit</th>
                            <th>Balance</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>${CreatedOn}</td>
                            <td>Guest Room</td>
                            <td>${TotalRoomCharges}</td>
                            <td>${Credit}</td>
                            <td>${TotalRoomCharges}</td>
                        </tr>
                        {{if typeof Taxes != "undefined" && Taxes.length > 0 }}
                        {{each Taxes}}
                        <tr>
                            <td>${$value.CreatedOn}</td>
                            <td>${$value.TaxShortName}(${$value.TaxAmount}%)</td>
                            <td>${$value.TaxValue}</td>
                            <td>0</td>
                            <td>${Balance}</td>
                        </tr>     
                        {{/each}}
                        {{/if}}
                        {{if typeof PaymentDetails != "undefined" && PaymentDetails.length > 0 }}
                        {{each PaymentDetails}}
                        <tr>
                            <td>${$value.CreatedOn}</td>
                            <td>PAYMENT</td>
                            <td></td>
                            <td class="partial"><span>${$value.PaymentMode}</span><span>${$value.PaymentValue}</span></td>
                            <td>${Balance}</td>
                        </tr>
                        {{/each}}
                        {{/if}}
                    </tbody>
                </table>

            </div>
            <p class="msg">Thanks for your staying at <b>${PropertyName}</b>, <b>${PropertyCity}</b>. We look forward to welcoming you back soon.</p>
            <div class="row">
                <div class="col-sm-3">
                    <p>Guest Signature</p>
                </div>
                <div class="col-sm-9">
                    <p>I have received the good and/or services in the amount shown hereon.  I agree that my liability for this bill is not waived and agree to be held personally liable in the even that the indicated person, company, or associate fails to pay for any part or the full amount of these charges.  If a credit card charge, I further agree to perform the obligation set forth in the cardholder's agreement with the issuer.</p>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/html" id="folioTemplate">
    <style type="text/css">
        #printarea {
            font-size: 12px;
        }

            #printarea .row {
                clear: both;
            }

                #printarea .row .col-sm-6 {
                    text-align: left;
                    width: 45%;
                    float: left;
                    margin-bottom: 20px;
                }

            #printarea p {
                font-size: 12px;
                text-align: left;
                margin: 0;
                line-height: 18px;
            }

            #printarea th {
                font-weight: bold;
            }

            #printarea table {
                font-size: 11px;
                border-spacing: 0;
                border-collapse: collapse;
                background-color: transparent;
                width: 100%;
                max-width: 100%;
            }

            #printarea table, #printarea th, #printarea td {
                padding: 4px;
                line-height: 1.42857143;
                vertical-align: top;
                border: 1px solid #ddd;
                margin: 20px 0;
                text-align: left;
                font-size: 11px;
            }

            #printarea .row .col-sm-6 b {
                display: inline-block;
                width: 100px;
            }

            #printarea table tr td.partial {
                padding: 0;
            }

                #printarea table tr td.partial span {
                    display: inline-block;
                    text-align: right !important;
                    width: 35%;
                    padding: 4px;
                }

                    #printarea table tr td.partial span:nth-child(1) {
                        border-right: 1px solid #ddd;
                    }

            #printarea p.msg {
                font-size: 12px;
                text-align: left;
                margin-bottom: 40px;
            }

            #printarea table tr th:nth-child(3), #printarea table tr th:nth-child(4), #printarea table tr th:nth-child(5),
            #printarea table tr td:nth-child(3), #printarea table tr td:nth-child(4), #printarea tbody tr td:nth-child(5) {
                text-align: right;
            }


            #printarea .row .col-sm-12 {
                width: 90%;
            }

        html, body {
            height: auto;
        }

        #printarea .border-btm {
            border-bottom: 1px solid #ddd;
        }

        #printarea b {
            letter-spacing: 1px;
        }
    </style>
    <div id="print">
        <div id="printarea" class="ql-align-right">
            <div class="row">
                <div class="col-sm-6">
                    <p>${PropertyName}</p>
                    <p>${PropertyAddress}</p>
                    <p><span>${PropertyCity}</span> <span>${PropertyState}</span> <span>${PropertyZip}</span></p>
                    <p>${PropertyPhone}</p>
                </div>
                <div class="col-sm-6">
                    <p><b>Room #:</b> ${Room}</p>
                    <p><b>Today's Date :</b> <span>${CreatedOn}</span></p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6" style="border-top: 1px solid #ddd; padding: 10px 0;">
                    <p>${GuestName}</p>
                    <p>${Address}</p>
                    <p><span>${City}</span>,<span>${State}</span>,<span>${Zip}</span></p>
                    <p>ID#</p>
                    <p>Vehicle Make, Model #, License Plate</p>
                    <p style="margin-top: 30px;"><b># Guests:</b> ${GuestCount} <b># Nights:</b> ${StayDays}</p>
                    <p><b>Check-In:</b> ${Arrival}</p>
                    <p><b>Check-Out:</b> ${Departure}</p>
                </div>
                <div class="col-sm-6" style="border-top: 1px solid #ddd; padding: 10px 0;">
                    <p style="margin-bottom: 20px;"><b>Room Rate:</b> ${Rate}</p>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td style="width: 48%;">Room: </td>
                                <td style="width: 48%;">${TotalRoomCharges}</td>
                            </tr>
                            {{if typeof Taxes != "undefined" && Taxes.length > 0 }}
                            {{each Taxes}}
                            <tr>
                                <td>${$value.TaxShortName}(${$value.TaxAmount}%):</td>
                                <td>${$value.TaxValue}</td>
                            </tr>
                            {{/each}}
                            {{/if}}
                            {{if typeof InvoiceItems != "undefined" && InvoiceItems.length > 0 }}
                            {{each InvoiceItems}}
                            <tr>
                                <td>${$value.ItemName}:</td>
                                <td>${$value.ItemValue}</td>
                            </tr>
                            {{/each}}
                            {{/if}}
                            <tr>
                                <td>Total</td>
                                <td>${TotalAmount}</td>
                            </tr>
                            
                            {{if typeof PaymentDetails != "undefined" && PaymentDetails.length > 0 }}
                            {{each PaymentDetails}}
                            <tr>
                                <td>${$value.PaymentMode}</td>
                                <td>${$value.PaymentValue}</td>
                            </tr>
                            {{/each}}
                            {{/if}}
                            <tr>
                                <td>Balance :</td>
                                <td>${TotalBalance}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-12">
                    <p>NO PET ALLOWED</p>
                    <p>STRICTLY NO REFUNDS</p>
                    <p style="border-top: 1px solid #ddd; margin: 10px 0;">ADVANCED PAYMENT REQUIRED FOR ALL RENTALS</p>
                </div>
                <div class="col-sm-12">
                    <p><b style="border-bottom:1px solid #888;">NOTICE TO GUESTS:</b></p>
                </div>
            </div>


            <p class="msg">
                This property is privately owned and operated and the management reserves the right to refuse service<br />
                to anyone and will not be responsible for accidents or injuries to any guests or loss of money, jewelry,<br /> or valuables of any kind.
            </p>
            <div class="row">
                <div class="col-sm-6" style="border-top: 1px solid #ddd; margin: 10px 10px 10px 0;">
                    <p>Guest Signature</p>
                </div>
                <div class="col-sm-6" style="border-top: 1px solid #ddd; margin: 10px 0;">
                    <p>Date</p>
                </div>
            </div>
        </div>
    </div>
</script>

@*<script type="text/html" id="receiptTemplate">
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>Item Description</th>
                    <th>Sub-total</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="sortableTable">
                {{each Tax}}
                {{if $value.IsDefaultCharges }}
                <tr class="sortActive">
                    {{if $value.TaxName !== 'Total Room Charge' && $value.TaxName !== 'ROOM CHARGES' }}
                    <td>${$value.TaxName} (%)</td>
                    {{else}}
                    <td>${$value.TaxName}</td>
                    {{/if}}
                    <td>
                        {{if $value.TaxName === 'ROOM CHARGES' }}
                        ${$value.Value}
                        {{/if}}
                        {{if $value.TaxName === 'Total Room Charge' }}
                        ${$value.Value}
                        {{/if}}
                        {{if $value.TaxName !== 'Total Room Charge' && $value.TaxName !== 'ROOM CHARGES' }}
                        ${$value.Value}
                        {{/if}}
                    </td>
                    <td></td>
                </tr>
                {{else}}
                <tr class="sortActive">
                    <td>${$value.TaxName}</td>
                    <td>${$value.Value}</td>
                </tr>
                {{/if}}
                {{/each}}
                <tr class="sortActive">
                    <td>Discount (%)</td>
                    <td>${typeof Discount != 'undefined' && Discount > 0 ? Discount : 0 }</td>
                </tr>
                <tr class="sortActive tabletitle">
                    <td class="Rate">
                        <b>Total Charges</b>
                    </td>
                    <td id="total" class="payment">
                        <b class=""></b>
                    </td>
                    <td></td>
                </tr>
                <tr class="sortActive tabletitle">
                    <td>
                        <div class="card-header table-payment-header">
                            <h4>
                                Payment Summary
                            </h4>
                        </div>
                    </td>
                </tr>
                {{if typeof InvoicePaymentDetails != "undefined" && InvoicePaymentDetails.length > 0 }}
                {{each(i,paymentDetail) InvoicePaymentDetails}}
                <tr class="sortActive remove">
                    <td>
                        ${paymentDetail.PaymentMode}
                    </td>
                    <td>
                        ${paymentDetail.PaymentValue}
                    </td>s
                    <td></td>
                </tr>
                {{/each}}
                {{/if}}
                <tr id="trPayment" class="sortActive">
                    <td><span class="glyphicon glyphicon-th-list"></span></td>
                    <td>Total Payment</td>
                    <td><input id="payment" disabled="disabled" value="0.0" /></td>
                    <td></td>
                </tr>
                <tr id="trBalance" class="sortActive">
                    <td><span class="glyphicon glyphicon-th-list"></span></td>
                    <td>Balance Summary</td>
                    <td><input id="balance" disabled="disabled" value="0.0" /></td>
                    <td></td>
                </tr>
                <tr id="trCredit" class="sortActive">
                    <td><span class="glyphicon glyphicon-th-list"></span></td>
                    <td>Credit Remaining</td>
                    <td><input id="credit" disabled="disabled" value="0.0" /></td>
                    <td></td>
                </tr>
                <tr class="sortActive tabletitle">
                    <td>
                        <div class="card-header table-payment-header">
                            <h4>
                                Credit Card Details
                            </h4>
                        </div>
                    </td>
                </tr>
                {{if typeof InvoicePaymentDetails != "undefined" && InvoicePaymentDetails.length > 0 }}
                {{each(i,paymentDetail) InvoicePaymentDetails}}
                {{if paymentDetail.PaymentDetails != "undefined" && paymentDetail.PaymentDetails != "" && paymentDetail.PaymentDetails.split('|').length > 1 }}
                <tr class="sortActive remove">
                    <td>Credit Card Number</td>
                    <td>${paymentDetail.PaymentDetails.split('|')[0]}</td>
                    <td></td>
                </tr>
                <tr class="sortActive remove">
                    <td>Name On Card</td>
                    <td>${paymentDetail.PaymentDetails.split('|')[1]}</td>
                </tr>
                <tr id="trCreditExpiry" class="sortActive remove">
                    <td>Valid Till</td>
                    <td>${paymentDetail.PaymentDetails.split('|')[2]}</td>
                </tr>
                {{/if}}
                {{/each}}
                {{/if}}
            </tbody>
        </table>
    </script>*@ 

