<div class="col-lg-12">
    <div class="card alert">
        <div class="card-header">
            <h4>Room Details</h4>
        </div>
        <div class="card-body">
            <div class="basic-elements">
                <form>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group hourCheckin">
                                <label>Hour CheckIn</label>
                                <input type="checkbox" class="form-control hour-input" placeholder="Hour Checkin" id="hourCheckin">
                                <select id="hours" class="form-control hour-dd" disabled>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>4</option>
                                    <option>6</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Check in</label>
                                <input id="dateFrom" type="text" class="form-control calendar" placeholder="Check in">
                                <span class="ti-calendar form-control-feedback booking-system-feedback"></span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Check out</label>
                                <input id="dateTo" type="text" class="form-control calendar" placeholder="Check out">
                                <span class="ti-calendar form-control-feedback booking-system-feedback"></span>
                            </div>
                        </div>
                        <div class="col-md-1 p-r-0">
                            <div class="form-group">
                                <label>Room Type</label>
                                <select id="roomTypeDdl" onchange="OnRoomTypeChange();" class="form-control"></select>
                            </div>
                        </div>
                        <div class="col-md-1 p-r-0">
                            <div class="form-group">
                                <label>Rate Type</label>
                                <select id="rateTypeDdl" class="form-control"></select>
                            </div>
                        </div>
                        <div class="col-md-1 p-r-0">
                            <div class="form-group">
                                <label>Room No</label>
                                <select id ="roomddl" class="form-control">
                                </select>
                            </div>
                        </div>
                        <div class="col-md-1 p-r-0">
                            <div class="form-group">
                                <label>Adults</label>
                                <select id ="ddlAdults" class="form-control">
                                    <option>0</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-1 p-r-0">
                            <div class="form-group">
                                <label>Children</label>
                                <select id="ddlChild" class="form-control">
                                    <option>0</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                        </div>
                        @*<div class="col-xs-2 add-btn">
                            <button type="button" class="btn btn-link btn-flat btn-addon m-b-10 m-l-5"><i class="ti-plus"></i>Add more Room</button>
                        </div>*@
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>