
@{
    ViewBag.Title = "Daily Summary";
}

<div class="row">
    <div class="col-lg-4">
        <div class="card alert">
            <div class="card-header">
                <h4>Today's Rental</h4>
            </div>
            <div class="card-body">
                <table class="table table-responsive table-hover tableContents" style="margin: 1rem 0;">
                    <tbody>
                        <tr>
                            <th class="no-border">Total Check-ins today</th>
                            <td class="no-border">1</td>
                        </tr>
                        <tr>
                            <th>Total Check-outs today</th>
                            <td>2</td>
                        </tr>
                        <tr>
                            <th>Reservation arriving today</th>
                            <td>22</td>
                        </tr>
                        <tr>
                            <th>Total Rooms sold today</th>
                            <td>33</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card alert">
            <div class="card-header">
                <h4>Rental Statistics</h4>
            </div>
            <div class="card-body">
                <table class="table table-responsive table-hover tableContents" style="margin: 1rem 0;">
                    <tbody>
                        <tr>
                            <th class="no-border">Current ADR</th>
                            <td class="no-border">1</td>
                        </tr>
                        <tr>
                            <th>Current RevPAR</th>
                            <td>2</td>
                        </tr>
                        <tr>
                            <th>Total Room Revenue</th>
                            <td>22</td>
                        </tr>
                        <tr>
                            <th>Total Tax Collected</th>
                            <td>33</td>
                        </tr>
                        <tr>
                            <th>Net Room Revenue</th>
                            <td>33</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div><!-- /# column -->
    <div class="col-lg-8">
        <div class="card alert">
            <div class="card-header">
                <h4>Check In Activity</h4>
            </div>
            <div class="card-body">
                <table class="table table-responsive table-hover tableContents" style="margin: 1rem 0;">
                    <thead>
                        <tr>
                            <th>Hour</th>
                            <th>Check-In</th>
                            <th>Check-Out</th>
                            <th>$ Collected</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>12 AM</td>
                            <td>3</td>
                            <td>0</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>12 AM</td>
                            <td>3</td>
                            <td>0</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>12 AM</td>
                            <td>3</td>
                            <td>0</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>12 AM</td>
                            <td>3</td>
                            <td>0</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>12 AM</td>
                            <td>3</td>
                            <td>0</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div><!-- /# column -->
</div>