
@{
    ViewBag.Title = "Manager Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type='text/javascript'>
    var gcm = window.GuestCheckinManager;
    $(document).ready(function () {
        getManagerReport();
    });

    function getManagerReport(){
        var managerReportDto = {
            StartDate: gcm.GetCurrentDate(),
            EndDate: gcm.GetCurrentDate(),
            PropertyId: $('#ddlGlobalProperty').val()

        };
        gcm.GetManagerReport(managerReportDto);

        var managerReportDto = {
            StartDate: gcm.GetCurrentDate(),
            EndDate: gcm.GetCurrentDate(),
            PropertyId: $('#ddlGlobalProperty').val(),
            Option: 1
        };
        gcm.GetConsolidatedManagerDataPreviousMonth(managerReportDto);


        var managerReportYearDto = {
            StartDate: gcm.GetCurrentDate(),
            EndDate: gcm.GetCurrentDate(),
            PropertyId: $('#ddlGlobalProperty').val(),
            Option: 2
        };
        gcm.GetConsolidatedManagerDataPreviousYear(managerReportYearDto);
    }

    function OnPropertyChange() {
        getManagerReport();
    }

    function exportReport() {
        var ManagerRecords = window.GuestCheckinManager.ReportDto.ManagerRecords;
        if (ManagerRecords && ManagerRecords.length > 0) {
            var csv = '';
            Object.keys(ManagerRecords[0]).forEach(function (row) {
                csv += row+",";
            });
            csv += "\n";
            ManagerRecords.forEach(function (row) {
                Object.keys(ManagerRecords[0]).forEach(function (key) {
                    csv += ToString(row[key]) + ",";
                });
                csv += "\n";
            });
            csv += "\n\n";

            var ConsolidatedManagerRecordsMonth = window.GuestCheckinManager.ReportDto.ConsolidatedManagerRecordsMonth;
            if (ConsolidatedManagerRecordsMonth && ConsolidatedManagerRecordsMonth.length>0) {
                Object.keys(ConsolidatedManagerRecordsMonth[0]).forEach(function (row) {
                    csv += row + ",";
                });
                csv += "\n";
                ConsolidatedManagerRecordsMonth.forEach(function (row) {
                    Object.keys(ConsolidatedManagerRecordsMonth[0]).forEach(function (key) {
                        csv += ToString(row[key]) + ",";
                    });
                    csv += "\n";
                });
            }
            csv += "\n\n";

            var ConsolidatedManagerRecordsYear = window.GuestCheckinManager.ReportDto.ConsolidatedManagerRecordsYear;
            if (ConsolidatedManagerRecordsYear && ConsolidatedManagerRecordsYear.length > 0) {
                Object.keys(ConsolidatedManagerRecordsYear[0]).forEach(function (row) {
                    csv += row + ",";
                });
                csv += "\n";
                ConsolidatedManagerRecordsYear.forEach(function (row) {
                    Object.keys(ConsolidatedManagerRecordsYear[0]).forEach(function (key) {
                        csv += ToString(row[key]) + ",";
                    });
                    csv += "\n";
                });
            }
            csv += "\n\n";
            var hiddenElement = document.createElement('a');
            hiddenElement.href = 'data:text/csv;charset=utf-8,' + encodeURI(csv);
            hiddenElement.target = '_blank';
            hiddenElement.download = 'managerReport.csv';
            hiddenElement.click();
        }
    }

    function ToString(str)
    {
        if (str != null && str.length >= 0)
            return str;
        else
            return '';
    }
</script>
<div class="content-wrap">
    <div class="main controls">
        <div class="container-fluid">
            <div class="col-lg-12 p-r-0 p-l-0">
                <div class="card alert create-room">
                    <div class="card-header">
                        <h4>Manager Report</h4>
                    </div>
                    <div class="card-body room-details">
                        @*<fieldset class="data-mgmt-section">
                            <legend>Search Criteria:</legend>
                            <div class="row" style="">
                                <div class="col-md-2 p-r-0">
                                    <div class="form-group">
                                        <div class='input-group date' id='datetimepicker1'>
                                            <label>Start Date &nbsp;&nbsp;</label>
                                            <input id="dateFrom" type='text' class="form-control calendar" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                        <script type="text/javascript">
                                            $(function () {
                                                $('#datetimepicker1').datetimepicker({
                                                    format: 'MM/DD/YYYY'
                                                });
                                            });
                                        </script>
                                    </div>
                                </div>
                                <div class="col-md-2 p-r-0">
                                    <div class="form-group">
                                        <div class='input-group date' id='datetimepicker2'>
                                            <label>End Date</label>
                                            <input id="dateTo" type='text' class="form-control calendar" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                        <script type="text/javascript">
                                            $(function () {
                                                $('#datetimepicker2').datetimepicker({
                                                    format: 'MM/DD/YYYY'
                                                });
                                            });
                                        </script>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group btn-set">
                                        <button onclick="getManagerReport();" class="btn btn-primary m-t-15 btn-side btn-search-line" type="button">Search</button>
                                        <button onclick="exportReport();" class="btn btn-primary m-t-15 btn-side btn-search-line" type="button">Export</button>
                                    </div>
                                </div>
                                </div>
                           
                        </fieldset>*@
                        <button onclick="exportReport();" class="btn btn-primary m-t-15 btn-side btn-search-line" type="button">Export</button>
                        <div id="divManagerReport" class="table-data">
                        </div>
                        <!-- Small Table -->
                        <div id="divConsolidatedManagerReportMonth" class="table-data">
                        </div>

                        <!-- Small Table -->
                        <div id="divConsolidatedManagerReportYear" class="table-data">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="managerReportTemplate">
    <table class="table table-responsive table-hover tableContents">
        <thead>
            {{if typeof ManagerRecords != "undefined" && ManagerRecords != "null" && ManagerRecords.length > 0 }}
            <tr>
                {{each Object.keys(ManagerRecords[0])}}
                <th>${$value}</th>
                {{/each}}
            </tr>
            {{/if}}
        </thead>
        <tbody>
            {{if typeof ManagerRecords != "undefined" && ManagerRecords != "null" && ManagerRecords.length > 0 }}
            {{each(i, manager) ManagerRecords}}
            <tr>
                {{each(j, key) Object.keys(ManagerRecords[0])}}
                <td>${manager[key]}</td>
                {{/each}}
            </tr>
            {{/each}}
            {{/if}}
        </tbody>
    </table>
</script>

<script type="text/html" id="consolidatedManagerReportTemplate">
    <table class="table table-responsive table-hover tableContents" style="width:80%;">
        <thead>
            {{if typeof ConsolidatedManagerRecords != "undefined" && ConsolidatedManagerRecords != "null" && ConsolidatedManagerRecords.length > 0 }}
            <tr>
                {{each Object.keys(ConsolidatedManagerRecords[0])}}
                <th>${$value}</th>
                {{/each}}
            </tr>
            {{/if}}
        </thead>
        <tbody>
            {{if typeof ConsolidatedManagerRecords != "undefined" && ConsolidatedManagerRecords != "null" && ConsolidatedManagerRecords.length > 0 }}
            {{each(i, shift) ConsolidatedManagerRecords}}
            <tr>
                {{each(j, key) Object.keys(ConsolidatedManagerRecords[0])}}
                <td>${shift[key]}</td>
                {{/each}}
            </tr>
            {{/each}}
            {{/if}}
        </tbody>
    </table>
</script>
<div id="divLoader">
    <div class="loader" style="display:none;">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
    </div>
</div>