
@{
    ViewBag.Title = "Shift Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type='text/javascript'>
    var gcm = window.GuestCheckinManager;
    $(document).ready(function () {
        getShiftReport();
    });

    function getShiftReport(){
        var shiftReportDto = {
            StartDate: gcm.GetCurrentDate(),
            EndDate: gcm.GetCurrentDate(),
            PropertyId: $('#ddlGlobalProperty').val()

        };
        gcm.GetShiftReport(shiftReportDto);


        gcm.GetConsolidatedShiftReport(shiftReportDto);
    }

    function OnPropertyChange() {
        getShiftReport();
    }
</script>
<div class="content-wrap">
    <div class="main controls">
        <div class="container-fluid">
            <div class="col-lg-12 p-r-0 p-l-0">
                <div class="card alert create-room">
                    <div class="card-header">
                        <h4>Shift Report</h4>
                    </div>
                    <div class="card-body room-details">
                        
                        <div id="divShiftReport" class="table-data">
                        </div>
                        <!-- Small Table -->
                        <div id="divConsolidatedShiftReport" class="table-data" style="background: transparent;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/html" id="shiftReportTemplate">
    <table class="table table-responsive table-hover tableContents">
        <thead>
            {{if typeof ShiftRecords != "undefined" && ShiftRecords != "null" && ShiftRecords.length > 0 }}            
            <tr>
                {{each Object.keys(ShiftRecords[0])}}
                <th >${$value}</th>
                {{/each}}
            </tr>            
            {{/if}}
        </thead>
        <tbody>
            {{if typeof ShiftRecords != "undefined" && ShiftRecords != "null" && ShiftRecords.length > 0 }} 
            {{each(i, shift) ShiftRecords}}
            <tr>
                {{each(j, key) Object.keys(ShiftRecords[0])}}
                <td>${shift[key]}</td>
                {{/each}}
            </tr>
            {{/each}}
            {{/if}}
        </tbody>
    </table>
</script>
<script type="text/html" id="consolidatedshiftReportTemplate">
    <table class="table table-responsive table-hover tableContents" style="width:80%;">
        <thead>
            {{if typeof ConsolidatedShiftRecords != "undefined" && ConsolidatedShiftRecords != "null" && ConsolidatedShiftRecords.length > 0 }}
            <tr>
                {{each Object.keys(ConsolidatedShiftRecords[0])}}
                <th>${$value}</th>
                {{/each}}
            </tr>
            {{/if}}
        </thead>
        <tbody>
            {{if typeof ConsolidatedShiftRecords != "undefined" && ConsolidatedShiftRecords != "null" && ConsolidatedShiftRecords.length > 0 }}
            {{each(i, shift) ConsolidatedShiftRecords}}
            <tr>
                {{each(j, key) Object.keys(ConsolidatedShiftRecords[0])}}
                <td>${shift[key]}</td>
                {{/each}}
            </tr>
            {{/each}}
            {{/if}}
        </tbody>
    </table>
</script>
<div id="divLoader">
    <div class="loader" style="display:none;">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
    </div>
</div>