
@{
    ViewBag.Title = "Shift Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type='text/javascript'>
    var gcm = window.GuestCheckinManager;
    $(document).ready(function () {
        getShiftReport();
    });

    function getShiftReport(){
        var shiftReportDto = {
            StartDate: null,
            EndDate: null,
            PropertyId:null

        };
        gcm.GetShiftReport(shiftReportDto);
    }
</script>
<div class="content-wrap">
    <div class="main controls">
        <div class="container-fluid">
            <div class="col-lg-12 p-r-0 p-l-0">
                <div class="card alert create-room">
                    <div class="card-header">
                        <h4>Shift Report</h4>
                    </div>
                    <div class="card-body room-details">
                        
                        <div id="divShiftReport" class="table-data">
                        </div>
                        <!-- Small Table -->
                        <div id="rangeProperty" class="table-data" style="width:60%; margin-top: 4rem;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/html" id="shiftReportTemplate">
    <table class="table table-responsive table-hover tableContents" style="margin: 1rem 0;">
        <thead>
            {{if typeof ShiftRecords != "undefined" && ShiftRecords != "null" && ShiftRecords.length > 0 }}            
            <tr>
                {{each Object.keys(ShiftRecords[0])}}
                <th >${$value}</th>
                {{/each}}
            </tr>            
            {{/if}}
        </thead>
        <tbody>
            {{if typeof ShiftRecords != "undefined" && ShiftRecords != "null" && ShiftRecords.length > 0 }} 
            {{each(i, shift) ShiftRecords}}
            <tr>
                {{each(j, key) Object.keys(ShiftRecords[0])}}
                <th>${shift[key]}</th>
                {{/each}}
            </tr>
            {{/each}}
            {{/if}}
        </tbody>
    </table>
</script>
@*<table class="table table-responsive table-hover tableContents" style="margin: 1rem 0;">
    <thead>
        <tr>
            <th>Date</th>
            <th>Check-In</th>
            <th>Check-Out</th>
            <th>Room #</th>
            <th>Guest</th>
            <th>Room</th>
            <th>Tax 1</th>
            <th>Tax 2</th>
            <th>Tax 3</th>
            <th>Cash</th>
            <th>Credit</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>11/30</td>
            <td>8:17 AM</td>
            <td>11:30 AM</td>
            <td>101</td>
            <td>David</td>
            <td>50</td>
            <td>3.50</td>
            <td>1</td>
            <td>58.50</td>
            <td>0.00</td>
            <td>3</td>
            <td>58.50</td>
        </tr>
        <tr>
            <td>11/30</td>
            <td>8:17 AM</td>
            <td>11:30 AM</td>
            <td>101</td>
            <td>David</td>
            <td>50</td>
            <td>3.50</td>
            <td>1</td>
            <td>58.50</td>
            <td>0.00</td>
            <td>3</td>
            <td>58.50</td>
        </tr>
        <tr>
            <td>11/30</td>
            <td>8:17 AM</td>
            <td>11:30 AM</td>
            <td>101</td>
            <td>David</td>
            <td>50</td>
            <td>3.50</td>
            <td>1</td>
            <td>58.50</td>
            <td>0.00</td>
            <td>3</td>
            <td>58.50</td>
        </tr>
        <tr style="font-weight:bold;">
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>50</td>
            <td>3.50</td>
            <td>1</td>
            <td>58.50</td>
            <td>0.00</td>
            <td>3</td>
            <td>58.50</td>
        </tr>
    </tbody>
</table>*@

<table class="table table-responsive table-hover tableContents" style="margin: 1rem 0; width:80%;">
    <thead>
        <tr>
            <th></th>
            <th>ADR</th>
            <th>RevPAR</th>
            <th>Room</th>
            <th>Tax 1</th>
            <th>Tax 2</th>
            <th>Tax 3</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th class="no-border">Today</th>
            <td>44.40</td>
            <td>13.33</td>
            <td>400</td>
            <td>28.00</td>
            <td>24.00</td>
            <td>8.00</td>
        </tr>
        <tr>
            <th class="no-border">Month to Date</th>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <th class="no-border">Year to Date</th>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
    </tbody>
</table>