@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type='text/javascript'>
    var gcm = window.GuestCheckinManager;
    function makeFieldsReadonly(rowObject) {
        rowObject.attr('contenteditable', 'false');
        rowObject.css('background-color', 'transparent');
    }

    function OnPropertyChange() {
        if ($('#ddlProperty').val() <= 0) {
            alert('Select valid property');
            return;
        }
        gcm.GetTax($('#ddlProperty').val());
    }

    $(document).ready(function () {

        gcm.GetAllProperty();

        $("#divTax").on("click", ".fa-plus-circle", function () {
            $(this).closest('tr').after('<tr><td class="idRow" contenteditable="false"></td><td contenteditable="true" style="background-color: #ffc9c9;"></td><td contenteditable="true" style="background-color: #ffc9c9;"></td><td class="finalActionsCol"><i class="fa  fa-plus-circle" aria-hidden="true"></i> <i class="fa fa-minus-circle" aria-hidden="true"></i> <i class="fa fa-floppy-o editMode" aria-hidden="true"></i> </td></tr>');
        });

        $("#divTax").on("click", ".fa-minus-circle", function () {
            if (confirm("Are you sure you want to delete ?")) {
                var taxId = $(this).closest('tr')[0].id;
                $(this).closest('tr').remove();
                if (taxId <= 0) return;
                gcm.DeleteTax(taxId);
                if ($('#divTax tbody tr').length <= 0) {
                    $('#ddlProperty').val('-1');
                }
            }
        });

        $("#divTax").on("click", ".fa-pencil-square-o, .fa-floppy-o", function () {
            var thisRow = $(this).parent().siblings();
            var editOn = $(this).hasClass("editMode");
            var taxId = $(thisRow)[0].innerText;
            var propertyId = $('#ddlProperty').val();
            var taxName = $(thisRow)[1].innerText;
            var taxAmount = $(thisRow)[2].innerText;

            if (editOn == false) {
                gcm.OnGridEdit(editOn, $(thisRow), $(this));
                makeFieldsReadonly($(thisRow[0]));
            } else if (editOn == true) {
                if (!taxName || taxName.length <= 0) {
                    alert("Tax Name is required");
                    return;
                }
                if (isNaN(taxAmount)) {
                    alert("Tax Amount should be numeric");
                    return;
                }
                if (!taxAmount || taxAmount <= 0) {
                    alert("Tax Amount should be greater than 0");
                    return;
                }
                if (taxId > 0) {
                    var existingTax = gcm.FindPropertySetting(taxId);
                    if (!existingTax) return;
                    existingTax.TaxName = taxName;
                    existingTax.Value = taxAmount;
                    //call UpdateTax api
                    gcm.UpdateTax(existingTax);
                } else {
                    if (propertyId <= 0) {
                        alert("Select valid property");
                        return;
                    }
                    var Tax = {};
                    Tax.TaxName = taxName;
                    Tax.Value = taxAmount;
                    Tax.PropertyId = propertyId;
                    //call AddTax api
                    gcm.AddTax(Tax);
                }
                gcm.OnGridEdit(editOn, $(thisRow), $(this));
            }
        });

    });
</script>
<div class="content-wrap">
    <div class="main controls">
        <div class="container-fluid">
            <div class="col-lg-12 p-r-0 p-l-0">
                <div class="card alert">
                    <div class="card-header">
                        <h4>Create Tax</h4>
                    </div>
                    <div class="card-body room-details">
                        <div class="row" style="">
                            <div class="form-group col-lg-8 m-t-10">
                                <label>Search</label>
                                <input type="text" class="search form-control" placeholder="Search by Tax Name...">
                            </div>

                            <div class="col-lg-2 p-l-0 p-r-0 m-t-10">
                                <div class="form-group">
                                    <label>Select Property</label>
                                    <select id="ddlProperty" onchange="OnPropertyChange();">
                                        <option value="-1">Select Property</option>
                                    </select>
                                </div>
                            </div>
                            
                            <div id="divTax" class="table-data">
                                <span class="counter"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="divLoader">
    <div class="loader" style="display:none;">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
    </div>
</div>
<script type="text/html" id="taxTemplate">
    <table class="table table-hover table-bordered results tableContents">
        <thead>
            <tr>
                <th id="IDCol">ID #</th>
                <th id="taxNameCol" contenteditable="false">Tax Name</th>
                <th id="valueCol" contenteditable="false">Value</th>
            </tr>
        </thead>
        <tbody>
            {{if typeof Taxes != "undefined" && Taxes != "null" && Taxes.length > 0 }}
            {{each Taxes}}
            <tr id="${$value.Id}">
                <td class="idRow" contenteditable="false">${$value.Id}</td>
                <td contenteditable="false">${$value.TaxName}</td>
                <td contenteditable="false">${$value.Value}</td>
            </tr>
            {{/each}}
            {{else}}
            <tr>
                <td class="idRow" contenteditable="false"></td>
                <td contenteditable="true" style="background-color: #ffc9c9;"></td>
                <td contenteditable="true" style="background-color: #ffc9c9;"></td>
            </tr>
            {{/if}}
        </tbody>
    </table>
</script>

