################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


/PMS.Api/obj/Release/Package/PackageTmp/Views/Shared/_Layout.cshtml
/PMS.Api/obj/Release/Package/PackageTmp/Areas/HelpPage
/PMS.Api/obj/Release/Package/PackageTmp
/PMS.Api/obj/Release/TransformWebConfig/assist/Web.config
/PMS.Api/obj/Release/TransformWebConfig/original/Web.config
/PMS.Api/obj/Release/TransformWebConfig/transformed/Web.config
/PMS.Api/obj/Release/_WPPLastBuildInfo.txt
/PMS.Api/bin/PMS.Api.dll
/PMS.Api/bin/PMS.Api.dll.config
/PMS.Api/bin/PMS.Api.pdb
/PMS.Api/bin/PMS.Resources.Caching.dll
/PMS.Api/bin/PMS.Resources.Caching.pdb
/PMS.Api/bin/PMS.Resources.Common.dll
/PMS.Api/bin/PMS.Resources.Common.pdb
/PMS.Api/bin/PMS.Resources.Core.dll
/PMS.Api/bin/PMS.Resources.Core.pdb
/PMS.Api/bin/PMS.Resources.DAL.dll
/PMS.Api/bin/PMS.Resources.DAL.pdb
/PMS.Api/bin/PMS.Resources.DTO.dll
/PMS.Api/bin/PMS.Resources.DTO.pdb
/PMS.Api/bin/PMS.Resources.Entities.dll
/PMS.Api/bin/PMS.Resources.Entities.pdb
/PMS.Api/bin/PMS.Resources.Logging.dll
/PMS.Api/bin/PMS.Resources.Logging.pdb
/PMS.Api/bin/PMS.Resources.Logic.dll
/PMS.Api/bin/PMS.Resources.Logic.pdb
/PMS.Api/bin/PMS.Resources.Reporting.dll
/PMS.Api/bin/PMS.Resources.Reporting.pdb
/PMS.Api/obj/Release/PMS.Api.csprojResolveAssemblyReference.cache
/PMS.Api/obj/Release/PMS.Api.dll
/PMS.Api/obj/Release/PMS.Api.pdb
/PMS.Resources.Caching/bin/Release/PMS.Resources.Caching.dll
/PMS.Resources.Caching/bin/Release/PMS.Resources.Caching.pdb
/PMS.Resources.Caching/bin/Release/PMS.Resources.Common.dll
/PMS.Resources.Caching/bin/Release/PMS.Resources.Common.pdb
/PMS.Resources.Caching/obj/Release/PMS.Resources.Caching.csprojResolveAssemblyReference.cache
/PMS.Resources.Caching/obj/Release/PMS.Resources.Caching.dll
/PMS.Resources.Caching/obj/Release/PMS.Resources.Caching.pdb
/PMS.Resources.Common/bin/Release/PMS.Resources.Common.dll
/PMS.Resources.Common/bin/Release/PMS.Resources.Common.pdb
/PMS.Resources.Common/obj/Release/PMS.Resources.Common.csprojResolveAssemblyReference.cache
/PMS.Resources.Common/obj/Release/PMS.Resources.Common.dll
/PMS.Resources.Common/obj/Release/PMS.Resources.Common.pdb
/PMS.Resources.Core/bin/Release/PMS.Resources.Core.dll
/PMS.Resources.Core/bin/Release/PMS.Resources.Core.pdb
/PMS.Resources.Core/obj/Release/PMS.Resources.Core.csprojResolveAssemblyReference.cache
/PMS.Resources.Core/obj/Release/PMS.Resources.Core.dll
/PMS.Resources.Core/obj/Release/PMS.Resources.Core.pdb
/PMS.Resources.DAL/bin/Release/PMS.Resources.Common.dll
/PMS.Resources.DAL/bin/Release/PMS.Resources.Common.pdb
/PMS.Resources.DAL/bin/Release/PMS.Resources.DAL.dll
/PMS.Resources.DAL/bin/Release/PMS.Resources.DAL.dll.config
/PMS.Resources.DAL/bin/Release/PMS.Resources.DAL.pdb
/PMS.Resources.DAL/bin/Release/PMS.Resources.Entities.dll
/PMS.Resources.DAL/bin/Release/PMS.Resources.Entities.pdb
/PMS.Resources.DAL/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/PMS.Resources.DAL/obj/Release/PMS.Resources.DAL.csprojResolveAssemblyReference.cache
/PMS.Resources.DAL/obj/Release/PMS.Resources.DAL.dll
/PMS.Resources.DAL/obj/Release/PMS.Resources.DAL.pdb
/PMS.Resources.DAL/obj/Release/TempPE/PMSModel.Designer.cs.dll
/PMS.Resources.DAL/obj/Release/TempPE/PMSModel.cs.dll
/PMS.Resources.DAL/obj/Release/edmxResourcesToEmbed/PMSModel.csdl
/PMS.Resources.DAL/obj/Release/edmxResourcesToEmbed/PMSModel.msl
/PMS.Resources.DAL/obj/Release/edmxResourcesToEmbed/PMSModel.ssdl
/PMS.Resources.DTO/bin/Release/PMS.Resources.DTO.dll
/PMS.Resources.DTO/bin/Release/PMS.Resources.DTO.pdb
/PMS.Resources.DTO/bin/Release/PMS.Resources.Entities.dll
/PMS.Resources.DTO/bin/Release/PMS.Resources.Entities.pdb
/PMS.Resources.DTO/obj/Release/PMS.Resources.DTO.csprojResolveAssemblyReference.cache
/PMS.Resources.DTO/obj/Release/PMS.Resources.DTO.dll
/PMS.Resources.DTO/obj/Release/PMS.Resources.DTO.pdb
/PMS.Resources.Entities/bin/Release/PMS.Resources.Entities.dll
/PMS.Resources.Entities/bin/Release/PMS.Resources.Entities.pdb
/PMS.Resources.Entities/obj/Release/PMS.Resources.Entities.csproj.FileListAbsolute.txt
/PMS.Resources.Entities/obj/Release/PMS.Resources.Entities.dll
/PMS.Resources.Entities/obj/Release/PMS.Resources.Entities.pdb
/PMS.Resources.Logging/bin/Release/PMS.Resources.DAL.dll
/PMS.Resources.Logging/bin/Release/PMS.Resources.DAL.pdb
/PMS.Resources.Logging/bin/Release/PMS.Resources.Entities.dll
/PMS.Resources.Logging/bin/Release/PMS.Resources.Entities.pdb
/PMS.Resources.Logging/bin/Release/PMS.Resources.Logging.dll
/PMS.Resources.Logging/bin/Release/PMS.Resources.Logging.pdb
/PMS.Resources.Logging/obj/Release/PMS.Resources.Logging.csproj.FileListAbsolute.txt
/PMS.Resources.Logging/obj/Release/PMS.Resources.Logging.csprojResolveAssemblyReference.cache
/PMS.Resources.Logging/obj/Release/PMS.Resources.Logging.dll
/PMS.Resources.Logging/obj/Release/PMS.Resources.Logging.pdb
/PMS.Resources.Logic/bin/Release/PMS.Resources.Caching.dll
/PMS.Resources.Logic/bin/Release/PMS.Resources.Caching.pdb
/PMS.Resources.Logic/bin/Release/PMS.Resources.Common.dll
/PMS.Resources.Logic/bin/Release/PMS.Resources.Common.pdb
/PMS.Resources.Logic/bin/Release/PMS.Resources.DAL.dll
/PMS.Resources.Logic/bin/Release/PMS.Resources.DAL.pdb
/PMS.Resources.Logic/bin/Release/PMS.Resources.DTO.dll
/PMS.Resources.Logic/bin/Release/PMS.Resources.DTO.pdb
/PMS.Resources.Logic/bin/Release/PMS.Resources.Entities.dll
/PMS.Resources.Logic/bin/Release/PMS.Resources.Entities.pdb
/PMS.Resources.Logic/bin/Release/PMS.Resources.Logging.dll
/PMS.Resources.Logic/bin/Release/PMS.Resources.Logging.pdb
/PMS.Resources.Logic/bin/Release/PMS.Resources.Logic.dll
/PMS.Resources.Logic/bin/Release/PMS.Resources.Logic.pdb
/PMS.Resources.Logic/obj/Release/PMS.Resources.Logic.csprojResolveAssemblyReference.cache
/PMS.Resources.Logic/obj/Release/PMS.Resources.Logic.dll
/PMS.Resources.Logic/obj/Release/PMS.Resources.Logic.pdb
/PMS.Resources.Reporting/bin/Release/PMS.Resources.Reporting.dll
/PMS.Resources.Reporting/bin/Release/PMS.Resources.Reporting.pdb
/PMS.Resources.Reporting/obj/Release/PMS.Resources.Reporting.dll
/PMS.Resources.Reporting/obj/Release/PMS.Resources.Reporting.pdb
/PMS.Resources.Services/bin/Release/PMS.Resources.Common.dll
/PMS.Resources.Services/bin/Release/PMS.Resources.Common.pdb
/PMS.Resources.Services/bin/Release/PMS.Resources.DAL.dll
/PMS.Resources.Services/bin/Release/PMS.Resources.DAL.pdb
/PMS.Resources.Services/bin/Release/PMS.Resources.DTO.dll
/PMS.Resources.Services/bin/Release/PMS.Resources.DTO.pdb
/PMS.Resources.Services/bin/Release/PMS.Resources.Entities.dll
/PMS.Resources.Services/bin/Release/PMS.Resources.Entities.pdb
/PMS.Resources.Services/bin/Release/PMS.Resources.Logging.dll
/PMS.Resources.Services/bin/Release/PMS.Resources.Logging.pdb
/PMS.Resources.Services/bin/Release/PMS.Resources.Services.dll
/PMS.Resources.Services/bin/Release/PMS.Resources.Services.pdb
/PMS.Resources.Services/obj/Release/PMS.Resources.Services.csprojResolveAssemblyReference.cache
/PMS.Resources.Services/obj/Release/PMS.Resources.Services.dll
/PMS.Resources.Services/obj/Release/PMS.Resources.Services.pdb
/PMS.Tests/bin/Release/PMS.Resources.Common.dll
/PMS.Tests/bin/Release/PMS.Resources.Common.pdb
/PMS.Tests/bin/Release/PMS.Resources.DAL.dll
/PMS.Tests/bin/Release/PMS.Resources.DAL.pdb
/PMS.Tests/bin/Release/PMS.Resources.DTO.dll
/PMS.Tests/bin/Release/PMS.Resources.DTO.pdb
/PMS.Tests/bin/Release/PMS.Resources.Entities.dll
/PMS.Tests/bin/Release/PMS.Resources.Entities.pdb
/PMS.Tests/bin/Release/PMS.Resources.Logging.dll
/PMS.Tests/bin/Release/PMS.Resources.Logging.pdb
/PMS.Tests/bin/Release/PMS.Resources.Services.dll
/PMS.Tests/bin/Release/PMS.Resources.Services.pdb
/PMS.Tests/bin/Release/PMS.Tests.dll
/PMS.Tests/bin/Release/PMS.Tests.pdb
/PMS.Tests/bin/Release/PMS.Web.dll
/PMS.Tests/bin/Release/PMS.Web.pdb
/PMS.Tests/obj/Release/PMS.Tests.csprojResolveAssemblyReference.cache
/PMS.Tests/obj/Release/PMS.Tests.dll
/PMS.Tests/obj/Release/PMS.Tests.pdb
/PMS.Web/bin/PMS.Resources.DAL.dll
/PMS.Web/bin/PMS.Resources.DAL.pdb
/PMS.Web/bin/PMS.Resources.DTO.dll
/PMS.Web/bin/PMS.Resources.DTO.pdb
/PMS.Web/bin/PMS.Resources.Entities.dll
/PMS.Web/bin/PMS.Resources.Entities.pdb
/PMS.Web/bin/PMS.Resources.Logging.pdb
/PMS.Web/bin/PMS.Resources.Services.dll
/PMS.Web/bin/PMS.Resources.Services.pdb
/PMS.Web/bin/PMS.Web.dll
/PMS.Web/bin/PMS.Web.dll.config
/PMS.Web/bin/PMS.Web.pdb
/PMS.Web/obj/Release/PMS.Web.csprojResolveAssemblyReference.cache
/PMS.Web/obj/Release/PMS.Web.dll
/PMS.Web/obj/Release/PMS.Web.pdb
PMS.Api/bin/PMS.Api.dll
PMS.Api/bin/PMS.Api.dll.config
PMS.Api/bin/PMS.Api.pdb
PMS.Api/bin/PMS.Resources.Caching.dll
PMS.Api/bin/PMS.Resources.Caching.pdb
PMS.Api/bin/PMS.Resources.Common.pdb
PMS.Api/bin/PMS.Resources.Core.dll
PMS.Api/bin/PMS.Resources.Core.pdb
PMS.Api/bin/PMS.Resources.DAL.dll
PMS.Api/bin/PMS.Resources.DAL.pdb
PMS.Api/bin/PMS.Resources.DTO.dll
PMS.Api/bin/PMS.Resources.DTO.pdb
PMS.Api/bin/PMS.Resources.Entities.dll
PMS.Api/bin/PMS.Resources.Entities.pdb
PMS.Api/bin/PMS.Resources.Logging.dll
PMS.Api/bin/PMS.Resources.Logging.pdb
PMS.Api/bin/PMS.Resources.Logic.dll
PMS.Api/bin/PMS.Resources.Logic.pdb
PMS.Api/bin/PMS.Resources.Reporting.dll
PMS.Api/bin/PMS.Resources.Reporting.pdb
PMS.Api/obj/Release/PMS.Api.csprojResolveAssemblyReference.cache
PMS.Api/obj/Release/PMS.Api.dll
PMS.Api/obj/Release/PMS.Api.pdb
PMS.Resources.Caching/bin/Release/PMS.Resources.Caching.dll
PMS.Resources.Caching/bin/Release/PMS.Resources.Caching.pdb
PMS.Resources.Caching/bin/Release/PMS.Resources.Common.dll
PMS.Resources.Caching/bin/Release/PMS.Resources.Common.pdb
PMS.Resources.Caching/obj/Release/PMS.Resources.Caching.csprojResolveAssemblyReference.cache
PMS.Resources.Caching/obj/Release/PMS.Resources.Caching.dll
PMS.Resources.Caching/obj/Release/PMS.Resources.Caching.pdb
PMS.Resources.Common/bin/Release/PMS.Resources.Common.dll
PMS.Resources.Common/bin/Release/PMS.Resources.Common.pdb
PMS.Resources.Common/obj/Release/PMS.Resources.Common.csprojResolveAssemblyReference.cache
PMS.Resources.Common/obj/Release/PMS.Resources.Common.dll
PMS.Resources.Common/obj/Release/PMS.Resources.Common.pdb
PMS.Resources.Core/bin/Release/PMS.Resources.Core.dll
PMS.Resources.Core/bin/Release/PMS.Resources.Core.pdb
PMS.Resources.Core/obj/Release/PMS.Resources.Core.csproj.FileListAbsolute.txt
PMS.Resources.Core/obj/Release/PMS.Resources.Core.csprojResolveAssemblyReference.cache
PMS.Resources.Core/obj/Release/PMS.Resources.Core.dll
PMS.Resources.Core/obj/Release/PMS.Resources.Core.pdb
PMS.Resources.DAL/bin/Release/PMS.Resources.Common.dll
PMS.Resources.DAL/bin/Release/PMS.Resources.Common.pdb
PMS.Resources.DAL/bin/Release/PMS.Resources.DAL.dll
PMS.Resources.DAL/bin/Release/PMS.Resources.DAL.dll.config
PMS.Resources.DAL/bin/Release/PMS.Resources.DAL.pdb
PMS.Resources.DAL/bin/Release/PMS.Resources.Entities.dll
PMS.Resources.DAL/bin/Release/PMS.Resources.Entities.pdb
PMS.Resources.DAL/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
PMS.Resources.DAL/obj/Release/PMS.Resources.DAL.csproj.FileListAbsolute.txt
PMS.Resources.DAL/obj/Release/PMS.Resources.DAL.csprojResolveAssemblyReference.cache
PMS.Resources.DAL/obj/Release/PMS.Resources.DAL.dll
PMS.Resources.DAL/obj/Release/PMS.Resources.DAL.pdb
PMS.Resources.DAL/obj/Release/edmxResourcesToEmbed/PMSModel.csdl
PMS.Resources.DAL/obj/Release/edmxResourcesToEmbed/PMSModel.msl
PMS.Resources.DAL/obj/Release/edmxResourcesToEmbed/PMSModel.ssdl
PMS.Resources.DTO/bin/Release/PMS.Resources.DTO.dll
PMS.Resources.DTO/bin/Release/PMS.Resources.DTO.pdb
PMS.Resources.DTO/bin/Release/PMS.Resources.Entities.dll
PMS.Resources.DTO/bin/Release/PMS.Resources.Entities.pdb
PMS.Resources.DTO/obj/Release/PMS.Resources.DTO.csprojResolveAssemblyReference.cache
PMS.Resources.DTO/obj/Release/PMS.Resources.DTO.dll
PMS.Resources.DTO/obj/Release/PMS.Resources.DTO.pdb
PMS.Resources.Entities/bin/Release/PMS.Resources.Entities.dll
PMS.Resources.Entities/bin/Release/PMS.Resources.Entities.pdb
PMS.Resources.Entities/obj/Release/PMS.Resources.Entities.csproj.FileListAbsolute.txt
PMS.Resources.Entities/obj/Release/PMS.Resources.Entities.dll
PMS.Resources.Entities/obj/Release/PMS.Resources.Entities.pdb
PMS.Resources.Logging/bin/Release/PMS.Resources.DAL.dll
PMS.Resources.Logging/bin/Release/PMS.Resources.DAL.pdb
PMS.Resources.Logging/bin/Release/PMS.Resources.Entities.dll
PMS.Resources.Logging/bin/Release/PMS.Resources.Entities.pdb
PMS.Resources.Logging/bin/Release/PMS.Resources.Logging.dll
PMS.Resources.Logging/bin/Release/PMS.Resources.Logging.pdb
PMS.Resources.Logging/obj/Release/PMS.Resources.Logging.csproj.FileListAbsolute.txt
PMS.Resources.Logging/obj/Release/PMS.Resources.Logging.csprojResolveAssemblyReference.cache
PMS.Resources.Logging/obj/Release/PMS.Resources.Logging.dll
PMS.Resources.Logging/obj/Release/PMS.Resources.Logging.pdb
PMS.Resources.Logic/bin/Release/PMS.Resources.Caching.dll
PMS.Resources.Logic/bin/Release/PMS.Resources.Caching.pdb
PMS.Resources.Logic/bin/Release/PMS.Resources.Common.dll
PMS.Resources.Logic/bin/Release/PMS.Resources.Common.pdb
PMS.Resources.Logic/bin/Release/PMS.Resources.DAL.dll
PMS.Resources.Logic/bin/Release/PMS.Resources.DAL.pdb
PMS.Resources.Logic/bin/Release/PMS.Resources.DTO.dll
PMS.Resources.Logic/bin/Release/PMS.Resources.DTO.pdb
PMS.Resources.Logic/bin/Release/PMS.Resources.Entities.dll
PMS.Resources.Logic/bin/Release/PMS.Resources.Entities.pdb
PMS.Resources.Logic/bin/Release/PMS.Resources.Logging.dll
PMS.Resources.Logic/bin/Release/PMS.Resources.Logging.pdb
PMS.Resources.Logic/bin/Release/PMS.Resources.Logic.dll
PMS.Resources.Logic/bin/Release/PMS.Resources.Logic.pdb
PMS.Resources.Logic/obj/Release/PMS.Resources.Logic.csproj.FileListAbsolute.txt
PMS.Resources.Logic/obj/Release/PMS.Resources.Logic.csprojResolveAssemblyReference.cache
PMS.Resources.Logic/obj/Release/PMS.Resources.Logic.dll
PMS.Resources.Logic/obj/Release/PMS.Resources.Logic.pdb
PMS.Resources.Reporting/bin/Release/PMS.Resources.Reporting.dll
PMS.Resources.Reporting/bin/Release/PMS.Resources.Reporting.pdb
PMS.Resources.Reporting/obj/Release/PMS.Resources.Reporting.csproj.FileListAbsolute.txt
PMS.Resources.Reporting/obj/Release/PMS.Resources.Reporting.dll
PMS.Resources.Reporting/obj/Release/PMS.Resources.Reporting.pdb
PMS.Resources.Services/bin/Release/PMS.Resources.Common.dll
PMS.Resources.Services/bin/Release/PMS.Resources.Common.pdb
PMS.Resources.Services/bin/Release/PMS.Resources.DAL.dll
PMS.Resources.Services/bin/Release/PMS.Resources.DAL.pdb
PMS.Resources.Services/bin/Release/PMS.Resources.DTO.dll
PMS.Resources.Services/bin/Release/PMS.Resources.DTO.pdb
PMS.Resources.Services/bin/Release/PMS.Resources.Entities.dll
PMS.Resources.Services/bin/Release/PMS.Resources.Entities.pdb
PMS.Resources.Services/bin/Release/PMS.Resources.Logging.dll
PMS.Resources.Services/bin/Release/PMS.Resources.Logging.pdb
PMS.Resources.Services/bin/Release/PMS.Resources.Services.dll
PMS.Resources.Services/bin/Release/PMS.Resources.Services.pdb
PMS.Resources.Services/obj/Release/PMS.Resources.Services.csproj.FileListAbsolute.txt
PMS.Resources.Services/obj/Release/PMS.Resources.Services.csprojResolveAssemblyReference.cache
PMS.Resources.Services/obj/Release/PMS.Resources.Services.dll
PMS.Resources.Services/obj/Release/PMS.Resources.Services.pdb
PMS.Tests/bin/Release/PMS.Resources.Common.dll
PMS.Tests/bin/Release/PMS.Resources.Common.pdb
PMS.Tests/bin/Release/PMS.Resources.DAL.dll
PMS.Tests/bin/Release/PMS.Resources.DAL.pdb
PMS.Tests/bin/Release/PMS.Resources.DTO.dll
PMS.Tests/bin/Release/PMS.Resources.DTO.pdb
PMS.Tests/bin/Release/PMS.Resources.Entities.dll
PMS.Tests/bin/Release/PMS.Resources.Entities.pdb
PMS.Tests/bin/Release/PMS.Resources.Logging.dll
PMS.Tests/bin/Release/PMS.Resources.Logging.pdb
PMS.Tests/bin/Release/PMS.Resources.Services.dll
PMS.Tests/bin/Release/PMS.Resources.Services.pdb
PMS.Tests/bin/Release/PMS.Tests.dll
PMS.Tests/bin/Release/PMS.Tests.pdb
PMS.Tests/bin/Release/PMS.Web.dll
PMS.Tests/bin/Release/PMS.Web.pdb
PMS.Tests/obj/Release/PMS.Tests.csprojResolveAssemblyReference.cache
PMS.Tests/obj/Release/PMS.Tests.dll
PMS.Tests/obj/Release/PMS.Tests.pdb
PMS.Web/bin/PMS.Resources.DAL.dll
PMS.Web/bin/PMS.Resources.DAL.pdb
PMS.Web/bin/PMS.Resources.DTO.dll
PMS.Web/bin/PMS.Resources.DTO.pdb
PMS.Web/bin/PMS.Resources.Entities.dll
PMS.Web/bin/PMS.Resources.Entities.pdb
PMS.Web/bin/PMS.Resources.Logging.pdb
PMS.Web/bin/PMS.Resources.Services.dll
PMS.Web/bin/PMS.Resources.Services.pdb
PMS.Web/bin/PMS.Web.dll
PMS.Web/bin/PMS.Web.dll.config
PMS.Web/bin/PMS.Web.pdb
PMS.Web/obj/Release/PMS.Web.csprojResolveAssemblyReference.cache
PMS.Web/obj/Release/PMS.Web.dll
PMS.Web/obj/Release/PMS.Web.pdb
PMS.Web/obj/
PMS.Web/Web.config
