    @{
        ViewBag.Title = "Guest Checkin";
    }
    <script type='text/javascript'>
        var gcm = window.GuestCheckinManager;
        var pmsSession = window.PmsSession;
        var invoiceId = -1;

        function OnPropertyChange() {
            gcm.ClearExistingSessionStorage();
            gcm.ClearAllFields();
            //set property id on property ddl selection
            pmsSession.SetItem("propertyid", $('#ddlGlobalProperty').val());
            gcm.Initialize();
            init();
        }

        function OnHistoryClick() {
            // call api only when expand event is fire
            if ($('#collapse1').attr('aria-expanded') != 'false') return;
            gcm.GetGuestHistory();
        }      

        function validateNumeric(e) {
            gcm.IsNumeric(e);
        }

        $('#phone').keydown(function (e) {
            gcm.IsNumeric(e);
        });

        function OnTaxValChange(e, htmlElement) {
            if (!htmlElement.value || isNaN(htmlElement.value)) {
                htmlElement.value = '';
            }
            gcm.CalculateInvoice();
        }

        //function OnHourlyCbChecked() {
        //    var cmbHours = $('#hoursComboBox');
        //    var chkHours = $('#hourCheckin')[0];
        //    var checkOutDate = $('#dateTo');
        //    var checkInDate = $('#dateFrom');

        //    cmbHours.prop("disabled", !chkHours.checked);
        //    checkOutDate.prop("disabled", chkHours.checked);

        //    //  hrs checkbox is not checked clear hrs in checkOutDate
        //    if (!chkHours.checked) {
        //        checkOutDate.val('');
        //        return;
        //    }

        //    if (!checkInDate.val() || checkInDate.val().length <= 0) {
        //        alert("Please select checkin date");
        //        return;
        //    }
        //};

        //function OnCheckinHourChange() {
        //    var chkHours = $('#hourCheckin')[0];
        //    var checkOutDate = $('#dateTo');
        //    var checkInDate = $('#dateFrom');
        //    var cmbHours = $('#hoursComboBox');
            
        //    if (cmbHours.val() === '-1') {
        //        alert("Please select checkin hrs");
        //        return;
        //    }

        //    if (!checkInDate.val() || checkInDate.val().length <= 0) {
        //        alert("Please select checkin date");
        //        return;
        //    }

        //    // date format mm/dd/yyyy
        //    var dt = new Date(checkInDate.val());
        //    var month = dt.getMonth() + 1;
        //    var day = dt.getDate();
        //    var dateOutput = (month < 10 ? '0' : '') + month + '/' +
        //                     (day < 10 ? '0' : '') + day + '/' +
        //                      dt.getFullYear();
        //    var hrsToAdd = parseInt(cmbHours.val());
        //    var currentHrs = dt.getHours();
        //    var am = null;
        //    var hrs = null;
        //    if (currentHrs === 0 || currentHrs + hrsToAdd < 12) {
        //        hrs = currentHrs + hrsToAdd;
        //        am = "am";
        //    }
        //    else if (currentHrs + hrsToAdd >= 24) {
        //        hrs = currentHrs + hrsToAdd - 24 === 0 ? 12 : currentHrs + hrsToAdd - 24;
        //        am = "am";
        //    }
        //    else if (currentHrs + hrsToAdd >= 12 && currentHrs + hrsToAdd < 24) {
        //        hrs = currentHrs + hrsToAdd - 12 === 0 ? 12 : currentHrs + hrsToAdd - 12;
        //        am = "pm";
        //    }
        //    var mins = dt.getMinutes() < 10 ? "0" + dt.getMinutes() : dt.getMinutes();
        //    var time = hrs + ":" + mins + " " + am;
        //    checkOutDate.val(dateOutput + ' ' + time);            
        //};

        $(function () {
            $("#datetimepicker1").on("dp.change", function (e) {
                $('#datetimepicker2').data("DateTimePicker").minDate(e.date);
                if (gcm.ShouldCallGetRoomApi()) {
                        //pmsSession.RemoveItem("roomdata");
                        gcm.GetRoomByDate($('#dateFrom').val(), $('#dateTo').val());
                }
                OnCmbHourlyCheckInChange();
            });

            $("#datetimepicker2").on("dp.change", function (e) {
                if (gcm.ShouldCallGetRoomApi()) {
                    //pmsSession.RemoveItem("roomdata");
                    gcm.GetRoomByDate($('#dateFrom').val(), $('#dateTo').val());
                }
            });
        });

        function OnCmbHourlyCheckInChange() {
            var checkOutDate = document.getElementById('dateTo');
            var checkInDate = document.getElementById('dateFrom');
            var checkoutHrs = gcm.GetSelectedCheckoutHrs();
            var hrsToAdd = checkoutHrs > 0 ? checkoutHrs : 0;
            var chkHours = document.getElementById('hourCheckin');
            var dt = new Date($('#dateFrom').val());
            
            if (!dt.toLocaleString().includes("Invalid") && (hrsToAdd != '-1') && (chkHours.checked == true))
            {
                //dt.setHours(dt.getHours() + hoursToAdd);
                //TODO: Needs to change it with  correct code base
                var month = dt.getMonth() + 1;
                var day = dt.getDate();
                var dateOutput = (month < 10 ? '0' : '') + month + '/' +
                                 (day < 10 ? '0' : '') + day + '/' +
                                  dt.getFullYear();
                
                var currentHrs = dt.getHours();
                var am = null;
                var hrs = null;
                if (currentHrs === 0 || currentHrs + hrsToAdd < 12) {
                    hrs = currentHrs + hrsToAdd;
                    am = "am";
                }
                else if (currentHrs + hrsToAdd >= 24) {
                    hrs = currentHrs + hrsToAdd - 24 === 0 ? 12 : currentHrs + hrsToAdd - 24;
                    am = "am";
                }
                else if (currentHrs + hrsToAdd >= 12 && currentHrs + hrsToAdd < 24) {
                    hrs = currentHrs + hrsToAdd - 12 === 0 ? 12 : currentHrs + hrsToAdd - 12;
                    am = "pm";
                }
                var mins = dt.getMinutes() < 10 ? "0" + dt.getMinutes() : dt.getMinutes();
                var time = hrs + ":" + mins + " " + am;
                //checkOutDate.val(dateOutput + ' ' + time);            
                checkOutDate.value = dateOutput + ' ' + time; 
            }
            var selectedHr = $("#hoursComboBox option:selected").text();
            // filter only hourly rate type  
            gcm.FilterRateType($('#rateTypeDdl'), selectedHr);
         }
       
        function OnChkHourlyCheckInChange() {
            gcm.BindRateTypeDdl($('#rateTypeDdl'));
            gcm.FillHourlyDdl($('#hoursComboBox'));

            var cmbHours = document.getElementById("hoursComboBox");
            var chkHours = document.getElementById("hourCheckin");
            var checkOutDate = document.getElementById('dateTo');
            cmbHours.disabled = chkHours.checked ? false : true;
            checkOutDate.disabled = chkHours.checked ? true : false;

            var checkInDate = document.getElementById('dateFrom');
            var dtStart = new Date($('#dateFrom').val());
            var dtEnd = new Date($('#dateTo').val());

            if (!dtStart.toLocaleString().includes("Invalid") && !dtEnd.toLocaleString().includes("Invalid"))
            {
                //alert(getDays(dtStart, dtEnd));
            }
        }
        
        function OnCountryChange(ddlCountry, ddlState, ddlCity) {
            gcm.OnCountryChange(ddlCountry, ddlState, ddlCity);
        }

        function OnStateChange(ddlState, ddlCity) {
            gcm.OnStateChange(ddlState, ddlCity);
        }

        function OnRoomTypeChange() {
            var ddlRoom = $('#roomddl');
            var roomTypeId = $('#roomTypeDdl').val();
            ddlRoom.empty();
            ddlRoom.append(new Option("Select Room", "-1"));

            if (roomTypeId !== '-1') {
                if (gcm.ShouldCallGetRoomApi()) {
                    //pmsSession.RemoveItem("roomdata");
                    gcm.GetRoomByDate($('#dateFrom').val(), $('#dateTo').val());
                }                
            }
        }

        function previewImage(input , imgControl) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    imgControl.attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }

        function populateGuestUi(data) {
            gcm.PopulateGuestDetails(data);
            $('#address').val(data.Address1);
            $('#zipCode').val(data.ZipCode);
            if (data.GuestMappings[0] && data.GuestMappings[0].IDDETAILS) {
                $('#idDetails').val(data.GuestMappings[0].IDDETAILS);
            }
            if (data.GuestMappings[0] && data.GuestMappings[0].IdType && data.GuestMappings[0].IdType.ID) {
                $("#ddlIdType").val(data.GuestMappings[0].IdType.ID);
            }
            
            if (data.GuestMappings[0] && data.GuestMappings[0].IdExpiryDate) {
                $('#idExpiry').val(data.GuestMappings[0].IdExpiryDate.replace('T', ' '));
            }
            $('#ddlCountry').val(data.Country.Id);
            if (data.GuestMappings[0] && data.GuestMappings[0].IdIssueCountryID) {
                $('#ddlIdCountry').val(data.GuestMappings[0].IdIssueCountryID);
                gcm.BindStateDdl(data.GuestMappings[0].IdIssueCountryID, $('#ddlIdState'));
                
            }
            if (data.GuestMappings[0] && data.GuestMappings[0].IdIssueStateID) {
                $('#ddlIdState').val(data.GuestMappings[0].IdIssueStateID);
            }
            gcm.BindStateDdl(data.Country.Id, $('#ddlState'));
            gcm.BindCityDdl(data.State.Id, $('#ddlCity'));
            $('#ddlState').val(data.State.Id);
            $('#ddlCity').val(data.City.Id);
            gcm.MakeGuestInfoReadOnly(true);
            // clear guest history if guest id is not present
            gcm.AutoCollapseGuestHistory();
        }

        function clearGuestUi() {
            gcm.MakeGuestInfoReadOnly(false);
            $('#fName').val('');
            $('#lName').val('');
            $('#phone').val('');
            $('#email').val('');
            $('#idDetails').val('');
            $('#imgPhoto').attr('src', '');
            $('#imgAdditionalPhoto').attr('src', '');
            $('#imgPhoto').css('visibility', 'hidden');
            $('#imgPhoto').removeClass('photo-added');
            $('#imgAdditionalPhoto').css('visibility', 'hidden');
            $('#imgAdditionalPhoto').removeClass('photo-added');
            $('#address').val('');
            $('#zipCode').val('');
            $('#idDetails').val('');
            $("#ddlIdType").val(-1);
            $('#idExpiry').val('');
            $('#ddlCountry').val(-1);
            $('#ddlIdCountry').val(-1);
            $('#ddlState').empty();
            $('#ddlIdState').empty();
            $('#ddlCity').empty();
            $('#ddlState').append(new Option("Select State", "-1"));
            $('#ddlIdState').append(new Option("Select State", "-1"));
            $('#ddlCity').append(new Option("Select City", "-1"));
            $('#ddlState').val(-1);
            $('#ddlIdState').val(-1);
            $('#ddlCity').val(-1);
            $('#dob').val('');
            window.GuestCheckinManager.BookingDto.GuestId = null;
            // clear guest history if guest id is not present
            gcm.AutoCollapseGuestHistory();
        }        

        function toggleHourlyCbBaseOnTimeDiff(timeDiffInHours) {      

            timeDiffInHours = timeDiffInHours + "-hr";
            $('#hourCheckin').attr("checked", "checked");
            OnChkHourlyCheckInChange();
            $("#hoursComboBox option").each(function () {
                if ($(this).text().toLowerCase() === timeDiffInHours.toLowerCase()) {
                    $(this).attr('selected', 'selected');
                }
            });
            
            var selectedHr = $("#hoursComboBox option:selected").text();
            if (selectedHr == "Select Hrs") {
                $('#hourCheckin').removeAttr('checked');
                OnChkHourlyCheckInChange();
            }
            else {
                var selectedHr = $("#hoursComboBox option:selected").text();
                gcm.FilterRateType($('#rateTypeDdl'), selectedHr);
            }
            //// if hourly cb is checked then show only hourly rate type
            //if ($("#hoursComboBox").selectedIndex > 0) {

            //}
            //else {

            //}
        }

        function init() {
            if (pmsSession.GetItem("propertyid")) {
                gcm.BindInitDropdowns();
            }
            //if user is navigated to checkin screen from dashboard screen with bookingid in session storage
            if (pmsSession.GetItem("bookingId")) {
                $('#btnCheckin').attr("disabled", true);
                $('#btnSave').attr("disabled", true);
                $('#btnCheckout').attr("disabled", false);                
                var bookingId = pmsSession.GetItem("bookingId");                
                gcm.GetBookingById(bookingId);                
            }
            //once bookingId is retrive then clear sessionstorage
            pmsSession.RemoveItem("bookingId");

            //if user is navigated to checkin screen from dashboard screen
            if (pmsSession.GetItem("dtcheckin") && pmsSession.GetItem("dtcheckout")
                && pmsSession.GetItem("roomtypeid") && pmsSession.GetItem("roomid")) {
                
                $("#dateFrom").val(pmsSession.GetItem("dtcheckin").replace('T', ' '));
                $("#dateTo").val(pmsSession.GetItem("dtcheckout").replace('T', ' '));
                var roomTypeId = pmsSession.GetItem("roomtypeid");
                $('#roomTypeDdl').val(roomTypeId);
                if (roomTypeId !== '-1') {
                    if (gcm.ShouldCallGetRoomApi()) {
                        Notifications.SubscribeActive("on-roombydate-get-success", function (sender, args) {
                            var roomId = pmsSession.GetItem("roomid");
                            if (roomId && roomId > 0) {
                                $("#roomddl").val(roomId);
                                gcm.LoadInvoice();
                            }
                            //Set the hourly checkin information if diference in checkin-checkout is less than 6 hours
                            var timeDiffInHours = (new Date(pmsSession.GetItem("dtcheckout")).getTime() - new Date(pmsSession.GetItem("dtcheckin")).getTime()) / 3600000;
                            if (timeDiffInHours && timeDiffInHours <= 12) {
                                toggleHourlyCbBaseOnTimeDiff(timeDiffInHours);
                            }

                            //once value is set in input date then clear sessionstorage
                            pmsSession.RemoveItem("dtcheckin");
                            pmsSession.RemoveItem("dtcheckout");
                            pmsSession.RemoveItem("roomid");
                            pmsSession.RemoveItem("roomtypeid");
                        });
                        gcm.GetRoomByDate($('#dateFrom').val(), $('#dateTo').val());
                    }
                }
            }
            $("#fName").prop("readonly", false);
            $("#lName").prop("readonly", false);            
        }

        function printData(data) {
            var newWin = window.open('', 'Print-Window');
            newWin.document.open();
            newWin.document.write('<html><body onload="window.print()">' + data + '</body></html>');
            newWin.document.close();
            setTimeout(function () { newWin.close(); }, 10);
        
        }

        $(document).ready(function () {

            init();

            $('#divInvoice').on("click", ".tableRow-remove", function () {
                $(this).parents('tr').detach();
                gcm.CalculateInvoice();
            });

            $('#divInvoice').on("click", ".table-add", function (e) {
                var cloneHtmlElement = $('#divInvoice').find('tr#trOthertax:first').clone(true).removeClass('remove');
                cloneHtmlElement[0].style = 'display:block';
                //var ddlExtraChargesSelector = '#' + cloneHtmlElement[0].id + " td" + " select";
                //$(ddlExtraChargesSelector)[0].id = "ddlExtraCharges";
                $('#divInvoice').find('#trDefaultCharges:nth-child(3)').after(cloneHtmlElement);
                $('#' + cloneHtmlElement[0].id + ' td#otherTaxText')[1].focus();
                e.stopPropagation();
            });

            $('#divInvoice').on("click", "#addPaymentType", function (e) {                
                var cloneHtmlElement = $('#divInvoice').find('tr#trPaymentTypeOther:last').clone(true);
                cloneHtmlElement[0].style = 'display:block';
                //var ddlPaymentTypeSelector = '#' + cloneHtmlElement[0].id + " td" + " select";
                //$(ddlPaymentTypeSelector)[0].id = "paymentTypeDdl";
                $('#divInvoice').find('#trPayment').before(cloneHtmlElement);
                e.stopPropagation();
            });

            $("#loadInvoice").click(function () {
                gcm.LoadInvoice();
            });

            $("#saveInvoice").click(function () {
                gcm.AddInvoice();
            });
            
            $("#btnRefresh").click(function () {
                if (confirm("Do you want clear unsaved booking data ?")) {
                    init();
                    gcm.ClearAllFields();
                }                
            });


            $("#btnPrintFolio").click(function () {
                if (confirm("Do you want to print folio ?")) {
                    var printableData = gcm.PopulatePrintData("folio");
                    printData(printableData);                   
                }
            });

            $("#btnPrintReceipt").click(function () {
                if (confirm("Do you want to print receipt ?")) {
                    var printableData = gcm.PopulatePrintData("receipt");
                    printData(printableData);
                }
            });

            $("#btnCheckin").click(function () {
                if (!gcm.ValidateInputs()) return;
                gcm.LoadInvoice();
                gcm.AddBooking('booked');
            });

            $("#btnCheckout").click(function () {
                if (confirm("Do you want checkout ?")) {
                    var balance = $('#balance');
                    var payment = $('#payment');
                    var shouldRefund = false;
                    if (!balance || balance.length <= 0) {
                        alert('Please check the balance amount.');
                        return;
                    }
                    var daysDiff = gcm.GetDays(gcm.GetCurrentDate(), new Date($("#dateTo").val()));
                    // if current date is not same as of checkout date
                    if (daysDiff !== 0) {
                        $("#dateTo").val(gcm.GetCurrentDate());
                        Notifications.SubscribeActive("on-checkout-date-change", function (sender, args) {
                            // restoring invoiceid again when invoice is loaded after change in checkout date
                            window.GuestCheckinManager.BookingDto.InvoiceId = invoiceId;
                            var dueAmt = parseInt($('#balance').val());
                            var refund = false;
                            if (dueAmt > 0) {
                                alert('Checkout can not be initiated without making full payment. Kindly make payment.');
                                $('#payment').focus();
                                return;
                            } else if (dueAmt < 0) {
                                if (confirm("Refund $" + dueAmt + "to the Guest ?")) {
                                    refund = true;
                                }
                                gcm.AddBooking('checkout', refund);
                            }
                        });
                        gcm.LoadInvoice(true);
                    } else {
                        var amt = parseInt(balance.val());
                        if (amt > 0) {
                            alert('Checkout can not be initiated without making full payment. Kindly make payment.');
                            payment.focus();
                            return;
                        } else if (amt < 0) {
                            if (confirm("Refund $" + amt + "to the Guest ?")) {
                                shouldRefund = true;
                            }
                            gcm.AddBooking('checkout', shouldRefund);
                        } 
                    }
                }                
            });

            $("#btnSave").click(function () {
                if (!gcm.ValidateInputs()) return;
                gcm.LoadInvoice();
                gcm.AddBooking('booked');
            });

            $("#btnReserved").click(function () {
                if (!gcm.ValidateInputs()) return;
                gcm.LoadInvoice();
                gcm.AddBooking('reserved');
            });           

            $("#uploadPhoto").change(function () {
                $('#imgPhoto').css('visibility', 'visible');
                $('#imgPhoto').addClass('photo-added');
                previewImage(this, $('#imgPhoto'));
            });

            $("#additionalUpload").change(function () {
                $('#imgAdditionalPhoto').css('visibility', 'visible');
                $('#imgAdditionalPhoto').addClass('photo-added');
                previewImage(this, $('#imgAdditionalPhoto'));
            });

            $('#searchGuest').keyup(function (e) {
                if ($('#searchGuest').val() === '') {
                    clearGuestUi();
                }
            });

            var filtereGuestdata = [];           
            $('#searchGuest').autocomplete({
                //This shows the min length of charcters that must be typed 
                //before the autocomplete looks for a match.
                minLength: 4,
                source: function (request, response) {
                    filtereGuestdata = gcm.SearchGuest();
                    response($.map(filtereGuestdata, function (value, key) {
                        return {
                            label: value.Id + ": " + value.LastName + ", " + value.FirstName,
                            value: value.Id
                        }
                    }));
                },
                select: function (event, ui) {
                    var data = filtereGuestdata;
                    idx = gcm.CheckIfKeyPresent(ui.item.value, data);
                    var selectedGuestObject = data[idx];
                    if (!selectedGuestObject) return false;

                    $('#searchGuest').val(ui.item.label);
                    window.GuestCheckinManager.BookingDto.GuestId = ui.item.value;
                    populateGuestUi(selectedGuestObject);
                    return false;
                }
            });

            $('#phone').keydown(function (e) {
                gcm.IsNumeric(e);
            });

            $('#zipCode').keydown(function (e) {
                gcm.IsNumeric(e);
            });

            $("#dateFrom").focus(function () {                
                var thisCalendar = $(this);
                //thisCalendar.click(function () {
                //    OnCmbHourlyCheckInChange();
                //});

                //thisCalendar.button.click(function () {s
                //    OnCmbHourlyCheckInChange();
                //});

                //$('.ui-datepicker-calendar').detach();
                //$('.ui-datepicker-close').click(function () {                    
                //    var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
                //    var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
                //    thisCalendar.datepicker('setDate', new Date(year, month, 1));

                //    if (gcm.ShouldCallGetRoomApi()) {
                //        pmsSession.RemoveItem("roomdata");
                //        gcm.GetRoomByDate();
                //    }
                //});
                OnCmbHourlyCheckInChange();
            });


            //$("#dateTo").focus(function () {
            //    var thisCalendar = $(this);
            //    //$('.ui-datepicker-calendar').detach();
            //    $('.ui-datepicker-close').click(function () {
            //        var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
            //        var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
            //        thisCalendar.datepicker('setDate', new Date(year, month, 1));

            //        if (gcm.ShouldCallGetRoomApi()) {
            //            pmsSession.RemoveItem("roomdata");
            //            gcm.GetRoomByDate();
            //        }
            //    });
            //});
        });

    </script>
    <div class="content-wrap">
        <div class="main controls">
            <div class="container-fluid">
                <div class="main-content">
                    <div class="row">
                        <div class="col-lg-8 p-r-0">
                            @Html.Partial("_RoomDetails")<!-- /# column -->
                            @Html.Partial("_GuestDetails")
                            @Html.Partial("_GuestHistory")<!-- /# column -->
                        </div>
                        <div class="col-lg-4">
                            @Html.Partial("_PaymentSummary")
                        </div>
                        </div><!-- /# column -->
                </div>              
            </div><!-- /# main content -->
        </div><!-- /# container-fluid -->
    </div><!-- /# main -->
    <div class="footer-nav">
        <div class="show">
            <input id="btnRefresh" type="button" class="btn btn-primary m-b-10 m-l-5" value="New Booking" />
            <input id="btnCheckin" type="button" class="btn btn-primary m-b-10 m-l-5" value="Checkin" />
            <input id="btnCheckout" disabled="disabled" type="button" class="btn btn-primary m-b-10 m-l-5" value="Checkout" />
            <input id="btnSave" disabled="disabled" type="button" class="btn btn-primary m-b-10 m-l-5" value="Save" />
            <input id="btnReserved" type="button" class="btn btn-primary m-b-10 m-l-5" value="Reservation" />
        </div>
    </div>

<div id="divLoader">
    <div class="loader" style="display:none;">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
    </div>
</div>