    @{
        ViewBag.Title = "Guest Checkin";
    }
    <script type='text/javascript'>
        var gcm = window.GuestCheckinManager;
        var pmsSession = window.PmsSession;

        function OnRoomTypeChange() {
            if ($('#roomTypeDdl').val() !== '-1') {
                var roomData = pmsSession.GetItem("roomdata");
                if (!roomData && gcm.ShouldCallGetRoomApi()) {
                    gcm.GetRoomByDate();
                } else {
                    gcm.BindRoomDdl();
                }
            } else {
                $('#roomddl').empty();
            }
        }

        function previewImage(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#imgPhoto').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }

        $(document).ready(function () {
            //if user is navigated to checkin screen from dashboard screen
            if (pmsSession.GetItem("dtcheckin") && pmsSession.GetItem("dtcheckout")) {
                $("#dateFrom").val(pmsSession.GetItem("dtcheckin"));
                $("#dateTo").val(pmsSession.GetItem("dtcheckout"));
            }

            //once value is set in input date then clear sessionstorage
            pmsSession.RemoveItem("dtcheckin");
            pmsSession.RemoveItem("dtcheckout");

            $("#btnBooking").click(function () {
                gcm.AddBooking();
            });

            $("#uploadPhoto").change(function () {
                previewImage(this);
            }); 

            //$("#dateFrom").focus(function () {                
            //    var thisCalendar = $(this);
            //    //$('.ui-datepicker-calendar').detach();
            //    $('.ui-datepicker-close').click(function () {                    
            //        var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
            //        var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
            //        thisCalendar.datepicker('setDate', new Date(year, month, 1));

            //        if (gcm.ShouldCallGetRoomApi()) {
            //            pmsSession.RemoveItem("roomdata");
            //            gcm.GetRoomByDate();
            //        }
            //    });
            //});


            //$("#dateTo").focus(function () {
            //    var thisCalendar = $(this);
            //    //$('.ui-datepicker-calendar').detach();
            //    $('.ui-datepicker-close').click(function () {
            //        var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
            //        var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
            //        thisCalendar.datepicker('setDate', new Date(year, month, 1));

            //        if (gcm.ShouldCallGetRoomApi()) {
            //            pmsSession.RemoveItem("roomdata");
            //            gcm.GetRoomByDate();
            //        }
            //    });
            //});

            $('#phone').keydown(function (e) {
                if (e.shiftKey || e.ctrlKey || e.altKey) {
                    e.preventDefault();
                } else {
                    var key = e.keyCode;
                    if (!((key == 8) || (key == 46) || (key >= 35 && key <= 40) || (key >= 48 && key <= 57) || (key >= 96 && key <= 105))) {
                        e.preventDefault();
                    }
                }
            });

            $('#zipCode').keydown(function (e) {
                if (e.shiftKey || e.ctrlKey || e.altKey) {
                    e.preventDefault();
                } else {
                    var key = e.keyCode;
                    if (!((key == 8) || (key == 46) || (key >= 35 && key <= 40) || (key >= 48 && key <= 57) || (key >= 96 && key <= 105))) {
                        e.preventDefault();
                    }
                }
            });
        });

    </script>
    <div class="content-wrap">
        <div class="main controls">
            <div class="container-fluid">
                <div class="main-content">
                    <div class="row">
                        @Html.Partial("_RoomDetails")<!-- /# column -->
                        @Html.Partial("_GuestDetails")
                        @Html.Partial("_PaymentSummary")
                    </div><!-- /# column -->
                </div>
                <div class="row">
                    @Html.Partial("_GuestHistory")<!-- /# column -->

                </div><!-- /# row -->
            </div><!-- /# main content -->
        </div><!-- /# container-fluid -->
    </div><!-- /# main -->
    <div class="footer-nav">
        <div class="">
            <input id="btnBooking" type="button" class="btn btn-primary m-b-10 m-l-5" value="Submit" />
            <input type="button" class="btn btn-default m-b-10" value="Clear" />
        </div>
    </div>