@{
    ViewBag.Title = "Guest Checkin";
}

<div class="content-wrap">
    <div class="main controls">
        <div class="container-fluid">
            <div class="main-content">
                <div class="row">
                    @Html.Partial("_RoomDetails")<!-- /# column -->
                    @Html.Partial("_GuestDetails")
                </div><!-- /# column -->
            </div>
            <div class="row">
                @Html.Partial("_GuestHistory")<!-- /# column -->
                @Html.Partial("_PaymentSummary")
            </div><!-- /# row -->
        </div><!-- /# main content -->
    </div><!-- /# container-fluid -->
</div><!-- /# main -->