    @{
        ViewBag.Title = "Guest Checkin";
    }
    <script type='text/javascript'>

        var gcm = window.GuestCheckinManager;
        var pmsSession = window.PmsSession;        

        function OnHistoryClick() {
            // call api only when expand event is fire
            if ($('#collapse1').attr('aria-expanded') != 'false') return;
            gcm.GetGuestHistory();
        }      

        function OnTaxValChange(e, htmlElement) {
            if (!htmlElement.value || isNaN(htmlElement.value)) {
                htmlElement.value = '';
            }
            gcm.CalculateInvoice();
        }

        //function OnHourlyCbChecked() {
        //    var cmbHours = $('#hoursComboBox');
        //    var chkHours = $('#hourCheckin')[0];
        //    var checkOutDate = $('#dateTo');
        //    var checkInDate = $('#dateFrom');

        //    cmbHours.prop("disabled", !chkHours.checked);
        //    checkOutDate.prop("disabled", chkHours.checked);

        //    //  hrs checkbox is not checked clear hrs in checkOutDate
        //    if (!chkHours.checked) {
        //        checkOutDate.val('');
        //        return;
        //    }

        //    if (!checkInDate.val() || checkInDate.val().length <= 0) {
        //        alert("Please select checkin date");
        //        return;
        //    }
        //};

        //function OnCheckinHourChange() {
        //    var chkHours = $('#hourCheckin')[0];
        //    var checkOutDate = $('#dateTo');
        //    var checkInDate = $('#dateFrom');
        //    var cmbHours = $('#hoursComboBox');
            
        //    if (cmbHours.val() === '-1') {
        //        alert("Please select checkin hrs");
        //        return;
        //    }

        //    if (!checkInDate.val() || checkInDate.val().length <= 0) {
        //        alert("Please select checkin date");
        //        return;
        //    }

        //    // date format mm/dd/yyyy
        //    var dt = new Date(checkInDate.val());
        //    var month = dt.getMonth() + 1;
        //    var day = dt.getDate();
        //    var dateOutput = (month < 10 ? '0' : '') + month + '/' +
        //                     (day < 10 ? '0' : '') + day + '/' +
        //                      dt.getFullYear();
        //    var hrsToAdd = parseInt(cmbHours.val());
        //    var currentHrs = dt.getHours();
        //    var am = null;
        //    var hrs = null;
        //    if (currentHrs === 0 || currentHrs + hrsToAdd < 12) {
        //        hrs = currentHrs + hrsToAdd;
        //        am = "am";
        //    }
        //    else if (currentHrs + hrsToAdd >= 24) {
        //        hrs = currentHrs + hrsToAdd - 24 === 0 ? 12 : currentHrs + hrsToAdd - 24;
        //        am = "am";
        //    }
        //    else if (currentHrs + hrsToAdd >= 12 && currentHrs + hrsToAdd < 24) {
        //        hrs = currentHrs + hrsToAdd - 12 === 0 ? 12 : currentHrs + hrsToAdd - 12;
        //        am = "pm";
        //    }
        //    var mins = dt.getMinutes() < 10 ? "0" + dt.getMinutes() : dt.getMinutes();
        //    var time = hrs + ":" + mins + " " + am;
        //    checkOutDate.val(dateOutput + ' ' + time);            
        //};

        $(function () {
            $("#datetimepicker1").on("dp.change", function (e) {
                OnCmbHourlyCheckInChange();
            });
        });

        function OnCmbHourlyCheckInChange() {
            var checkOutDate = document.getElementById('dateTo');
            var checkInDate = document.getElementById('dateFrom');
            var hrsToAdd = parseInt(document.getElementById('hoursComboBox').value);
            var chkHours = document.getElementById('hourCheckin');
            var dt = new Date($('#dateFrom').val());
            
            if (!dt.toLocaleString().includes("Invalid") && (hrsToAdd != '-1') && (chkHours.checked == true))
            {
                //dt.setHours(dt.getHours() + hoursToAdd);
                //TODO: Needs to change it with  correct code base
                var month = dt.getMonth() + 1;
                var day = dt.getDate();
                var dateOutput = (month < 10 ? '0' : '') + month + '/' +
                                 (day < 10 ? '0' : '') + day + '/' +
                                  dt.getFullYear();
                
                var currentHrs = dt.getHours();
                var am = null;
                var hrs = null;
                if (currentHrs === 0 || currentHrs + hrsToAdd < 12) {
                    hrs = currentHrs + hrsToAdd;
                    am = "am";
                }
                else if (currentHrs + hrsToAdd >= 24) {
                    hrs = currentHrs + hrsToAdd - 24 === 0 ? 12 : currentHrs + hrsToAdd - 24;
                    am = "am";
                }
                else if (currentHrs + hrsToAdd >= 12 && currentHrs + hrsToAdd < 24) {
                    hrs = currentHrs + hrsToAdd - 12 === 0 ? 12 : currentHrs + hrsToAdd - 12;
                    am = "pm";
                }
                var mins = dt.getMinutes() < 10 ? "0" + dt.getMinutes() : dt.getMinutes();
                var time = hrs + ":" + mins + " " + am;
                //checkOutDate.val(dateOutput + ' ' + time);            
                checkOutDate.value = dateOutput + ' ' + time; 
            };
                
         }
       
        function OnChkHourlyCheckInChange() {
            gcm.BindRateTypeDdl($('#rateTypeDdl'));
            gcm.FillHourlyDdl($('#hoursComboBox'));

            var cmbHours = document.getElementById("hoursComboBox");
            var chkHours = document.getElementById("hourCheckin");
            var checkOutDate = document.getElementById('dateTo');
            cmbHours.disabled = chkHours.checked ? false : true;
            checkOutDate.disabled = chkHours.checked ? true : false;

            var checkInDate = document.getElementById('dateFrom');

            var dtStart = new Date($('#dateFrom').val());
            var dtEnd = new Date($('#dateTo').val());

            if (!dtStart.toLocaleString().includes("Invalid") && !dtEnd.toLocaleString().includes("Invalid"))
            {
                //alert(getDays(dtStart, dtEnd));
            }
        }
        
        function OnCountryChange(ddlCountry, ddlState, ddlCity) {
            gcm.OnCountryChange(ddlCountry, ddlState, ddlCity);
        }

        function OnStateChange(ddlState, ddlCity) {
            gcm.OnStateChange(ddlState, ddlCity);
        }

        function OnRoomTypeChange() {
            var ddlRoom = $('#roomddl');
            var roomTypeId = $('#roomTypeDdl').val();
            ddlRoom.empty();
            ddlRoom.append(new Option("Select Room", "-1"));

            if (roomTypeId !== '-1') {
                if (gcm.ShouldCallGetRoomApi()) {
                    Notifications.SubscribeActive("on-roombydate-get-success", function (sender, args) {
                        var data = pmsSession.GetItem("roomdata");
                        var rooms = $.parseJSON(data);
                        window.GuestCheckinManager.BindRoomDdl(ddlRoom, roomTypeId, rooms, true);
                    });
                    gcm.GetRoomByDate($('#dateFrom').val(), $('#dateTo').val());
                }                
            }
        }

        function previewImage(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#imgPhoto').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }

        function populateGuestUi(data) {
            $('#fName').val(data.FirstName);
            $('#lName').val(data.LastName);
            $('#phone').val(data.MobileNumber);
            $('#email').val(data.EmailAddress);
            $("#ddlInitials [value=" + data.Gender + "]").attr("selected", "true");
            $('#idDetails').val(data.GuestMappings[0].IDDETAILS);
            $("#ddlIdType [value=" + data.GuestMappings[0].IdType.ID + "]").attr("selected", "true");
            gcm.MakeGuestInfoReadOnly(true);
            // clear guest history if guest id is not present
            gcm.AutoCollapseGuestHistory();
        }

        function clearGuestUi() {
            gcm.MakeGuestInfoReadOnly(false);
            $('#fName').val('');
            $('#lName').val('');
            $('#phone').val('');
            $('#email').val('');
            $('#idDetails').val('');
            window.GuestCheckinManager.BookingDto.GuestId = null;
            // clear guest history if guest id is not present
            gcm.AutoCollapseGuestHistory();
        }

        function init() {

            if (!pmsSession.GetItem("roomtypedata")) {
                gcm.GetRoomTypes();
            } else {
                var roomTypeData = window.PmsSession.GetItem("roomtypedata");
                var roomTypes = $.parseJSON(roomTypeData);
                gcm.BindRoomTypeDdl($('#roomTypeDdl'), roomTypes);
            }

            if (!pmsSession.GetItem("roomratedata")) {
                Notifications.SubscribeActive("on-roomrate-get-success", function (sender, args) {
                    gcm.BindRateTypeDdl($('#rateTypeDdl'));
                });
                gcm.GetRoomRateByProperty();
            } else {
                gcm.BindRateTypeDdl($('#rateTypeDdl'));
            }

            gcm.GetCountry($('#ddlCountry'));
            gcm.GetStateByCountry(-1);
            gcm.GetCityByState(-1);

            //if user is navigated to checkin screen from dashboard screen with bookingid in session storage
            if (pmsSession.GetItem("bookingId")) {
                $('#btnCheckin').attr("disabled", true);
                $('#btnSave').attr("disabled", true);
                $('#btnCheckout').attr("disabled", false);
                var bookingId = pmsSession.GetItem("bookingId");                
                gcm.GetBookingById(bookingId);
            }

            //once bookingId is retrive then clear sessionstorage
            pmsSession.RemoveItem("bookingId");

            //if user is navigated to checkin screen from dashboard screen
            if (pmsSession.GetItem("dtcheckin") && pmsSession.GetItem("dtcheckout")) {
                $("#dateFrom").val(pmsSession.GetItem("dtcheckin"));
                $("#dateTo").val(pmsSession.GetItem("dtcheckout"));
            }

            //once value is set in input date then clear sessionstorage
            pmsSession.RemoveItem("dtcheckin");
            pmsSession.RemoveItem("dtcheckout");

            $("#fName").prop("readonly", false);
            $("#lName").prop("readonly", false);            
        }

        $(document).ready(function () {

            init();           

            $('#divInvoice').on("click", ".tableRow-remove", function () {
                $(this).parents('tr').detach();
                gcm.CalculateInvoice();
            });

            $('#divInvoice').on("click", ".table-add", function (e) {
                var cloneHtmlElement = $('#divInvoice').find('tr#trOthertax:first').clone(true).removeClass('remove');
                cloneHtmlElement[0].style = 'display:block';
                $('#divInvoice').find('#trDiscount').before(cloneHtmlElement);
                e.stopPropagation();
            });

            $('#divInvoice').on("click", "#addPaymentType", function (e) {
                if ($('#paymentTypeDdl').val() === -1 || $('#paymentVal').val() <= 0) {
                    alert('Please select proper payment type or value.');
                    return;
                }
                var cloneHtmlElement = $('#divInvoice').find('tr#trPaymentTypeOther:last').clone(true);
                cloneHtmlElement[0].style = 'display:block';
                $('#divInvoice').find('#trPayment').before(cloneHtmlElement);
                e.stopPropagation();
            });

            $("#loadInvoice").click(function () {
                $('.img-no-available').hide();
                var invoiceId = window.GuestCheckinManager.BookingDto.InvoiceId ? window.GuestCheckinManager.BookingDto.InvoiceId : -1;
                if (invoiceId === -1) {
                    $('#rateTypeDdl').attr("disabled", false);
                    gcm.GetPaymentCharges();
                }
                else {
                    gcm.GetInvoiceById(invoiceId);
                }
            });

            $("#saveInvoice").click(function () {
                gcm.AddInvoice();
            });
            
            $("#btnRefresh").click(function () {
                if (confirm("Do you want clear unsaved booking data ?")) {
                    gcm.ClearAllFields();
                }                
            });

            $("#btnCheckin").click(function () {
                gcm.AddBooking('booked');
            });

            $("#btnSave").click(function () {
                gcm.AddBooking('booked');
            });

            $("#btnReserved").click(function () {
                gcm.AddBooking('reserved');
            });

            $("#uploadPhoto").change(function () {
                previewImage(this);
            });

            $('#searchGuest').keyup(function (e) {
                if ($('#searchGuest').val() === '') {
                    clearGuestUi();
                }
            });

            var filtereGuestdata = [];           
            $('#searchGuest').autocomplete({
                //This shows the min length of charcters that must be typed 
                //before the autocomplete looks for a match.
                minLength: 4,
                source: function (request, response) {
                    filtereGuestdata = gcm.SearchGuest();
                    response($.map(filtereGuestdata, function (value, key) {
                        return {
                            label: value.LastName + ", " + value.FirstName,
                            value: value.Id
                        }
                    }));
                },
                select: function (event, ui) {
                    var data = filtereGuestdata;
                    idx = gcm.CheckIfKeyPresent(ui.item.value, data);
                    var selectedGuestObject = data[idx];
                    if (!selectedGuestObject) return false;

                    $('#searchGuest').val(ui.item.label);
                    window.GuestCheckinManager.BookingDto.GuestId = ui.item.value;
                    populateGuestUi(selectedGuestObject);
                    return false;
                }
            });

            $('#phone').keydown(function (e) {
                gcm.IsNumeric(e);
            });

            $('#zipCode').keydown(function (e) {
                gcm.IsNumeric(e);
            });

            $("#dateFrom").focus(function () {                
                var thisCalendar = $(this);
                //thisCalendar.click(function () {
                //    OnCmbHourlyCheckInChange();
                //});

                //thisCalendar.button.click(function () {s
                //    OnCmbHourlyCheckInChange();
                //});


                //$('.ui-datepicker-calendar').detach();
                //$('.ui-datepicker-close').click(function () {                    
                //    var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
                //    var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
                //    thisCalendar.datepicker('setDate', new Date(year, month, 1));

                //    if (gcm.ShouldCallGetRoomApi()) {
                //        pmsSession.RemoveItem("roomdata");
                //        gcm.GetRoomByDate();
                //    }
                //});

                OnCmbHourlyCheckInChange();
               
            });


            //$("#dateTo").focus(function () {
            //    var thisCalendar = $(this);
            //    //$('.ui-datepicker-calendar').detach();
            //    $('.ui-datepicker-close').click(function () {
            //        var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
            //        var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
            //        thisCalendar.datepicker('setDate', new Date(year, month, 1));

            //        if (gcm.ShouldCallGetRoomApi()) {
            //            pmsSession.RemoveItem("roomdata");
            //            gcm.GetRoomByDate();
            //        }
            //    });
            //});
        });

    </script>
    <div class="content-wrap">
        <div class="main controls">
            <div class="container-fluid">
                <div class="main-content">
                    <div class="row">
                        <div class="col-lg-8 p-r-0">
                            @Html.Partial("_RoomDetails")<!-- /# column -->
                            @Html.Partial("_GuestDetails")
                        </div>
                        <div class="col-lg-4">
                            @Html.Partial("_PaymentSummary")
                        </div>
                        </div><!-- /# column -->
                </div>
                <div class="row">
                    @Html.Partial("_GuestHistory")<!-- /# column -->

                </div><!-- /# row -->                
            </div><!-- /# main content -->
        </div><!-- /# container-fluid -->
    </div><!-- /# main -->
    <div class="footer-nav">
        <div class="show">
            <input id="btnRefresh" type="button" class="btn btn-primary m-b-10 m-l-5" value="New Booking" />
            <input id="btnCheckin" type="button" class="btn btn-primary m-b-10 m-l-5" value="Checkin" />
            <input id="btnCheckout" disabled="disabled" type="button" class="btn btn-primary m-b-10 m-l-5" value="Checkout" />
            <input id="btnSave" disabled="disabled" type="button" class="btn btn-primary m-b-10 m-l-5" value="Save" />
            <input id="btnReserved" type="button" class="btn btn-primary m-b-10 m-l-5" value="Reservation" />
        </div>
    </div>

<div id="divLoader">
    <div class="loader" style="display:none;">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
    </div>
</div>