    @{
        ViewBag.Title = "Guest Checkin";
    }
    <script type='text/javascript'>
        var gcm = window.GuestCheckinManager;
        var pmsSession = window.PmsSession;
        var invoiceId = -1;
        var bookingIdFromQp = -1;

        function OnPropertyChange() {
            gcm.ClearExistingSessionStorage();
            gcm.ClearAllFields();
            //set property id on property ddl selection
            pmsSession.SetItem("propertyid", $('#ddlGlobalProperty').val());
            gcm.SetPropertyLogo($('#ddlGlobalProperty').val(), $('#imgPropLogo'));
            gcm.Initialize();
            init();
        }

        function OnHistoryClick() {
            // call api only when expand event is fire
            if ($('#collapse1').attr('aria-expanded') != 'false') return;
            gcm.GetGuestHistory();
        }

        function validateNumeric(e) {
            gcm.IsNumeric(e);
        }

        $('#phone').keydown(function (e) {
            gcm.IsNumeric(e);
        });


        function OnChkTaxIncludeChange(e, htmlElement) {
            gcm.CalculateInvoice();
        }

        function OnTaxValChange(e, htmlElement, isElementDiscountAmt) {
            if (!htmlElement.value || htmlElement.value.trim() === "" || isNaN(htmlElement.value)) {
                htmlElement.value = '';
            }
            gcm.CalculateInvoice(isElementDiscountAmt);
        }

        function OnTotalChange(e, htmlElement)
        {
            if (!htmlElement.value || htmlElement.value.trim() === "" || isNaN(htmlElement.value)) {
                htmlElement.value = '';
            }
            gcm.BackCalculateInvoice();
        }

        $(function () {

            $("#btnAddGuest").click(function (e) {
                var cloneHtmlElement = $('#divAddDetails').find('#divGuestDetailsClone:first').clone(true);
                cloneHtmlElement[0].style = 'display:block';
                cloneHtmlElement[0].id = 'divGuestDetails' + parseInt($('.add-details').length);
                $('#divAddDetails').find('#divAddGuest').before(cloneHtmlElement);
                e.stopPropagation();
            });
            $('.add-guest-delete').click(function (e) {
                $(this).parents('.add-details').remove();
            });

            $("#datetimepicker1").on("dp.change", function (e) {

                //setTimeout(function () {
                //    $('#datetimepicker2').data("DateTimePicker").minDate(e.date);
                //    if ($('#dateFrom').val() >= $('#dateTo').val() && document.getElementById('hourCheckin').checked == false) {
                //        $('#datetimepicker2').data("DateTimePicker").clear();
                //    }
                //}, 500);
                $('#datetimepicker2').data("DateTimePicker").minDate(e.date);
                shouldCallLoadInvoiceApi();
                if (gcm.ShouldCallGetRoomApi()) {
                    //pmsSession.RemoveItem("roomdata");
                    // call GetRoomByDate api only when roomid doesnt exists in session
                    var roomIdFromDashboard = pmsSession.GetItem("roomid");
                    if (!roomIdFromDashboard) {
                        gcm.GetRoomByDate($('#dateFrom').val(), $('#dateTo').val());
                    }
                }

                var chkHours = document.getElementById('hourCheckin');
                if (chkHours.checked == true) {
                    setCheckoutHours();
                }
                else {
                    setCheckoutDate();
                }

            });

            $("#datetimepicker2").on("dp.change", function (e) {
                shouldCallLoadInvoiceApi();
                if (gcm.ShouldCallGetRoomApi()) {
                    //pmsSession.RemoveItem("roomdata");
                    // call GetRoomByDate api only when roomid doesnt exists in session
                    var roomIdFromDashboard = pmsSession.GetItem("roomid");
                    if (!roomIdFromDashboard) {
                        gcm.GetRoomByDate($('#dateFrom').val(), $('#dateTo').val());
                    }
                }
            });
        });

        function setCheckoutDate()
        {
            if ($('#dateFrom').val() >= $('#dateTo').val()) {
                $('#datetimepicker2').data("DateTimePicker").clear();
            }
        }

        function setCheckoutHours() {
            var checkOutDate = document.getElementById('dateTo');
            var checkInDate = document.getElementById('dateFrom');
            var checkoutHrs = gcm.GetSelectedCheckoutHrs();
            var hrsToAdd = checkoutHrs > 0 ? checkoutHrs : 0;
            var chkHours = document.getElementById('hourCheckin');
            var dt = new Date($('#dateFrom').val());

            if (!dt.toLocaleString().includes("Invalid") && (hrsToAdd != '-1') && (chkHours.checked == true)) {
                //dt.setHours(dt.getHours() + hoursToAdd);
                //TODO: Needs to change it with  correct code base
                var month = dt.getMonth() + 1;
                var day = dt.getDate();
                var dateOutput = (month < 10 ? '0' : '') + month + '/' +
                                 (day < 10 ? '0' : '') + day + '/' +
                                  dt.getFullYear();

                var currentHrs = dt.getHours();
                var am = null;
                var hrs = null;
                if (currentHrs === 0 || currentHrs + hrsToAdd < 12) {
                    hrs = currentHrs + hrsToAdd;
                    am = "am";
                }
                else if (currentHrs + hrsToAdd >= 24) {
                    hrs = currentHrs + hrsToAdd - 24 === 0 ? 12 : currentHrs + hrsToAdd - 24;
                    am = "am";
                }
                else if (currentHrs + hrsToAdd >= 12 && currentHrs + hrsToAdd < 24) {
                    hrs = currentHrs + hrsToAdd - 12 === 0 ? 12 : currentHrs + hrsToAdd - 12;
                    am = "pm";
                }
                var mins = dt.getMinutes() < 10 ? "0" + dt.getMinutes() : dt.getMinutes();
                var time = hrs + ":" + mins + " " + am;
                //checkOutDate.val(dateOutput + ' ' + time);            
                checkOutDate.value = dateOutput + ' ' + time;
            }
        }



        function OnCmbHourlyCheckInChange() {
            setCheckoutHours();
            //var checkOutDate = document.getElementById('dateTo');
            //var checkInDate = document.getElementById('dateFrom');
            //var checkoutHrs = gcm.GetSelectedCheckoutHrs();
            //var hrsToAdd = checkoutHrs > 0 ? checkoutHrs : 0;
            //var chkHours = document.getElementById('hourCheckin');
            //var dt = new Date($('#dateFrom').val());

            //if (!dt.toLocaleString().includes("Invalid") && (hrsToAdd != '-1') && (chkHours.checked == true))
            //{
            //    //dt.setHours(dt.getHours() + hoursToAdd);
            //    //TODO: Needs to change it with  correct code base
            //    var month = dt.getMonth() + 1;
            //    var day = dt.getDate();
            //    var dateOutput = (month < 10 ? '0' : '') + month + '/' +
            //                     (day < 10 ? '0' : '') + day + '/' +
            //                      dt.getFullYear();

            //    var currentHrs = dt.getHours();
            //    var am = null;
            //    var hrs = null;
            //    if (currentHrs === 0 || currentHrs + hrsToAdd < 12) {
            //        hrs = currentHrs + hrsToAdd;
            //        am = "am";
            //    }
            //    else if (currentHrs + hrsToAdd >= 24) {
            //        hrs = currentHrs + hrsToAdd - 24 === 0 ? 12 : currentHrs + hrsToAdd - 24;
            //        am = "am";
            //    }
            //    else if (currentHrs + hrsToAdd >= 12 && currentHrs + hrsToAdd < 24) {
            //        hrs = currentHrs + hrsToAdd - 12 === 0 ? 12 : currentHrs + hrsToAdd - 12;
            //        am = "pm";
            //    }
            //    var mins = dt.getMinutes() < 10 ? "0" + dt.getMinutes() : dt.getMinutes();
            //    var time = hrs + ":" + mins + " " + am;
            //    //checkOutDate.val(dateOutput + ' ' + time);            
            //    checkOutDate.value = dateOutput + ' ' + time; 
            //}
            var selectedHr = $("#hoursComboBox option:selected").text();
            // filter only hourly rate type  
            gcm.FilterRateType($('#rateTypeDdl'), selectedHr);
            shouldCallLoadInvoiceApi();
        }

        function shouldCallLoadInvoiceApi() {
            if (gcm.ShouldShowLoadInvoiceWarning()) {
                gcm.ToggleInvoiceWarning($('#invoiceWarning'), true);
            }
        }

        function OnChkHourlyCheckInChange() {
            gcm.BindRateTypeDdl($('#rateTypeDdl'));
            gcm.FillHourlyDdl($('#hoursComboBox'));

            var cmbHours = document.getElementById("hoursComboBox");
            var chkHours = document.getElementById("hourCheckin");
            var checkOutDate = document.getElementById('dateTo');
            cmbHours.disabled = chkHours.checked ? false : true;
            checkOutDate.disabled = chkHours.checked ? true : false;

            var checkInDate = document.getElementById('dateFrom');
            var dtStart = new Date($('#dateFrom').val());
            var dtEnd = new Date($('#dateTo').val());

            if (!dtStart.toLocaleString().includes("Invalid") && !dtEnd.toLocaleString().includes("Invalid")) {
                //alert(getDays(dtStart, dtEnd));
            }
        }

        function OnCountryChange(ddlCountry, ddlState, ddlCity) {
            gcm.OnCountryChange(ddlCountry, ddlState, ddlCity);
        }

        function OnStateChange(ddlState, ddlCity) {
            gcm.OnStateChange(ddlState, ddlCity);
        }

        function OnRateTypeChange() {
            shouldCallLoadInvoiceApi();
        }

        function OnRoomChange() {
            shouldCallLoadInvoiceApi();
        }

        function OnRoomTypeChange() {
            var ddlRoom = $('#roomddl');
            var roomTypeId = $('#roomTypeDdl').val();
            ddlRoom.empty();
            ddlRoom.append(new Option("Select Room", "-1"));

            if (roomTypeId !== '-1') {
                if (gcm.ShouldCallGetRoomApi()) {
                    //pmsSession.RemoveItem("roomdata");
                    gcm.GetRoomByDate($('#dateFrom').val(), $('#dateTo').val());
                }
                shouldCallLoadInvoiceApi();
            }
        }

        function previewImage(input, imgControl) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    imgControl.attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }

        function populateGuestUi(data) {
            gcm.PopulateGuestDetails(data);
            $('#address').val(data.Address1);
            $('#zipCode').val(data.ZipCode);
            if (data.GuestMappings[0] && data.GuestMappings[0].IDDETAILS) {
                $('#idDetails').val(data.GuestMappings[0].IDDETAILS);
            }
            if (data.GuestMappings[0] && data.GuestMappings[0].IdType && data.GuestMappings[0].IdType.ID) {
                $("#ddlIdType").val(data.GuestMappings[0].IdType.ID);
            }

            if (data.GuestMappings[0] && data.GuestMappings[0].IdExpiryDate) {
                $('#idExpiry').val(data.GuestMappings[0].IdExpiryDate.replace('T', ' '));
            }
            $('#ddlCountry').val(data.Country.Id);
            if (data.GuestMappings[0] && data.GuestMappings[0].IdIssueCountryID) {
                $('#ddlIdCountry').val(data.GuestMappings[0].IdIssueCountryID);
                gcm.BindStateDdl(data.GuestMappings[0].IdIssueCountryID, $('#ddlIdState'));

            }
            if (data.GuestMappings[0] && data.GuestMappings[0].IdIssueStateID) {
                $('#ddlIdState').val(data.GuestMappings[0].IdIssueStateID);
            }
            gcm.BindStateDdl(data.Country.Id, $('#ddlState'));
            gcm.BindCityDdl(data.State.Id, $('#ddlCity'));
            $('#ddlState').val(data.State.Id);
            $('#ddlCity').val(data.City.Id);
            gcm.MakeGuestInfoReadOnly(true);
            // clear guest history if guest id is not present
            gcm.AutoCollapseGuestHistory();
        }

        function clearGuestUi() {
            gcm.MakeGuestInfoReadOnly(false);
            $('#fName').val('');
            $('#lName').val('');
            $('#phone').val('');
            $('#email').val('');
            $('#idDetails').val('');
            $('#imgPhoto').attr('src', '');
            $('#imgAdditionalPhoto').attr('src', '');
            $('#imgPhoto').css('visibility', 'hidden');
            $('#imgPhoto').removeClass('photo-added');
            $('#imgAdditionalPhoto').css('visibility', 'hidden');
            $('#imgAdditionalPhoto').removeClass('photo-added');
            $('#address').val('');
            $('#zipCode').val('');
            $('#idDetails').val('');
            $("#ddlIdType").val(-1);
            $('#idExpiry').val('');
            $('#ddlCountry').val(-1);
            $('#ddlIdCountry').val(-1);
            $('#ddlState').empty();
            $('#ddlIdState').empty();
            $('#ddlCity').empty();
            $('#ddlState').append(new Option("Select State", "-1"));
            $('#ddlIdState').append(new Option("Select State", "-1"));
            $('#ddlCity').append(new Option("Select City", "-1"));
            $('#ddlState').val(-1);
            $('#ddlIdState').val(-1);
            $('#ddlCity').val(-1);
            $('#dob').val('');
            window.GuestCheckinManager.BookingDto.GuestId = null;
            // clear guest history if guest id is not present
            gcm.AutoCollapseGuestHistory();
        }

        function toggleHourlyCbBaseOnTimeDiff(timeDiffInHours) {

            timeDiffInHours = timeDiffInHours + "-hr";
            $('#hourCheckin').attr("checked", "checked");
            OnChkHourlyCheckInChange();
            $("#hoursComboBox option").each(function () {
                if ($(this).text().toLowerCase() === timeDiffInHours.toLowerCase()) {
                    $(this).attr('selected', 'selected');
                }
            });

            var selectedHr = $("#hoursComboBox option:selected").text();
            if (selectedHr == "Select Hrs") {
                $('#hourCheckin').removeAttr('checked');
                OnChkHourlyCheckInChange();
            }
            else {
                var selectedHr = $("#hoursComboBox option:selected").text();
                gcm.FilterRateType($('#rateTypeDdl'), selectedHr);
            }
            //// if hourly cb is checked then show only hourly rate type
            //if ($("#hoursComboBox").selectedIndex > 0) {

            //}
            //else {

            //}
        }

        function init() {
            if (pmsSession.GetItem("propertyid")) {
                gcm.BindInitDropdowns();
            }
            //if user is navigated to checkin screen from dashboard screen with bookingid in session storage
            if (pmsSession.GetItem("bookingId")) {
                $('#btnCheckin').attr("disabled", false);
                $('#btnSave').attr("disabled", true);
                $('#btnCheckout').attr("disabled", false);
                var bookingId = pmsSession.GetItem("bookingId");
                gcm.GetBookingById(bookingId);
            }

            //if user is navigated to checkin screen from booking manage screen with bookingid in QP
            bookingIdFromQp = gcm.GetQueryStringParams("id");
            if (bookingIdFromQp != '' && parseInt(bookingIdFromQp) > 0) {
                gcm.GetBookingById(bookingIdFromQp);
            }

            //if user is navigated to checkin screen from dashboard screen
            if (pmsSession.GetItem("dtcheckin") && pmsSession.GetItem("dtcheckout")
                && pmsSession.GetItem("roomtypeid") && pmsSession.GetItem("roomid")) {

                $("#dateFrom").val(pmsSession.GetItem("dtcheckin").replace('T', ' '));
                $("#dateTo").val(pmsSession.GetItem("dtcheckout").replace('T', ' '));
                var roomTypeId = pmsSession.GetItem("roomtypeid");
                $('#roomTypeDdl').val(roomTypeId);
                if (roomTypeId !== '-1') {
                    if (gcm.ShouldCallGetRoomApi()) {
                        Notifications.SubscribeActive("on-roombydate-get-success-dashboard-roomid", function (sender, args) {
                            var roomId = pmsSession.GetItem("roomid");
                            if (roomId && parseInt(roomId) > 0) {
                                $("#roomddl").val(roomId);
                                //gcm.LoadInvoice();
                            }
                            //Set the hourly checkin information if diference in checkin-checkout is less than 6 hours

                            //var timeDiffInHours = (new Date(pmsSession.GetItem("dtcheckout")).getTime() - new Date(pmsSession.GetItem("dtcheckin")).getTime()) / 3600000;
                            var timeDiffInHours = (new Date($("#dateTo").val()).getTime() - new Date($("#dateFrom").val()).getTime()) / 3600000;


                            if (timeDiffInHours && timeDiffInHours <= 12) {
                                toggleHourlyCbBaseOnTimeDiff(timeDiffInHours);
                            }
                            //once value is set in room ddl then clear sessionstorage
                            pmsSession.RemoveItem("roomid");
                        });
                        gcm.GetRoomByDate($('#dateFrom').val(), $('#dateTo').val());
                    }
                }
            }
            $("#fName").prop("readonly", false);
            $("#lName").prop("readonly", false);
        }

        function printData(data) {
            var printWindow = window.open('', '', '');
            printWindow.document.write('<html><head><title>Print Invoice</title>');

            // Make sure the relative URL to the stylesheet works:
            printWindow.document.write('<base href="' + location.origin + location.pathname + '">');
            printWindow.document.write('</base>');
            // Add the stylesheet link and inline styles to the new document:
            printWindow.document.write('<link rel="stylesheet" href="' + location.origin + '/Content/style.css">');
            printWindow.document.write('<style type="text/css">.style1{width: 100%;}</style>');
            printWindow.document.write('<script type="text/javascript">function autoPrintClose(){window.print(); setTimeout(function () {window.close();}, 500);}<' + '/' + 'script>');
            printWindow.document.write('</head><body onload="autoPrintClose()";>');
            printWindow.document.write(data);
            printWindow.document.write('</body></html>');
            printWindow.document.close();
            return false;
        }

        $(document).ready(function () {

            init();

            $('#divInvoice').on("click", ".tableRow-remove", function () {
                $(this).parents('tr').detach();
                gcm.CalculateInvoice();
            });

            $('#divInvoice').on("click", ".table-add", function (e) {
                var cloneHtmlElement = $('#divInvoice').find('tr#trOthertax:first').clone(true).removeClass('remove');
                cloneHtmlElement[0].style = 'display:block';
                //var ddlExtraChargesSelector = '#' + cloneHtmlElement[0].id + " td" + " select";
                //$(ddlExtraChargesSelector)[0].id = "ddlExtraCharges";
                $('#divInvoice').find('#trDefaultCharges:nth-child(3)').after(cloneHtmlElement);
                $('#' + cloneHtmlElement[0].id + ' td#otherTaxText')[1].focus();
                e.stopPropagation();
            });

            $('#divInvoice').on("click", "#addPaymentType", function (e) {
                var cloneHtmlElement = $('#divInvoice').find('tr#trPaymentTypeOther:last').clone(true);
                cloneHtmlElement[0].style = 'display:block';
                $('#divInvoice').find('#trPayment').before(cloneHtmlElement);
                e.stopPropagation();
            });

            $("#loadInvoice").click(function () {
                gcm.LoadInvoice();
            });

            $("#saveInvoice").click(function () {
                gcm.AddInvoice();
            });

            $("#btnRefresh").click(function () {
                RefreshField(true);
            });

            $("#btnPrintFolio").click(function () {
                if (confirm("Do you want to print folio ?")) {
                    var printableData = gcm.PopulatePrintData("folio");
                    printData(printableData);
                }
            });

            $("#btnPrintInvoiceSummary").click(function () {
                if (confirm("Do you want to print invoice summary ?")) {
                    var printableData = gcm.PopulatePrintData("receipt");
                    printData(printableData);
                }
            });
            $("#btnPrintInvoiceDetail").click(function () {
                if (confirm("Do you want to print invoice detail ?")) {
                    var printableData = gcm.PopulateInvoiceDetail();
                    printData(printableData);
                }
            });
            

            $("#btnCheckin").click(function () {
                if (!gcm.ValidateInputs()) return;
                gcm.LoadInvoice();
                gcm.AddBooking('booked');
            });

            $("#btnCheckout").click(function () {
                var daysDiff = gcm.GetDays(new Date($("#dateFrom").val()), gcm.GetCurrentDate());
                if (daysDiff < 0) {
                    alert('Checkout date can not be greater than today date.');
                    return;
                }

                if (confirm("Do you want checkout ?")) {
                    var balance = $('#balance');
                    var payment = $('#payment');
                    var shouldRefund = false;
                    if (!balance || balance.length <= 0) {
                        alert('Please check the balance amount.');
                        return;
                    }
                    daysDiff = gcm.GetDays(gcm.GetCurrentDate(), new Date($("#dateTo").val()));
                    // if current date is not same as of checkout date
                    if (daysDiff !== 0) {
                        $("#dateTo").val(gcm.GetCurrentDate());
                        Notifications.SubscribeActive("on-checkout-date-change", function (sender, args) {
                            // restoring invoiceid again when invoice is loaded after change in checkout date
                            //window.GuestCheckinManager.BookingDto.InvoiceId = invoiceId;
                            var dueAmt = parseInt($('#balance').val());
                            var refund = false;
                            if (dueAmt > 0) {
                                alert('Checkout can not be initiated without making full payment. Kindly make payment.');
                                $('#payment').focus();
                                return;
                            } else if (dueAmt < 0) {
                                if (confirm("Refund $" + dueAmt + "to the Guest ?")) {
                                    refund = true;
                                }
                                gcm.AddBooking('checkout', refund);
                                RefreshField(false);
                            }
                            else {
                                gcm.AddBooking('checkout');
                                RefreshField(false);
                            }
                        });
                        gcm.LoadInvoice(true);
                    } else {
                        var amt = parseInt(balance.val());
                        if (amt > 0) {
                            alert('Checkout can not be initiated without making full payment. Kindly make payment.');
                            payment.focus();
                            return;
                        } else if (amt < 0) {
                            if (confirm("Refund $" + amt + "to the Guest ?")) {
                                shouldRefund = true;
                            }
                            gcm.AddBooking('checkout', shouldRefund);
                            RefreshField(false);
                        }
                        else {
                            gcm.AddBooking('checkout');
                            RefreshField(false);
                        }
                    }
                }
            });

            $("#btnSave").click(function () {
                if (!gcm.ValidateInputs()) return;
                gcm.LoadInvoice();
                gcm.AddBooking('booked');
            });

            $("#btnReserved").click(function () {
                if (!gcm.ValidateInputs()) return;
                gcm.LoadInvoice();
                gcm.AddBooking('reserved');
            });

            $("#btnCancelReserved").click(function () {
                gcm.CancelReservation();
            });

            $("#uploadPhoto").change(function () {
                $('#imgPhoto').css('visibility', 'visible');
                $('#imgPhoto').addClass('photo-added');
                previewImage(this, $('#imgPhoto'));
            });

            $("#additionalUpload").change(function () {
                $('#imgAdditionalPhoto').css('visibility', 'visible');
                $('#imgAdditionalPhoto').addClass('photo-added');
                previewImage(this, $('#imgAdditionalPhoto'));
            });

            $('#searchGuest').keyup(function (e) {
                if ($('#searchGuest').val() === '') {
                    clearGuestUi();
                }
            });

            var filtereGuestdata = [];
            $('#searchGuest').autocomplete({
                //This shows the min length of charcters that must be typed 
                //before the autocomplete looks for a match.
                minLength: 4,
                source: function (request, response) {
                    filtereGuestdata = gcm.SearchGuest();
                    response($.map(filtereGuestdata, function (value, key) {
                        if (value.GuestMappings[0] && value.GuestMappings[0].IDDETAILS) {
                            var ID = value.GuestMappings[0].IDDETAILS;
                        }
                        else {
                            ID = value.Id;
                        }

                        return {

                            label: ID + ": " + value.LastName + ", " + value.FirstName,
                            value: value.Id
                        }
                    }));
                },
                select: function (event, ui) {
                    var data = filtereGuestdata;
                    idx = gcm.CheckIfKeyPresent(ui.item.value, data);
                    var selectedGuestObject = data[idx];
                    if (!selectedGuestObject) return false;

                    $('#searchGuest').val(ui.item.label);
                    window.GuestCheckinManager.BookingDto.GuestId = ui.item.value;
                    populateGuestUi(selectedGuestObject);
                    return false;
                }
            });

            $('#phone').keydown(function (e) {
                gcm.IsNumeric(e);
            });

            $('#zipCode').keydown(function (e) {
                gcm.IsNumeric(e);
            });
        });


        function RefreshField(ask)
        {
            if (ask) {
                if (confirm("Do you want clear unsaved booking data ?")) {
                    init();
                    gcm.ClearAllFields();
                    gcm.ToggleInvoiceWarning($('#invoiceWarning'), false);
                }
            }
            else {
                init();
                gcm.ClearAllFields();
                gcm.ToggleInvoiceWarning($('#invoiceWarning'), false);
            }
        }
    </script>
<script src="~/Scripts/Scripts/jquery.signalR-2.0.0.min.js"></script>
<script src="http://localhost:9000/signalr/hubs"></script>
<!--Add script to update the page and send messages.-->
<script type="text/javascript">
    $(function () {
        try{
            //Set the hubs URL for the connection
            $.connection.hub.url = "http://localhost:9000/signalr";

            // Declare a proxy to reference the hub.
            var chat = $.connection.myHub;

            chat.client.sendGuestObject = function (guestDetail) {
                    
                   
                $('option', $('#ddlInitials')).each(function () {
                    if ($(this).text() == guestDetail.Title)
                        $('#ddlInitials').val($(this).val());
                });
                    
                $('#fName').val(guestDetail.FirstName);
                $('#lName').val(guestDetail.LastName);
                $('#address').val(guestDetail.Address);
                $('#zipCode').val(guestDetail.Zip);
                $('#phone').val(guestDetail.PhoneNo);
                $('#email').val(guestDetail.EmailId);

                //Country
                $('option', $('#ddlCountry')).each(function () {
                    if ($(this).text() == guestDetail.Country)
                        $('#ddlCountry').val($(this).val());
                });
                $("#ddlCountry").change();               


                //State
               
                $('option', $('#ddlState')).each(function () {
                    if ($(this).text() == guestDetail.State)
                        $('#ddlState').val($(this).val());
                });
                $('#ddlState').change();


                //City
                $('option', $('#ddlCity')).each(function () {
                    if ($(this).text() == guestDetail.City)
                        $('#ddlCity').val($(this).val());
                });



                //Id Details
                $('option', $('#ddlIdCountry')).each(function () {
                    if ($(this).text() == guestDetail.Country)
                        $('#ddlIdCountry').val($(this).val());
                });
                $("#ddlIdCountry").change();

                $('option', $('#ddlIdState')).each(function () {
                    if ($(this).text() == guestDetail.State)
                        $('#ddlIdState').val($(this).val());
                });
                $('#ddlIdState').change();

                $('option', $('#ddlIdType')).each(function () {
                    if ($(this).text() == guestDetail.IdType)
                        $('#ddlIdType').val($(this).val());
                });

                $('#idExpiry').val(guestDetail.ExpiryDate);
                $('#idDetails').val(guestDetail.IdNumber);
                $('#dob').val(guestDetail.DOB);

            };

            chat.client.sendGuestImageObject = function (imageDetails)
            {
                $('#imgPhoto').css('visibility', 'visible');
                $('#imgPhoto').addClass('photo-added');
                var base64String = "data:image/jpeg;base64," + imageDetails.ImageBase64;
                if (base64String) {
                    $('#imgPhoto').attr('src', base64String);
                } else {
                    $('#imgPhoto').css('visibility', 'hidden');
                    $('#imgPhoto').removeClass('photo-added');
                }
            };
            // Start the connection.
            $.connection.hub.start();
        }
        catch(e){}
    });

    
</script>
    <div class="content-wrap">
        <div class="main controls">
            <div class="container-fluid">
                <div class="main-content">
                    <div class="row">
                        <div class="col-lg-8 p-r-0">
                            @Html.Partial("_RoomDetails")<!-- /# column -->
                            @Html.Partial("_GuestDetails")
                            @Html.Partial("_GuestHistory")<!-- /# column -->
                        </div>
                        <div class="col-lg-4">
                            @Html.Partial("_PaymentSummary")
                        </div>
                        </div><!-- /# column -->
                </div>              
            </div><!-- /# main content -->
        </div><!-- /# container-fluid -->
    </div><!-- /# main -->
    <div class="footer-nav">        
        <div class="show">
            <input id="btnRefresh" type="button" class="btn btn-primary m-b-10 m-l-5" value="New Booking" />
            <input id="btnCheckin" type="button" class="btn btn-primary m-b-10 m-l-5" value="Checkin" />
            <input id="btnCheckout" disabled="disabled" type="button" class="btn btn-primary m-b-10 m-l-5" value="Checkout" />
            <input id="btnSave" disabled="disabled" type="button" class="btn btn-primary m-b-10 m-l-5" value="Save" />
            <input id="btnReserved" type="button" class="btn btn-primary m-b-10 m-l-5" value="Reservation" />
            <input id="btnCancelReserved" type="button" class="btn btn-primary m-b-10 m-l-5" style="display:none" value="Cancel Reservation" />
        </div>
    </div>

<div id="divLoader">
    <div class="loader" style="display:none;">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
    </div>
</div>