@{
    ViewBag.Title = "Guest Checkin";
}

<div class="content-wrap">
    <div class="main controls">
        <div class="container-fluid">
            <div class="main-content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card alert">
                            <div class="card-header">
                                <h4>Room Details</h4>
                            </div>
                            <div class="card-body">
                                <div class="basic-elements">
                                    <form>
                                        <div class="row">
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label>Check in</label>
                                                    <input type="text" class="form-control calendar" placeholder="Check in" id="dateFrom">
                                                    <span class="ti-calendar form-control-feedback booking-system-feedback"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label>Check out</label>
                                                    <input type="text" class="form-control calendar" placeholder="Check out" id="dateTo">
                                                    <span class="ti-calendar form-control-feedback booking-system-feedback"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label>Room Type</label>
                                                    <select class="form-control">
                                                        <option>King - Smoking</option>
                                                        <option>King - Non Smoking</option>
                                                        <option>Queen - Double bed Smoking</option>
                                                        <option>Queen - Double bed Non Smoking</option>
                                                        <option>Single Room</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-1">
                                                <div class="form-group">
                                                    <label>Rate Type</label>
                                                    <select class="form-control">
                                                        <option>Weekend</option>
                                                        <option>Weekdays</option>
                                                        <option>Holidays</option>
                                                        <option>Summer</option>
                                                        <option>Winter</option>
                                                        <option>others</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-1">
                                                <div class="form-group">
                                                    <label>Room No.</label>
                                                    <select class="form-control">
                                                        <option>101</option>
                                                        <option>102</option>
                                                        <option>103</option>
                                                        <option>104</option>
                                                        <option>105</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-1">
                                                <div class="form-group">
                                                    <label>Adults</label>
                                                    <select class="form-control">
                                                        <option>0</option>
                                                        <option>1</option>
                                                        <option>2</option>
                                                        <option>3</option>
                                                        <option>4</option>
                                                        <option>5</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-1">
                                                <div class="form-group">
                                                    <label>Children</label>
                                                    <select class="form-control">
                                                        <option>0</option>
                                                        <option>1</option>
                                                        <option>2</option>
                                                        <option>3</option>
                                                        <option>4</option>
                                                        <option>5</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-xs-2 add-btn">
                                                <button type="button" class="btn btn-link btn-flat btn-addon m-b-10 m-l-5"><i class="ti-plus"></i>Add more Room</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div><!-- /# column -->
                    <div class="row1">
                        <div class="col-lg-12">
                            <div class="card alert card-section">
                                <div class="card-body">
                                    <div class="user-profile">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="card-header">
                                                    <h4>Guest Details</h4>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <!-- <ul class="nav nav-tabs" role="tablist">
                                                  <li role="presentation" class="active"><a href="#1" aria-controls="1" role="tab" data-toggle="tab">BASIC DETAILS</a></li>
                                                  <li role="presentation" class=""><a href="#2" aria-controls="2" role="tab" data-toggle="tab">ID PROOF</a></li>
                                                </ul> -->


                                                <div class="col-lg-3">
                                                    <div class="form-group">
                                                        <select class="form-control">
                                                            <option>Mr</option>
                                                            <option>Ms</option>
                                                            <option>Mrs</option>
                                                            <option>Master</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="form-group">
                                                        <input type="text" placeholder="First Name" class="form-control" name="example-input-normal" id="example-input-normal">
                                                    </div>
                                                </div>
                                                <div class="col-lg-5">
                                                    <div class="form-group">
                                                        <input type="text" placeholder="Last Name" class="form-control" name="example-input-normal" id="example-input-normal">
                                                    </div>
                                                </div>
                                                <div class="contact-information">
                                                    <div class="col-lg-12">
                                                        <div class="form-group">
                                                            <input type="text" placeholder="Phone" class="form-control" name="example-input-normal" id="example-input-normal">
                                                        </div>
                                                    </div>
                                                    <div class="address-content">
                                                        <div class="col-lg-12">
                                                            <div class="form-group">
                                                                <textarea class="form-control" rows="3" placeholder="Address"></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="state-content">
                                                        <div class="col-lg-6">
                                                            <div class="form-group">
                                                                <select class="form-control">
                                                                    <option selected="">City</option>
                                                                    <option>1</option>
                                                                    <option>2</option>
                                                                    <option>3</option>
                                                                    <option>4</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <div class="form-group">
                                                                <select class="form-control">
                                                                    <option selected="">State</option>
                                                                    <option>1</option>
                                                                    <option>2</option>
                                                                    <option>3</option>
                                                                    <option>4</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="zipcode-content">
                                                        <div class="col-lg-12">
                                                            <div class="form-group">
                                                                <input type="text" placeholder="ZipCode" class="form-control" name="example-input-normal" id="example-input-normal">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="email-content">
                                                        <div class="col-lg-12">
                                                            <div class="form-group">
                                                                <input type="text" placeholder="Email" class="form-control" name="example-input-normal" id="example-input-normal">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-lg-4">
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <select class="form-control">
                                                            <option selected="">Type of ID</option>
                                                            <option>Passport</option>
                                                            <option>PAN</option>
                                                            <option>Govt Approved ID</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <input type="text" placeholder="Id Number" class="form-control" name="example-input-normal" id="example-input-normal">
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <select class="form-control">
                                                            <option selected="">State</option>
                                                            <option>1</option>
                                                            <option>2</option>
                                                            <option>3</option>
                                                            <option>4</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <select class="form-control">
                                                            <option selected="">Country</option>
                                                            <option>1</option>
                                                            <option>2</option>
                                                            <option>3</option>
                                                            <option>4</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" placeholder="ID Expiry Date" id="id-expiry">
                                                        <span class="ti-calendar form-control-feedback booking-system-feedback cal-pos"></span>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" placeholder="DOB" id="dob">
                                                        <span class="ti-calendar form-control-feedback booking-system-feedback cal-pos"></span>
                                                    </div>
                                                </div>
                                                <div class="col-lg-2 add-btn">
                                                    <button type="button" class="btn btn-link btn-flat btn-addon"><i class="ti-plus"></i>Additional Guest Details</button>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="user-photo m-b-30 photo_submit-container">
                                                    <label class="photo_submit js-photo_submit1">
                                                        <input class="photo_submit-input js-photo_submit-input" type="file" accept="image/*">
                                                        <span class="photo_submit-plus"></span>
                                                        <span class="photo_submit-uploadLabel">Upload photo</span>
                                                        <span class="photo_submit-delete"></span>
                                                    </label>
                                                </div>
                                                <div class="form-group">
                                                    <textarea class="form-control" rows="6" placeholder="Guest Comments"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- /# column -->
                    </div>
                </div><!-- /# column -->
            </div>
            <div class="row">
                <div class="col-lg-6 p-r-0">
                    <div class="card alert m-b-10">
                        <div class="card-header">
                            <h4>Guest History </h4>
                            <div class="card-header-right-icon">
                                <ul>
                                    <ul class="card-option-dropdown dropdown-menu">
                                        <li><a href="#"><i class="ti-loop"></i> Property Name</a></li>
                                        <li><a href="#"><i class="ti-menu-alt"></i> Date</a></li>
                                        <li><a href="#"><i class="ti-pulse"></i> Room Type</a></li>
                                        <li><a href="#"><i class="ti-pulse"></i> Room Rates</a></li>
                                        <li><a href="#"><i class="ti-power-off"></i> Amount Paid</a></li>
                                    </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-body">
                            <table class="table table-responsive table-hover ">
                                <thead>
                                    <tr>
                                        <th>Property Name</th>
                                        <th>Date</th>
                                        <th>Room Type</th>
                                        <th>Room Rates</th>
                                        <th>Amout Paid</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Crystal Inn 1</td>
                                        <td>01/01/2017</td>
                                        <td class="color-success">King Suite</td>
                                        <td>$1200.00</td>
                                        <td>$1400.00</td>
                                    </tr>
                                    <tr>
                                        <td>Crystal Inn 2</td>
                                        <td>12/01/2016</td>
                                        <td class="color-warning">Royal Suite</td>
                                        <td>$1000.00</td>
                                        <td>$1200.00</td>
                                    </tr>
                                    <tr>
                                        <td>Crystal Inn 3</td>
                                        <td>08/05/2016</td>
                                        <td class="color-danger">Delux</td>
                                        <td>$1000.00</td>
                                        <td>$1200.00</td>
                                    </tr>
                                    <tr>
                                        <td>Crystal Inn 4</td>
                                        <td>02/01/2016</td>
                                        <td class="color-warning">Royal Suite</td>
                                        <td>$1000.00</td>
                                        <td>$1200.00</td>
                                    </tr>
                                    <tr>
                                        <td>Crystal Inn 3</td>
                                        <td>08/05/2016</td>
                                        <td class="color-danger">Delux</td>
                                        <td>$1000.00</td>
                                        <td>$1200.00</td>
                                    </tr>
                                    <tr>
                                        <td>Crystal Inn 4</td>
                                        <td>02/01/2016</td>
                                        <td class="color-warning">Royal Suite</td>
                                        <td>$1000.00</td>
                                        <td>$1200.00</td>
                                    </tr>
                                    <tr>
                                        <td>Crystal Inn 3</td>
                                        <td>08/05/2016</td>
                                        <td class="color-danger">Delux</td>
                                        <td>$1000.00</td>
                                        <td>$1200.00</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div><!-- /# column -->
                <div class="col-lg-6">
                    <div class="card alert card-section">
                        <div class="card-header">
                            <h4>Payment Summary</h4>
                        </div>
                        <div id="invoice-bot">
                            <div id="invoice-table">
                                <table class="table table-responsive">
                                    <tbody>
                                        <tr class="tabletitle">
                                            <td class="table-item">
                                                <h2>Item Description</h2>
                                            </td>
                                            <td class="subtotal">
                                                <h2>Sub-total</h2>
                                            </td>
                                        </tr>
                                        <tr class="service">
                                            <td class="tableitem">
                                                Total Room Charge
                                            </td>
                                            <td class="tableitem">
                                                $2800.00
                                            </td>
                                        </tr>
                                        <tr class="service">
                                            <td class="tableitem">
                                                Extra Service
                                            </td>
                                            <td class="tableitem">
                                                $0.00
                                            </td>
                                        </tr>
                                        <tr class="service">
                                            <td class="tableitem">
                                                TAX
                                            </td>
                                            <td class="tableitem">
                                                $75.00
                                            </td>
                                        </tr>
                                        <tr class="service">
                                            <td class="tableitem">
                                                <span class="color-danger">Discount</span>
                                            </td>
                                            <td class="tableitem">
                                                <span class="color-danger">- $200.00</span>
                                            </td>
                                        </tr>
                                        <tr class="tabletitle">
                                            <td class="Rate">
                                                <h2>Total</h2>
                                            </td>
                                            <td class="payment">
                                                <h2 class="">$2,675.00</h2>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!--End Table-->
                            <button type="button" class="btn btn-primary btn-rounded  m-l-5 m-t-15">Print Receipt</button>
                            <button type="button" class="btn btn-primary btn-rounded  m-l-5 m-t-15">Print Folio</button>
                        </div>
                    </div>
                </div>
            </div><!-- /# row -->
        </div><!-- /# main content -->
    </div><!-- /# container-fluid -->
</div><!-- /# main -->