    @{
        ViewBag.Title = "Guest Summary";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
 <script type='text/javascript'>
     var gcm = window.GuestCheckinManager;
     var pmsSession = window.PmsSession;
     $(document).ready(function () {
         getSummary();
         gcm.GetRoomTypes();

         $("#btnSearch").click(function () {
             searchBooking();
         });

         //$("#btnExport").click(function () {
         //    exportBooking();
         //});
     });

     function getSummary()
     {
         var args = {};
         args.PropertyId = $('#ddlGlobalProperty').val();
         args.CurrentDate = gcm.GetCurrentDate().split(' ')[0];
         gcm.GetGuestSummary(args);
     }

     var data = {
         GuestSummary: []
     }
     function OnPropertyChange() {

         gcm.ClearExistingSessionStorage();
         //set property id on property ddl selection
         pmsSession.SetItem("propertyid", $('#ddlGlobalProperty').val());
         gcm.SetPropertyLogo($('#ddlGlobalProperty').val(), $('#imgPropLogo'));
         gcm.Initialize();
         init(); 
     }

     function init() {
         getSummary();
         gcm.GetRoomTypes($('#ddlGlobalProperty').val());
     }
    

     function filterRecords()
     {
         data.GuestSummary = [];

         if (gcm.ReportDto.GuestSummary == null || gcm.ReportDto.GuestSummary.length == 0) return;
         var roomNo = $('#roomNumber').val();
         var roomType = $('#roomTypeDdl').val();
         var guestName = $('#guestName').val();


         for (var i = 0; i < gcm.ReportDto.GuestSummary.length; i++) {
             var row = gcm.ReportDto.GuestSummary[i];
             if (((roomNo && roomNo.length > 0 && row.RoomNumber.indexOf(roomNo) >= 0) || (roomNo == ''))
                 &&
                 ((roomType && roomType.length > 0 && row.RoomTypeID == roomType) || (roomType == '-1'))
                 &&
                 ((guestName && guestName.length > 0 && (row.FirstName.toLowerCase() + row.LastName.toLowerCase()).indexOf(guestName.toLowerCase()) >= 0) || (guestName == ''))
                 )
                 data.GuestSummary.push(row);
         }
     }
     function searchBooking()
     {
         //$('#guestSummary').empty();
         filterRecords();
         gcm.PopulateGuestSummaryGrid(data);
     }

     //function exportBooking()
     //{
     //    filterRecords();
     //    if (data.GuestSummary && data.GuestSummary.length > 0) {
     //        var csv = 'ID#,Room#,RoomType,GuestName,ModeofPayment,Rate,C/OutDate-Time,Blanace,NextReservation\n';
     //        data.GuestSummary.forEach(function (row) {
     //            csv += row.Id
     //                + "," + row.RoomNumber
     //                + "," + row.RoomTypeName
     //                + "," + row.FirstName + " " + row.LastName
     //                + "," + row.ModeOFPayment
     //                + "," + row.Rate
     //                + "," + String(row.CheckinTime).replace('T', ' ') + "/" +  String(row.CheckoutTime).replace('T', ' ')
     //                + "," + row.TotalAmount
     //                + "," + String(row.NextReservation).replace('T', ' ');
     //            csv += "\n";
     //        });

     //        var hiddenElement = document.createElement('a');
     //        hiddenElement.href = 'data:text/csv;charset=utf-8,' + encodeURI(csv);
     //        hiddenElement.target = '_blank';
     //        hiddenElement.download = 'guestSummary.csv';
     //        hiddenElement.click();
     //    }

     //}
 </script> 
<div class="content-wrap">
    <div class="main controls">
        <div class="container-fluid">
            <div class="col-lg-12 p-r-0 p-l-0">
                <div class="card alert create-room">
                    <div class="card-header">
                        <h4>Guest Summary</h4>
                    </div>
                    <div class="card-body room-details">
                        <fieldset class="data-mgmt-section">
                            <legend>Search Criteria:</legend>
                            <div class="row" style="">
                                <div class="col-lg-2 p-r-0">
                                    <div class="form-group">
                                        <label>Room #</label>
                                        <div class="form-group">
                                            <input id="roomNumber" type="text" class="form-control" name="example-input-normal">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 p-r-0">
                                    <div class="form-group">
                                        <label>Room Type</label>
                                        <select id="roomTypeDdl">
                                            <option value="-1">Room Type</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-2 p-r-0">
                                    <div class="form-group">
                                        <label>Guest Name</label>
                                        <div class="form-group">
                                            <input id="guestName" type="text" class="form-control" name="example-input-normal">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 p-t-5">
                                    <div class="form-group btn-set">
                                        <button id="btnSearch" class="btn btn-primary m-t-15 btn-side btn-search-line" type="button">Search</button>
                                        @*<button id="btnExport" class="btn btn-primary m-t-15 btn-side btn-search-line" type="button">Export</button>*@
                                        <a download="guestSummaryReport.xls" class="btn btn-primary m-t-15 btn-side btn-search-line" href="#" onclick="return ExcellentExport.excel(this, 'guestSummary', 'Sheet1');">Export</a>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <!-- Table -->
                        <div id="guestSummary" class="table-data table-responsive">

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="divLoader">
    <div class="loader" style="display:none;">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
    </div>
</div>

<script type="text/html" id="guestSummaryTemplate">
    <table class="table table-hover table-bordered results tableContents table-trans-manage">
        <thead>
            <tr>
                <th id="IDCol">ID #</th>
                <th id="" contenteditable="false">Room #</th>
                <th id="" contenteditable="false">Room Type</th>
                <th id="" contenteditable="false">Guest Name</th>
                <th id="" contenteditable="false">Mode of Payment</th>
                <th id="" contenteditable="false">Rate</th>
                <th id="" contenteditable="false">C/Out Date-Time</th>
                <th id="" contenteditable="false">Balance</th>
                <th id="" contenteditable="false">Next Reservation</th>
            </tr>
        </thead>
        <tbody>
            {{if typeof GuestSummary != "undefined" && GuestSummary != "null" && GuestSummary.length > 0 }}
            {{each GuestSummary}}
            <tr id="${$value.Id}">
                <td class="idRow" contenteditable="false">${$value.Id}</td>
                <td contenteditable="false">${$value.RoomNumber}</td>
                <td contenteditable="false">${$value.RoomTypeName}</td>
                <td contenteditable="false">${$value.FirstName} ${$value.LastName}</td>
                <td contenteditable="false">${$value.ModeOFPayment}</td>
                <td contenteditable="false">${$value.Rate}</td>
                <td contenteditable="false">${String($value.CheckinTime).replace('T', ' ')}/${String($value.CheckoutTime).replace('T', ' ')} </td>
                <td contenteditable="false">${$value.TotalAmount}</td>
                <td contenteditable="false">${String($value.NextReservation).replace('T', ' ')}</td>
            </tr>
            {{/each}}
            {{/if}}
        </tbody>
    </table>
</script>