@{
    ViewBag.Title = "Manage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type='text/javascript'>
    var gcm = window.GuestCheckinManager;

    function makeFieldsReadonly(rowObject) {
        rowObject.attr('contenteditable', 'false');
        rowObject.css('background-color', 'transparent');
    }

    function OnPropertyChange() {
        if ($('#ddlProperty').val() <= 0) {
            alert('Select valid property');
            return;
        }
        window.GuestCheckinManager.PropertySettingResponseDto.RoomTypeSettings = null;
        gcm.FillRoomTypeData($('#ddlRoomType'), $('#ddlProperty').val());
    }

    $(document).ready(function () {

        gcm.GetAllProperty();

        $("#btnShow").click(function () {
            var propertyId = $('#ddlProperty').val();
            var roomType = $("#ddlRoomType option:selected").text();
            var guestName = $('#guestName').val();
            var amountPaid = $('#amountPaid').val();
            var dtRange = $('#dtRange').val();
            var paymentMode = $('#paymentMode').val();
            var status = $('#status').val();
            var bookingTransactionRequestDto = {};
            bookingTransactionRequestDto.StartDate = "05/05/2017 10:16 am";
            bookingTransactionRequestDto.EndDate = "05/06/2017 12:00 am";
            bookingTransactionRequestDto.GuestName = guestName && guestName.trim() !== '' ? guestName : null;
            bookingTransactionRequestDto.RoomType = roomType && roomType.trim() !== '' ? roomType : null;
            bookingTransactionRequestDto.PaymentMode = paymentMode && paymentMode.trim() !== '' ? paymentMode : null;
            bookingTransactionRequestDto.TransactionStatus = status && status.trim() !== '' ? status : 1;
            bookingTransactionRequestDto.TransactionStatus = status && status.trim() !== '' ? status : 1;
            bookingTransactionRequestDto.PropertyId = propertyId;
            gcm.GetBookingTransaction(bookingTransactionRequestDto);
        });

        //$("#divRoom").on("click", ".fa-minus-circle", function () {
        //    if (confirm("Are you sure you want to delete ?")) {
        //        var roomId = $(this).closest('tr')[0].id;
        //        $(this).closest('tr').remove();
        //        if (roomId <= 0) return;
        //        gcm.DeleteRoom(roomId);
        //        if ($('#divRoom tbody tr').length <= 0) {
        //            $('#ddlProperty').val('-1');
        //        }
        //    }
        //});

        //$("#divRoom").on("click", ".fa-pencil-square-o, .fa-floppy-o", function () {
        //    var thisRow = $(this).parent().siblings();
        //    var editOn = $(this).hasClass("editMode");
        //    var bookingId = $(thisRow)[0].innerText;
        //    var propertyId = $('#ddlProperty').val();
        //    var roomRequestDto = {};
        //    roomRequestDto.Rooms = [];

        //    if (editOn == false) {
        //        gcm.OnGridEdit(editOn, $(thisRow), $(this));
        //        makeFieldsReadonly($(thisRow[0]));
        //        makeFieldsReadonly($(thisRow[1]));
        //        makeFieldsReadonly($(thisRow[2]));
        //        makeFieldsReadonly($(thisRow[3]));
        //        makeFieldsReadonly($(thisRow[4]));
        //        makeFieldsReadonly($(thisRow[5]));
        //        makeFieldsReadonly($(thisRow[6]));
        //        makeFieldsReadonly($(thisRow[7]));
        //        makeFieldsReadonly($(thisRow[8]));
        //    } else if (editOn == true) {
        //        var status = $(thisRow)[9].children[0].value;
        //        gcm.OnGridEdit(editOn, $(thisRow), $(this));
        //    }
        //});

    });
</script>

<div class="content-wrap">
    <div class="main controls">
        <div class="container-fluid">
            <div class="col-lg-12 p-r-0 p-l-0">
                <div class="card alert create-room">
                    <div class="card-header">
                        <h4>Data Management</h4>
                    </div>
                    <div class="card-body room-details">
                        <div class="row" style="">
                            <div class="form-group col-lg-5 p-r-5 m-t-10">
                                <label>Search</label>
                                <input type="text" class="search form-control" placeholder="Search by Room Number, Room Type, Floor...">
                            </div>

                            <div class="col-lg-2 p-l-10 p-r-5 m-t-10">
                                <div class="form-group">
                                    <label>Select Property</label>
                                    <select id="ddlProperty" onchange="OnPropertyChange();">
                                        <option value="-1">Select Property</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="">
                            <div class="col-lg-2 p-r-5 m-t-10">
                                <div class="form-group">
                                    <label>Transaction Date Range</label>
                                    <div class="form-group">
                                        <input id="dtRange" type="text" placeholder="Date Range" class="form-control" name="example-input-normal">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 p-l-10 p-r-5 m-t-10">
                                <div class="form-group">
                                    <label>Customer Name</label>
                                    <div class="form-group">
                                        <input id="guestName" type="text" placeholder="Customer Name" class="form-control" name="example-input-normal">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 p-l-10 p-r-5 m-t-10">
                                <div class="form-group">
                                    <label>Select RoomType</label>
                                    <select id="ddlRoomType">
                                        <option value="-1">Select RoomType</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-1 p-l-10 p-r-5 m-t-10">
                                <div class="form-group">
                                    <label>Amount Paid</label>
                                    <div class="form-group">
                                        <input id="amountPaid" type="text" placeholder="Amount Paid" class="form-control" name="example-input-normal">
                                    </div>

                                </div>
                            </div>
                            <div class="col-lg-2 p-l-10 p-r-5 m-t-10">
                                <div class="form-group">
                                    <label>Payment Mode</label>
                                    <div class="form-group">
                                        <input id="paymentMode" type="text" placeholder="Payment Mode" class="form-control" name="example-input-normal">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 p-l-10 p-r-20 m-t-10">
                                <div class="form-group">
                                    <label>Transaction Status</label>
                                    <div class="form-group">
                                        <input id="status" type="text" placeholder="Trans. Status" class="form-control" name="example-input-normal">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-1 p-l-1 m-t-10">
                                <div class="button-section btn-section-form">
                                    <button id="btnShow" type="button" class="btn btn-primary m-l-5 m-t-15">Show Booking</button>
                                </div>
                            </div>
                        </div>
                        <!-- Table -->
                        <div id="divBooking" class="table-data">

                        </div>

                        <!-- Small Table -->
                        <div id="rangeProperty" class="table-data" style="width:60%; margin-top: 4rem;">
                            <table class="table table-hover table-bordered results tableContents">
                                <thead>
                                    <tr>
                                        <th id="IDCol">ID #</th>
                                        <th id="transDate" contenteditable="false">Date Range</th>
                                        <th id="statusCol" contenteditable="false">Status</th>
                                        <th id="customerNameCol" contenteditable="false"># of Records</th>
                                        <th id="amountPaidCol" contenteditable="false">Amount Paid</th>
                                        <th id="taxCollectedCol" contenteditable="false">Tax Collected</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr id="20">
                                        <td class="idRow" contenteditable="false">121#</td>
                                        <td contenteditable="false">11/10/2016 10/11/2016</td>
                                        <td contenteditable="false">Active</td>
                                        <td contenteditable="false">1000</td>
                                        <td contenteditable="false">25000</td>
                                        <td contenteditable="false">2500</td>
                                    </tr>
                                    <tr id="21">
                                        <td class="idRow" contenteditable="false">122#</td>
                                        <td contenteditable="false">11/10/2016 10/11/2016</td>
                                        <td contenteditable="false">Active</td>
                                        <td contenteditable="false">1000</td>
                                        <td contenteditable="false">25000</td>
                                        <td contenteditable="false">2500</td>                                    
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="divLoader">
    <div class="loader" style="display:none;">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
    </div>
</div>

<script type="text/html" id="bookingTemplate">
    <table class="table table-hover table-bordered results tableContents">
        <thead>
            <tr>
                <th id="IDCol">ID #</th>
                <th id="transDate" contenteditable="false">Transaction Date</th>
                <th id="customerNameCol" contenteditable="false">Customer Name</th>
                <th id="amountPaidCol" contenteditable="false">Amount Paid</th>
                <th id="paymentModeCol" contenteditable="false">Mode of Payment</th>
                <th id="roomTypeCol" contenteditable="false">Room Type</th>
                <th id="roomRateCol" contenteditable="false">Room Rate</th>
                <th id="transCol" contenteditable="false">Transaction #</th>
                <th id="taxCollectedCol" contenteditable="false">Tax Collected</th>
                <th id="statusCol" contenteditable="false">Status</th>
                <th class="actionsCol" contenteditable="false"></th>
            </tr>
        </thead>
        <tbody>
            <tr id="20">
                <td class="idRow" contenteditable="false">121#</td>
                <td contenteditable="false">11/10/2016</td>
                <td contenteditable="false">my customer</td>
                <td contenteditable="false">100</td>
                <td contenteditable="false">Cash</td>
                <td contenteditable="false"> </td>
                <td contenteditable="false"> </td>
                <td contenteditable="false">ABC123</td>
                <td contenteditable="false"></td>
                <td contenteditable="false">ACTIVE / INACTIVE</td>
                <td class="finalActionsCol"><i class="fa fa-minus-circle" aria-hidden="true"></i> <i class="fa fa-pencil-square-o" aria-hidden="true"></i> </td>
            </tr>
            <tr id="21">
                <td class="idRow" contenteditable="false">122#</td>
                <td contenteditable="false">11/10/2016</td>
                <td contenteditable="false">my customer</td>
                <td contenteditable="false">100</td>
                <td contenteditable="false">Cash</td>
                <td contenteditable="false"> </td>
                <td contenteditable="false"> </td>
                <td contenteditable="false">ABC123</td>
                <td contenteditable="false"></td>
                <td contenteditable="false">ACTIVE / INACTIVE</td>
                <td class="finalActionsCol"><i class="fa fa-minus-circle" aria-hidden="true"></i> <i class="fa fa-pencil-square-o" aria-hidden="true"></i> </td>
            </tr>
        </tbody>
    </table>
</script>