@{
    ViewBag.Title = "Manage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type='text/javascript'>
    var gcm = window.GuestCheckinManager;
    var statusVal = 1;

    function OnStatusChange(ddlStatus) {
        statusVal = ddlStatus.value;        
    }

    function makeFieldsReadonly(rowObject) {
        rowObject.attr('contenteditable', 'false');
        rowObject.css('background-color', 'transparent');
    }

    function OnPropertyChange() {
        if ($('#ddlProperty').val() <= 0) {
            alert('Select valid property');
            return;
        }
        var divBooking = $('#divBooking');
        divBooking.html('');

        window.GuestCheckinManager.PropertySettingResponseDto.RoomTypeSettings = null;
        gcm.FillRoomTypeData($('#ddlRoomType'), $('#ddlProperty').val());
    }

    $(document).ready(function () {

        gcm.GetAllProperty();

        $("#btnShow").click(function () {
            var propertyId = $('#ddlProperty').val();
            var roomType = $("#ddlRoomType option:selected").text();
            var roomTypeId = $("#ddlRoomType").val();
            var guestName = $('#guestName').val();
            var amountPaid = $('#amountPaid').val();
            var dtRange = $('#dtRange').val();
            var paymentMode = $('#paymentMode').val();
            var status = $('#status').val();
            var bookingTransactionRequestDto = {};
            bookingTransactionRequestDto.StartDate = null;
            bookingTransactionRequestDto.EndDate = null;
            bookingTransactionRequestDto.GuestName = guestName && guestName.trim() !== '' ? guestName : null;
            bookingTransactionRequestDto.RoomType = roomTypeId && roomTypeId !== '-1' ? roomType : null;
            bookingTransactionRequestDto.PaymentMode = paymentMode && paymentMode.trim() !== '' ? paymentMode : null;
            bookingTransactionRequestDto.AmountPaid = amountPaid && amountPaid.trim() !== '' ? AmountPaid : null;
            bookingTransactionRequestDto.TransactionStatus = status && status.trim() !== '' ? status : null;
            bookingTransactionRequestDto.PropertyId = propertyId && propertyId != '-1' ? parseInt(propertyId) : null;
            gcm.GetBookingTransaction(bookingTransactionRequestDto);
        });

        $("#divBooking").on("click", ".fa-minus-circle", function () {
            if (confirm("Are you sure you want to delete ?")) {
                var bookingId = $(this).closest('tr')[0].id;
                $(this).closest('tr').remove();
                if (bookingId <= 0) return;
                gcm.DeleteBooking(bookingId);
                if ($('#divBooking tbody tr').length <= 0) {
                    $('#ddlProperty').val('-1');
                }
            }
        });

        $("#divBooking").on("click", ".fa-pencil-square-o, .fa-floppy-o", function () {
            var thisRow = $(this).parent().siblings();
            var editOn = $(this).hasClass("editMode");
            var bookingId = $(thisRow)[0].innerText;
            var propertyId = $('#ddlProperty').val();
            var bookingTransactionRequestDto = {};

            if (editOn == false) {
                gcm.OnGridEdit(editOn, $(thisRow), $(this));

                var cloneStatus = $('#ddlStatus').clone(true);
                cloneStatus[0].style = 'display:block';
                cloneStatus[0].id = 'ddlStatus' + bookingId;
                var statusSelector = '#' + cloneStatus[0].id;
                $(thisRow)[9].innerText = "";
                $(thisRow[9]).attr('contenteditable', 'false');
                $(thisRow[9]).append(cloneStatus);

                makeFieldsReadonly($(thisRow[0]));
                makeFieldsReadonly($(thisRow[1]));
                makeFieldsReadonly($(thisRow[2]));
                makeFieldsReadonly($(thisRow[3]));
                makeFieldsReadonly($(thisRow[4]));
                makeFieldsReadonly($(thisRow[5]));
                makeFieldsReadonly($(thisRow[6]));
                makeFieldsReadonly($(thisRow[7]));
                makeFieldsReadonly($(thisRow[8]));

                $(document).on('change', statusSelector, function () {
                    OnStatusChange($(cloneStatus)[0]);
                });

            } else if (editOn == true) {
                var status = $(thisRow)[9].children[0].value;
                gcm.OnGridEdit(editOn, $(thisRow), $(this));
            }
        });

    });
</script>

<div class="content-wrap">
    <div class="main controls">
        <div class="container-fluid">
            <div class="col-lg-12 p-r-0 p-l-0">
                <div class="card alert create-room">
                    <div class="card-header">
                        <h4>Data Management</h4>
                    </div>
                    <div class="card-body room-details">
                        <div class="row" style="">
                            <div class="form-group col-lg-5 p-r-5 m-t-10">
                                <label>Search</label>
                                <input type="text" class="search form-control" placeholder="Search by Room Number, Room Type, Floor...">
                            </div>

                            <div class="col-lg-2 p-l-10 p-r-5 m-t-10">
                                <div class="form-group">
                                    <label>Select Property</label>
                                    <select id="ddlProperty" onchange="OnPropertyChange();">
                                        <option value="-1">Select Property</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="">
                            <div class="col-lg-2 p-r-5 m-t-10">
                                <div class="form-group">
                                    <label>Transaction Date Range</label>
                                    <div class="form-group">
                                        <input id="dtRange" type="text" placeholder="Date Range" class="form-control" name="example-input-normal">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 p-l-10 p-r-5 m-t-10">
                                <div class="form-group">
                                    <label>Customer Name</label>
                                    <div class="form-group">
                                        <input id="guestName" type="text" placeholder="Customer Name" class="form-control" name="example-input-normal">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 p-l-10 p-r-5 m-t-10">
                                <div class="form-group">
                                    <label>Select RoomType</label>
                                    <select id="ddlRoomType">
                                        <option value="-1">Select RoomType</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-1 p-l-10 p-r-5 m-t-10">
                                <div class="form-group">
                                    <label>Amount Paid</label>
                                    <div class="form-group">
                                        <input id="amountPaid" type="text" placeholder="Amount Paid" class="form-control" name="example-input-normal">
                                    </div>

                                </div>
                            </div>
                            <div class="col-lg-2 p-l-10 p-r-5 m-t-10">
                                <div class="form-group">
                                    <label>Payment Mode</label>
                                    <div class="form-group">
                                        <input id="paymentMode" type="text" placeholder="Payment Mode" class="form-control" name="example-input-normal">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 p-l-10 p-r-20 m-t-10">
                                <div class="form-group">
                                    <label>Transaction Status</label>
                                    <div class="form-group">
                                        <input id="status" type="text" placeholder="Trans. Status" class="form-control" name="example-input-normal">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-1 p-l-1 m-t-10">
                                <div class="button-section btn-section-form">
                                    <button id="btnShow" type="button" class="btn btn-primary m-l-5 m-t-15">Show Booking</button>
                                </div>
                            </div>
                        </div>
                        <!-- Table -->
                        <div id="divBooking" class="table-data">

                        </div>

                        <!-- Small Table -->
                        <div id="rangeProperty" class="table-data" style="width:60%; margin-top: 4rem;">
                            <table class="table table-hover table-bordered results tableContents">
                                <thead>
                                    <tr>
                                        <th id="IDCol">ID #</th>
                                        <th id="transDate" contenteditable="false">Date Range</th>
                                        <th id="statusCol" contenteditable="false">Status</th>
                                        <th id="customerNameCol" contenteditable="false"># of Records</th>
                                        <th id="amountPaidCol" contenteditable="false">Amount Paid</th>
                                        <th id="taxCollectedCol" contenteditable="false">Tax Collected</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr id="20">
                                        <td class="idRow" contenteditable="false">121#</td>
                                        <td contenteditable="false">11/10/2016 10/11/2016</td>
                                        <td contenteditable="false">Active</td>
                                        <td contenteditable="false">1000</td>
                                        <td contenteditable="false">25000</td>
                                        <td contenteditable="false">2500</td>
                                    </tr>
                                    <tr id="21">
                                        <td class="idRow" contenteditable="false">122#</td>
                                        <td contenteditable="false">11/10/2016 10/11/2016</td>
                                        <td contenteditable="false">Active</td>
                                        <td contenteditable="false">1000</td>
                                        <td contenteditable="false">25000</td>
                                        <td contenteditable="false">2500</td>                                    
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="divLoader">
    <div class="loader" style="display:none;">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
    </div>
</div>

<select style="display:none" id="ddlStatus" class="form-control">
    <option value="1">Active</option>
    <option value="0">Inactive</option>
</select>

<script type="text/html" id="bookingTemplate">
    <table class="table table-hover table-bordered results tableContents">
        <thead>
            <tr>
                <th id="IDCol">ID #</th>
                <th id="transDate" contenteditable="false">Transaction Date</th>
                <th id="customerNameCol" contenteditable="false">Customer Name</th>
                <th id="amountPaidCol" contenteditable="false">Amount Paid</th>
                <th id="paymentModeCol" contenteditable="false">Mode of Payment</th>
                <th id="roomTypeCol" contenteditable="false">Room Type</th>
                <th id="roomRateCol" contenteditable="false">Room Rate</th>
                <th id="transCol" contenteditable="false">Transaction #</th>
                <th id="taxCollectedCol" contenteditable="false">Tax Collected</th>
                <th id="statusCol" contenteditable="false">Status</th>
            </tr>
        </thead>
        <tbody>
            {{if typeof Bookings != "undefined" && Bookings != "null" && Bookings.length > 0 }}
            {{each Bookings}}
            <tr id="${$value.Id}">
                <td class="idRow" contenteditable="false">${$value.Id}</td>
                <td contenteditable="false">${String($value.CheckinTime).replace('T', ' ')}</td>
                <td contenteditable="false">${$value.RoomBookings[0].Guest.FirstName}</td>
                <td contenteditable="false">${$value.Invoice.TotalAmount}</td>
                <td contenteditable="false">${$value.Invoice.InvoicePaymentDetails[0].PaymentMode}</td>
                <td contenteditable="false">${$value.RoomBookings[0].Room.RoomType.Name}</td>
                <td contenteditable="false">${$value.RateType.Rates[0].Value} </td>
                <td contenteditable="false">${$value.Id}</td>
                <td contenteditable="false">${$value.Invoice.InvoiceTaxDetails[0].TaxAmount}</td>
                <td contenteditable="false">{{if $value.IsActive }}Active{{else}}Inactive{{/if}}</td>
            </tr>
            {{/each}}
            {{/if}}
        </tbody>
    </table>
</script>