@{
    ViewBag.Title = "Manage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type='text/javascript'>
    var gcm = window.GuestCheckinManager;
    var statusVal = 1;

    function OnStatusChange(ddlStatus) {
        statusVal = ddlStatus.value;        
    }

    function makeFieldsReadonly(rowObject) {
        rowObject.attr('contenteditable', 'false');
        rowObject.css('background-color', 'transparent');
    }

    function OnPropertyChange() {
        var divBooking = $('#divBooking');
        divBooking.html('');

        var rangeProperty = $('#rangeProperty');
        rangeProperty.html('');
        
        window.GuestCheckinManager.PropertySettingResponseDto.RoomTypeSettings = null;
        gcm.FillRoomTypeData($('#ddlRoomType'), $('#ddlGlobalProperty').val());
    }

    function searchBooking() {
        var propertyId = $('#ddlGlobalProperty').val();
        var roomType = $("#ddlRoomType option:selected").text();
        var roomTypeId = $("#ddlRoomType").val();
        var guestName = $('#guestName').val();
        var amountPaid = $('#amountPaid').val();
        var dtRange = $('#dtRange').val();
        var paymentMode = $('#paymentMode').val();
        var status = $('#ddlStatus').val();
        var dateFrom = $('#dateFrom').val();
        var dateTo = $('#dateTo').val();
        var bookingTransactionRequestDto = {};
        bookingTransactionRequestDto.StartDate = dateFrom && dateFrom.trim() !== '' ? dateFrom : null;
        bookingTransactionRequestDto.EndDate = dateTo && dateTo.trim() !== '' ? dateTo : null;
        bookingTransactionRequestDto.GuestName = guestName && guestName.trim() !== '' ? guestName : null;
        bookingTransactionRequestDto.RoomType = roomTypeId && roomTypeId !== '-1' ? roomType : null;
        bookingTransactionRequestDto.PaymentMode = paymentMode && paymentMode.trim() !== '' ? paymentMode : null;
        bookingTransactionRequestDto.AmountPaid = amountPaid && amountPaid.trim() !== '' ? AmountPaid : null;
        bookingTransactionRequestDto.TransactionStatus = status != "-1" ? parseInt(status) : null;
        bookingTransactionRequestDto.PropertyId = propertyId && propertyId != '-1' ? parseInt(propertyId) : null;
        gcm.GetBookingTransaction(bookingTransactionRequestDto);
    }

    $(document).ready(function () {

        gcm.FillRoomTypeData($('#ddlRoomType'), $('#ddlGlobalProperty').val());

        $("#btnSearch").click(function () {
            searchBooking();
        });

        $("#divBooking").on("click", ".fa-minus-circle", function () {
            if (confirm("Are you sure you want to delete ?")) {
                var bookingId = $(this).closest('tr')[0].id;
                $(this).closest('tr').remove();
                if (bookingId <= 0) return;
                gcm.DeleteBooking(bookingId);
                if ($('#divBooking tbody tr').length <= 0) {
                    $('#ddlGlobalProperty').val('-1');
                }
            }
        });

        $("#divBooking").on("click", ".fa-pencil-square-o, .fa-floppy-o", function () {
            var thisRow = $(this).parent().siblings();
            var editOn = $(this).hasClass("editMode");
            var bookingId = $(thisRow)[0].innerText;
            var propertyId = $('#ddlGlobalProperty').val();

            if (editOn == false) {
                gcm.OnGridEdit(editOn, $(thisRow), $(this));
                var statusReturnFromDb = $(thisRow)[9].innerText === "Active" ? 1 : 0;
                var cloneStatus = $('#ddlStatus').clone(true);
                cloneStatus[0].style = 'display:block';
                cloneStatus[0].id = 'ddlStatus' + bookingId;
                var statusSelector = '#' + cloneStatus[0].id;
                $(thisRow)[9].innerText = "";
                $(thisRow[9]).attr('contenteditable', 'false');
                $(thisRow[9]).append(cloneStatus);

                makeFieldsReadonly($(thisRow[0]));
                makeFieldsReadonly($(thisRow[1]));
                makeFieldsReadonly($(thisRow[2]));
                makeFieldsReadonly($(thisRow[3]));
                makeFieldsReadonly($(thisRow[4]));
                makeFieldsReadonly($(thisRow[5]));
                makeFieldsReadonly($(thisRow[6]));
                makeFieldsReadonly($(thisRow[7]));
                makeFieldsReadonly($(thisRow[8]));

                $(document).on('change', statusSelector, function () {
                    OnStatusChange($(cloneStatus)[0]);
                });

                $(statusSelector).val(statusReturnFromDb);

            } else if (editOn == true) {
                var bookingStatusRequestDto = {};
                var status = parseInt($(thisRow)[9].children[0].value);
                bookingStatusRequestDto.Status = status;
                bookingStatusRequestDto.BookingId = bookingId;
                bookingStatusRequestDto.PropertyId = propertyId;                
                gcm.OnGridEdit(editOn, $(thisRow), $(this));
                Notifications.SubscribeActive("on-booking-status-success", function (sender, args) {
                    searchBooking();
                });
                gcm.UpdateBookingStatus(bookingStatusRequestDto);
            }
        });

    });
</script>

<div class="content-wrap">
    <div class="main controls">
        <div class="container-fluid">
            <div class="col-lg-12 p-r-0 p-l-0">
                <div class="card alert create-room">
                    <div class="card-header">
                        <h4>Data Management</h4>
                    </div>
                    <div class="card-body room-details">
                        <fieldset class="data-mgmt-section">
                            <legend>Search Criteria:</legend>
                            <div class="row" style="">
                                <div class="col-md-2 p-r-0">
                                    <div class="form-group">
                                        <div class='input-group date' id='datetimepicker1'>
                                            <label>Start Date &nbsp;&nbsp;</label>
                                            <input id="dateFrom" type='text' class="form-control calendar" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                        <script type="text/javascript">
                                            $(function () {
                                                $('#datetimepicker1').datetimepicker();
                                            });
                                        </script>
                                    </div>
                                </div>
                                <div class="col-md-2 p-r-0">
                                    <div class="form-group">
                                        <div class='input-group date' id='datetimepicker2'>
                                            <label>End Date</label>
                                            <input id="dateTo" type='text' class="form-control calendar" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                        <script type="text/javascript">
                                            $(function () {
                                                $('#datetimepicker2').datetimepicker();
                                            });
                                        </script>
                                    </div>
                                </div>
                                <div class="col-lg-2 p-r-0">
                                    <div class="form-group">
                                        <label>Customer Name</label>
                                        <div class="form-group">
                                            <input id="guestName" type="text" class="form-control" name="example-input-normal">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 p-r-0">
                                    <div class="form-group">
                                        <label>Room Type</label>
                                        <select id="ddlRoomType">
                                            <option value="-1">Room Type</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-2 p-r-0">
                                    <div class="form-group">
                                        <label>Amount Paid</label>
                                        <div class="form-group">
                                            <input id="amountPaid" type="text" class="form-control" name="example-input-normal">
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="row" style="">
                                <div class="col-lg-2 p-r-0 p-t-10">
                                    <div class="form-group">
                                        <label>Payment Mode</label>
                                        <div class="form-group">
                                            <input id="paymentMode" type="text" class="form-control" name="example-input-normal">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 p-r-0 p-t-10">
                                    <div class="form-group">
                                        <label>Transaction Status</label>
                                        <select id="ddlStatus">
                                            <option value="-1">Select Status</option>
                                            <option value="1">Active</option>
                                            <option value="0">Inactive</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-2 p-t-10">
                                    <div class="form-group">
                                        <button id="btnSearch" class="btn btn-primary m-t-15 btn-side btn-search-line" type="button">Search</button>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <!-- Table -->
                        <div id="divBooking" class="table-data">

                        </div>

                        <!-- Small Table -->
                        <div id="rangeProperty" class="table-data" style="width:60%; margin-top: 4rem;">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="divLoader">
    <div class="loader" style="display:none;">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
    </div>
</div>

<script type="text/html" id="bookingTemplate">
    <table class="table table-hover table-bordered results tableContents table-trans-manage">
        <thead>
            <tr>
                <th id="IDCol">ID #</th>
                <th id="transDate" contenteditable="false">Transaction Date</th>
                <th id="customerNameCol" contenteditable="false">Customer Name</th>
                <th id="amountPaidCol" contenteditable="false">Amount Paid</th>
                <th id="paymentModeCol" contenteditable="false">Mode of Payment</th>
                <th id="roomTypeCol" contenteditable="false">Room Type</th>
                <th id="roomRateCol" contenteditable="false">Room Rate</th>
                <th id="transCol" contenteditable="false">Transaction #</th>
                <th id="taxCollectedCol" contenteditable="false">Tax Collected</th>
                <th id="statusCol" contenteditable="false">Status</th>
            </tr>
        </thead>
        <tbody>
            {{if typeof Bookings != "undefined" && Bookings != "null" && Bookings.length > 0 }}
            {{each Bookings}}
            <tr id="${$value.Id}">
                <td class="idRow" contenteditable="false">${$value.Id}</td>
                <td contenteditable="false">${String($value.CheckinTime).replace('T', ' ')}</td>
                <td contenteditable="false">${$value.RoomBookings[0].Guest.FirstName}</td>
                <td contenteditable="false">${$value.Invoice.TotalAmount}</td>
                <td contenteditable="false">${$value.Invoice.InvoicePaymentDetails[0].PaymentMode}</td>
                <td contenteditable="false">${$value.RoomBookings[0].Room.RoomType.Name}</td>
                <td contenteditable="false">${$value.RateType.Rates[0].Value} </td>
                <td contenteditable="false">${$value.Id}</td>
                <td contenteditable="false">${$value.Invoice.InvoiceTaxDetails[0].TaxAmount}</td>
                <td contenteditable="false">{{if typeof $value.IsActive != "undefined" && $value.IsActive }}Active{{else}}Inactive{{/if}}</td>
            </tr>
            {{/each}}
            {{/if}}
        </tbody>
    </table>
</script>

<script type="text/html" id="rangeTemplate">
    <table class="table table-hover table-bordered results tableContents">
        <thead>
            <tr>
                <th id="transDate" contenteditable="false">Date Range</th>
                <th id="statusCol" contenteditable="false">Status</th>
                <th id="customerNameCol" contenteditable="false"># of Records</th>
                <th id="amountPaidCol" contenteditable="false">Amount Paid</th>
                <th id="taxCollectedCol" contenteditable="false">Tax Collected</th>
            </tr>
        </thead>
        <tbody>
            {{if typeof BookingSummary != "undefined" && BookingSummary != "null" && BookingSummary.length > 0 }}
            {{each BookingSummary}}
            <tr>
                <td contenteditable="false">${$value.DateRange}</td>
                <td contenteditable="false">{{if typeof $value.Status != "undefined" && $value.Status }}True{{else}}False{{/if}}</td>                
                <td contenteditable="false">${$value.TotalBooking}</td>
                <td contenteditable="false">${$value.TotalAmount}</td>
                <td contenteditable="false">${$value.TotalTax}</td>
            </tr>
            {{/each}}
            {{/if}}
        </tbody>
    </table>

</script>