@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type='text/javascript'>
    var gcm = window.GuestCheckinManager;
    function makeFieldsReadonly(rowObject) {
        rowObject.attr('contenteditable', 'false');
        rowObject.css('background-color', 'transparent');
    }

    function OnPropertyChange() {
        if ($('#ddlProperty').val() <= 0) {
            alert('Select valid property');
            return;
        }
        gcm.GetExtraCharge($('#ddlProperty').val());
    }

    $(document).ready(function () {

        gcm.GetAllProperty();

        $("#divExtraCharge").on("click", ".fa-plus-circle", function () {
            $(this).closest('tr').after('<tr><td class="idRow" contenteditable="false"></td><td contenteditable="true" style="background-color: rgba(255,255,255,0.7);"></td><td contenteditable="true" style="background-color: #ffc9c9;"></td><td class="finalActionsCol"><i class="fa  fa-plus-circle" aria-hidden="true"></i> <i class="fa fa-minus-circle" aria-hidden="true"></i> <i class="fa fa-floppy-o editMode" aria-hidden="true"></i> </td></tr>');
        });

        $("#divExtraCharge").on("click", ".fa-minus-circle", function () {
            if (confirm("Are you sure you want to delete ?")) {
                var extraChargeId = $(this).closest('tr')[0].id;
                $(this).closest('tr').remove();
                if (extraChargeId <= 0) return;
                gcm.DeleteExtraCharge(extraChargeId);
                if ($('#divExtraCharge tbody tr').length <= 0) {
                    $('#ddlProperty').val('-1');
                }
            }
        });

        $("#divExtraCharge").on("click", ".fa-pencil-square-o, .fa-floppy-o", function () {
            var thisRow = $(this).parent().siblings();
            var editOn = $(this).hasClass("editMode");
            var extraChargeId = $(thisRow)[0].innerText;
            var propertyId = $('#ddlProperty').val();
            var facilityName = $(thisRow)[1].innerText;
            var facilityAmount = $(thisRow)[2].innerText;

            if (editOn == false) {
                gcm.OnGridEdit(editOn, $(thisRow), $(this));
                makeFieldsReadonly($(thisRow[0]));
            } else if (editOn == true) {
                if (!facilityName || facilityName.length <= 0) {
                    alert("Facility Name is required");
                    $(thisRow)[1].focus();
                    return;
                }
                if (isNaN(facilityAmount)) {
                    alert("Value should be numeric");
                    $(thisRow)[2].focus();
                    return;
                }                
                if (!facilityAmount || facilityAmount <= 0) {
                    alert("Value should be greater than 0");
                    $(thisRow)[2].focus();
                    return;
                }
                if (extraChargeId > 0) {
                    var existingExtraCharges = gcm.FindSetting(extraChargeId, window.GuestCheckinManager.PropertySettingResponseDto.ExtraChargeSettings);
                    if (!existingExtraCharges) return;
                    existingExtraCharges.FacilityName = facilityName;
                    existingExtraCharges.Value = facilityAmount;
                    //call UpdateExtraCharge api
                    gcm.UpdateExtraCharge(existingExtraCharges);
                } else {
                    if (propertyId <= 0) {
                        alert("Select valid property");
                        return;
                    }
                    var extraCharges = {};
                    extraCharges.FacilityName = facilityName;
                    extraCharges.Value = facilityAmount;
                    extraCharges.PropertyId = propertyId;
                    Notifications.SubscribeActive("on-extracharge-add-success", function (sender, args) {
                        window.GuestCheckinManager.GetExtraCharge($('#ddlProperty').val());
                    });
                    //call AddExtraCharge api
                    gcm.AddExtraCharge(extraCharges);
                }
                gcm.OnGridEdit(editOn, $(thisRow), $(this));
            }
        });

    });
</script>
<div class="content-wrap">
    <div class="main controls">
        <div class="container-fluid">
            <div class="col-lg-12 p-r-0 p-l-0">
                <div class="card alert">
                    <div class="card-header">
                        <h4>Create Extra Charges</h4>
                    </div>
                    <div class="card-body room-details">
                        <div class="row" style="">
                            <div class="form-group col-lg-8 m-t-10">
                                <label>Search</label>
                                <input type="text" class="search form-control" placeholder="Search by Facility Name...">
                            </div>

                            <div class="col-lg-2 p-l-0 p-r-0 m-t-10">
                                <div class="form-group">
                                    <label>Select Property</label>
                                    <select id="ddlProperty" onchange="OnPropertyChange();">
                                        <option value="-1">Select Property</option>
                                    </select>
                                </div>
                            </div>
                            
                            <div id="divExtraCharge" class="table-data">
                                <span class="counter"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="divLoader">
    <div class="loader" style="display:none;">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
    </div>
</div>
<script type="text/html" id="extrachargeTemplate">
    <table class="table table-hover table-bordered results tableContents">
        <thead>
            <tr>
                <th id="IDCol">ID #</th>
                <th id="facilityNameCol" contenteditable="false">Facility Name</th>
                <th id="valueCol" contenteditable="false">Value</th>
            </tr>
        </thead>
        <tbody>
            {{if typeof ExtraCharges != "undefined" && ExtraCharges != "null" && ExtraCharges.length > 0 }}
            {{each ExtraCharges}}
            <tr id="${$value.Id}">
                <td class="idRow" contenteditable="false">${$value.Id}</td>
                <td contenteditable="false">${$value.FacilityName}</td>
                <td contenteditable="false">${$value.Value}</td>
            </tr>
            {{/each}}
            {{else}}
            <tr>
                <td class="idRow" contenteditable="false"></td>
                <td contenteditable="true" style="background-color: rgba(255,255,255,0.7);"></td>
                <td contenteditable="true" style="background-color: rgba(255,255,255,0.7);"></td>
            </tr>
            {{/if}}
        </tbody>
    </table>
</script>

