@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type='text/javascript'>
    var gcm = window.GuestCheckinManager;
    function makeFieldsReadonly(rowObject) {
        rowObject.attr('contenteditable', 'false');
        rowObject.css('background-color', 'transparent');
    }

    function makeFieldDatePicker(rowObject) {
        rowObject.addClass('gridDatePicker');
        $('.gridDatePicker').datetimepicker();
    }

    function OnPropertyChange() {
        if ($('#ddlProperty').val() <= 0) {
            alert('Select valid property');
            return;
        }
        gcm.FillPaymentMode($('#ddlpayment'), $('#ddlProperty').val());

        searchExpense();


    }

    function searchExpense() {
        var propertyId = $('#ddlProperty').val();
        var minAmountPaid = $('#minAmountPaid').val();
        var maxAmountPaid = $('#maxAmountPaid').val();
        var paymentTypeId = $("#ddlpayment").val();
        var dateFrom = $('#dateFrom').val();
        var dateTo = $('#dateTo').val();
        var getExpenseResponseDto = {};
        getExpenseResponseDto.StartDate = dateFrom && dateFrom.trim() !== '' ? dateFrom : null;
        getExpenseResponseDto.EndDate = dateTo && dateTo.trim() !== '' ? dateTo : null;
        getExpenseResponseDto.PaymentId = paymentTypeId != "-1" ? paymentTypeId : null;
        getExpenseResponseDto.AmountPaidMin = minAmountPaid && minAmountPaid.trim() !== '' ? minAmountPaid : null;
        getExpenseResponseDto.AmountPaidMax = maxAmountPaid && maxAmountPaid.trim() !== '' ? maxAmountPaid : null;
        getExpenseResponseDto.PropertyId = propertyId && propertyId != '-1' ? parseInt(propertyId) : null;
        gcm.GetExpense(getExpenseResponseDto);
    }

    function exportExpense()
    {
        var expenses = window.GuestCheckinManager.PropertySettingResponseDto.ExpenseSettings;
        if (expenses && expenses.length > 0) {
            var csv = 'ID#,Date,Category,ModeofPayment,Amount,Description\n';
            expenses.forEach(function (row) {
                var dtExpense = row.ExpenseDate ? String(row.ExpenseDate).replace('T', ' ') : '';
                csv += row.Id
                    + "," + dtExpense
                    + "," + row.ExpenseCategory.Description
                    + "," + row.PaymentType.Description
                    + "," + row.Amount
                    + "," + row.Description;
                csv += "\n";
            });

            var hiddenElement = document.createElement('a');
            hiddenElement.href = 'data:text/csv;charset=utf-8,' + encodeURI(csv);
            hiddenElement.target = '_blank';
            hiddenElement.download = 'expenses.csv';
            hiddenElement.click();
        }
    }

    $(document).ready(function () {
        $('.gridDatePicker').datetimepicker();

        gcm.GetAllProperty();

        $("#divExpense").on("click", ".fa-plus-circle", function () {
            $(this).closest('tr').after('<tr>'+
                '<td class="idRow" contenteditable="false"></td>'+
                '<td contenteditable="true"  style="background-color: rgba(255,255,255,0.7);">' +
                '<input class="gridDatePicker" id="txtExpenseDate"/>'+
                '</td>' +
                '<td contenteditable="false" style="background-color: rgba(255,255,255,0.7);">'+
                    '<select style="display:block" id="ddlExpenseCategoryAdd" class="form-control">'+
                        '<option value="-1">Select Category</option>'+
                    '</select>'+
                '</td>'+
                '<td contenteditable="false" style="background-color: rgba(255,255,255,0.7);">'+
                    '<select style="display:block" id="ddlPaymentTypeAdd" class="form-control">'+
                        '<option value="-1">Select Payment</option>'+
                    '</select>'+
                '</td>'+
                '<td contenteditable="true" class="decimal" style="background-color: rgba(255,255,255,0.7);"></td>' +
                '<td contenteditable="true" style="background-color: rgba(255,255,255,0.7);"></td>' +
                ' <td class="finalActionsCol">'+
                    '<i class="fa  fa-plus-circle" aria-hidden="true"></i>'+
                    '<i class="fa fa-minus-circle" aria-hidden="true"></i>'+
                    '<i class="fa fa-floppy-o editMode" aria-hidden="true"></i>'+
                '</td>'+
            '</tr>');
            gcm.FillExpenseCategory($('#ddlExpenseCategoryAdd'), $('#ddlProperty').val());
            gcm.FillPaymentMode($('#ddlPaymentTypeAdd'), $('#ddlProperty').val());

            $('.gridDatePicker').datetimepicker();
        });

        $("#divExpense").on("click", ".fa-minus-circle", function () {
            if (confirm("Are you sure you want to delete ?")) {
                var expenseId = $(this).closest('tr')[0].id;
                $(this).closest('tr').remove();
                if (expenseId <= 0) return;
                gcm.DeleteExpense(expenseId);
                if ($('#divExpense tbody tr').length <= 0) {
                    $('#ddlProperty').val('-1');
                }
            }
        });

        $("#divExpense").on("click", ".fa-pencil-square-o, .fa-floppy-o", function () {
            var thisRow = $(this).parent().siblings();
            var editOn = $(this).hasClass("editMode");
            var expenseId = $(thisRow)[0].innerText;
            var propertyId = $('#ddlProperty').val();
            var expenseDate = $(thisRow)[1].innerText;
            var category = $(thisRow)[2].innerText;
            var paymenttype = $(thisRow)[3].innerText;
            var amount = $(thisRow)[4].innerText;
            var comment = $(thisRow)[5].innerText;

            if (editOn == false) {
                gcm.OnGridEdit(editOn, $(thisRow), $(this)); 

                var txtExpenseDate = $('#dateFrom').clone(true);
                txtExpenseDate[0].style = 'display:block';
                txtExpenseDate[0].className = 'gridDatePicker';
                txtExpenseDate[0].id = 'txtExpenseDate' + expenseId;                
                var expenseDateSelector = '#' + txtExpenseDate[0].id;
                $(thisRow)[1].innerText = "";
                $(thisRow[1]).attr('contenteditable', 'false');
                $(thisRow[1]).append(txtExpenseDate);

                makeFieldDatePicker($(thisRow[1]));
                txtExpenseDate[0].value = expenseDate;

                var ddlcategory = $('#ddlcategory').clone(true);
                ddlcategory[0].style = 'display:block';
                ddlcategory[0].id = 'ddlcategory' + expenseId;
                var categorySelector = '#' + ddlcategory[0].id;
                $(thisRow)[2].innerText = "";
                $(thisRow[2]).attr('contenteditable', 'false');
                $(thisRow[2]).append(ddlcategory);

                gcm.FillExpenseCategory($(categorySelector), $('#ddlProperty').val(), function ()
                {
                    $(categorySelector + " option").each(function () {
                        if ($(this).text() == category) {
                            $(this).attr('selected', 'selected');
                        }
                    });
                });
                
                var ddlpayment = $('#ddlpayment').clone(true);
                ddlpayment[0].style = 'display:block';
                ddlpayment[0].id = 'ddlpayment' + expenseId;
                var paymentSelector = '#' + ddlpayment[0].id;
                $(thisRow)[3].innerText = "";
                $(thisRow[3]).attr('contenteditable', 'false');
                $(thisRow[3]).append(ddlpayment);

               

                gcm.FillPaymentMode($(paymentSelector), $('#ddlProperty').val(), function () {
                    $(paymentSelector + " option").each(function () {
                        if ($(this).text() == paymenttype) {
                            $(this).attr('selected', 'selected');
                        }
                    });
                });

                makeFieldsReadonly($(thisRow[0]));
               
            } else if (editOn == true) {
                var categoryId = $(thisRow)[2].children[0].value;
                var paymenttypeId = $(thisRow)[3].children[0].value;
                expenseDate = $(thisRow)[1].children[0].value;
                
                if (!expenseDate || expenseDate.length <= 0 || expenseDate.trim() === "") {
                    alert("Expense Date is required");
                    $(thisRow)[1].focus();
                    return;
                }

                if (!categoryId || categoryId <= 0 ) {
                    alert("Expense Category is required");
                    $(thisRow)[2].focus();
                    return;
                }
                if (!paymenttypeId || paymenttypeId <= 0 ) {
                    alert("payment type is required");
                    $(thisRow)[3].focus();
                    return;
                }
                if (!amount || amount.length <= 0 || amount.trim() === "") {
                    alert("amount is required");
                    $(thisRow)[4].focus();
                    return;
                }
                if (!comment || comment.length <= 0 || comment.trim() === "") {
                    alert("Description is required");
                    $(thisRow)[5].focus();
                    return;
                }
                if (expenseId > 0) {
                    var existingExpense = gcm.FindSetting(expenseId, window.GuestCheckinManager.PropertySettingResponseDto.ExpenseSettings);
                    if (!existingExpense) return;
                    existingExpense.ExpenseCategoryID = categoryId;
                    existingExpense.PaymentTypeID = paymenttypeId;
                    existingExpense.Amount = amount;
                    existingExpense.Description = comment;
                    existingExpense.ExpenseDate = expenseDate;
                    //call UpdateExpense api
                    gcm.UpdateExpense(existingExpense);

                    Notifications.SubscribeActive("on-expense-add-success", function (sender, args) {
                        searchExpense();
                    });
                } else {
                    if (propertyId <= 0) {
                        alert("Select valid property");
                        return;
                    }
                    var expense = {};
                    expense.ExpenseCategoryID = categoryId;
                    expense.PaymentTypeID = paymenttypeId;
                    expense.Amount = amount;
                    expense.Description = comment;
                    expense.PropertyId = propertyId;
                    expense.ExpenseDate = expenseDate;
                    Notifications.SubscribeActive("on-expense-add-success", function (sender, args) {
                       // window.GuestCheckinManager.GetExpense($('#ddlProperty').val());
                        searchExpense();
                    });
                    //call AddExpense api
                    gcm.AddExpense(expense);
                }
                gcm.OnGridEdit(editOn, $(thisRow), $(this));
            }
        });

        $('#divExpense').on('keypress', '.decimal', function (event) {
            return isNumber(event, this);
        });

        $("#btnSearch").click(function () {
            searchExpense();
        });

        $("#btnExport").click(function () {
            exportExpense();
        });

        function isNumber(evt, element) {
            var charCode = (evt.which) ? evt.which : event.keyCode

            if (
                (charCode != 46 || $(element)[0].innerText.indexOf('.') != -1) &&      // “.” CHECK DOT, AND ONLY ONE.
                (charCode < 48 || charCode > 57))
                return false;

            return true;
        }
    });
</script>
<div class="content-wrap">
    <div class="main controls">
        <div class="container-fluid">
            <div class="col-lg-12 p-r-0 p-l-0">
                <div class="card alert">
                    <div class="card-header">
                        <h4>Create Expense</h4>
                    </div>
                    <div class="card-body room-details">
                        

                        <div class="row" style="">
                            <div class="form-group col-lg-8 m-t-10">
                                <label>Search</label>
                                <input type="text" class="search form-control" placeholder="Search by Expense Category, Payment Type...">
                            </div>

                            <div class="col-lg-2 p-l-0 p-r-0 m-t-10">
                                <div class="form-group">
                                    <label>Select Property</label>
                                    <select id="ddlProperty" onchange="OnPropertyChange();">
                                        <option value="-1">Select Property</option>
                                    </select>
                                </div>
                            </div>
                            </div>
                            <fieldset class="data-mgmt-section">
                                <legend>Search Criteria:</legend>
                                <div class="row" style="">
                                    <div class="col-md-2 p-r-0">
                                        <div class="form-group">
                                            <div class='input-group date' id='datetimepicker1'>
                                                <label>Start Date &nbsp;&nbsp;</label>
                                                <input id="dateFrom" type='text' class="form-control calendar" />
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                            <script type="text/javascript">
                                                    $(function () {
                                                        $('#datetimepicker1').datetimepicker();
                                                    });
                                            </script>
                                        </div>
                                    </div>
                                    <div class="col-md-2 p-r-0">
                                        <div class="form-group">
                                            <div class='input-group date' id='datetimepicker2'>
                                                <label>End Date</label>
                                                <input id="dateTo" type='text' class="form-control calendar" />
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                            <script type="text/javascript">
                                                    $(function () {
                                                        $('#datetimepicker2').datetimepicker();
                                                    });
                                            </script>
                                        </div>
                                    </div>

                                    <div class="col-lg-2 p-r-0">
                                        <div class="form-group">
                                            <label>Payment Type</label>
                                            <select id="ddlpayment">
                                                <option value="-1">Select Payment Type</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-1 p-r-0">
                                        <div class="form-group">
                                            <label>Amount</label>
                                            <div class="form-group">
                                                <input id="minAmountPaid" type="text" placeholder="Min" class="form-control decimal" name="example-input-normal">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-1 p-r-0 dash">
                                        <div class="form-group">
                                            <label>&nbsp;</label>
                                            <div class="form-group">
                                                <input id="maxAmountPaid" type="text" placeholder="Max" class="form-control decimal" name="example-input-normal">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 p-t-5">
                                        <div class="form-group btn-set">
                                            <button id="btnSearch" class="btn btn-primary m-l-5 m-t-10 btn-side" type="button">Search</button>
                                            <button id="btnExport" class="btn btn-primary m-l-5 m-t-10 btn-side" type="button">Export</button>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        
                        <div class="row" style="">
                            <div id="divExpense" class="table-data table-responsive">
                                <span class="counter"></span>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="divLoader">
    <div class="loader" style="display:none;">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
    </div>
</div>
<script type="text/html" id="expenseTemplate">
    <table class="table table-hover table-bordered results tableContents">
        <thead>
            <tr>
                <th id="IDCol">ID #</th>
                <th id="dateCol" contenteditable="false">Date</th>
                <th id="categoryCol" contenteditable="false">Category</th>
                <th id="paymentTypeCol" contenteditable="false">Payment Type</th>
                <th id="amountCol" contenteditable="false">Amount</th>
                <th id="commentCol" contenteditable="false">Description</th>
            </tr>
        </thead>
        <tbody>
            {{if typeof Expenses != "undefined" && Expenses != "null" && Expenses.length > 0 }}
            {{each Expenses}}
            <tr id="${$value.Id}">
                <td class="idRow" contenteditable="false">${$value.Id}</td>
                <td contenteditable="false">${String($value.ExpenseDate).replace('T', ' ')}</td>
                <td id=${$value.ExpenseCategory.Id} contenteditable="false">${$value.ExpenseCategory.Description}</td>
                <td id=${$value.PaymentType.Id} contenteditable="false">${$value.PaymentType.Description}</td>
                <td contenteditable="false" class="decimal">${$value.Amount}</td>
                <td contenteditable="false">${$value.Description}</td>
            </tr>
            {{/each}}
            {{else}}
            <tr>
                <td class="idRow" contenteditable="false"></td>
                <td  contenteditable="true" style="background-color: rgba(255,255,255,0.7);">
                    <input class="gridDatePicker" id="txtExpenseDate"/>
                </td>
                <td contenteditable="false" style="background-color: rgba(255,255,255,0.7);">
                    <select style="display:block" id="ddlExpenseCategoryAdd" class="form-control">
                        <option value="-1">Select Category</option>
                    </select>
                </td>
                <td contenteditable="false" style="background-color: rgba(255,255,255,0.7);">
                    <select style="display:block" id="ddlPaymentTypeAdd" class="form-control">
                        <option value="-1">Select Payment</option>
                    </select>
                </td>
                <td contenteditable="true" class="decimal" style="background-color: rgba(255,255,255,0.7);"></td>
                <td contenteditable="true" style="background-color: rgba(255,255,255,0.7);"></td>
            </tr>
            {{/if}}
        </tbody>
    </table>
</script>
<select style="display:none" id="ddlcategory" class="form-control">
    <option value="-1">Select Category</option>
</select>